{% import "quotes.twig" as quotes %}

{% set info = article.additionalInfo %}

{% if (article.hasMedia == 'TRUE' or article.hasPreviewMedia == 'TRUE') and params.imageSuppress == 'false' %}
    <figure class="{{params.figureClass}}">
        <picture>
            <source media="(max-width: 620px)" srcset="{{params.articleImgSmall}}">
            <img class="img-responsive" src="{{params.articleImg}}" data-original="{{params.articleImg}}"  {% if articleImg is not empty %} style="background-image:url('{{params.placeholder}}');" {%endif%}>
        </picture>
    </figure>
{% endif %}

<div class="content">

    {% set contractType = (article.additionalInfo.listing_type | lower == 'buy') ? 'For Sale' : 'For Lease'  %}
    <p class="property__attribute property__attribute--contract">{{ contractType }}</p>

    <h1 class="property__price">${{ info.pricerange | preg_replace("/\\$/", '')}}</h1>
    
    <h2 class="property__address">{{ params.articleTitle }}</h2>

    <ul class="property__spaces">
        {% if info.bedroom_count %}
            <li class="property__spaces-item">
                <img src="{{networkData.templatePath}}/static/icons/property-bed.svg" alt="bedroom count">
                <span class="property__spaces-count property__spaces-count--bedroom">{{info.bedroom_count}}</span>
            </li>
        {% endif %}
        {% if info.bathroom_count %}
            <li class="property__spaces-item">
                <img src="{{networkData.templatePath}}/static/icons/property-bath.svg" alt="bathroom count">
                <span class="property__spaces-count property__spaces-count--bathroom">{{info.bathroom_count}}</span>
            </li>
        {% endif %}
        {% if info.car_count %}
            <li class="property__spaces-item">
                <img src="{{networkData.templatePath}}/static/icons/property-car.svg" alt="car count">
                <span class="property__spaces-count property__spaces-count--car">{{info.car_count}}</span>
            </li>
        {% endif %}

    </ul>

    <div class="cat-time">
        <time datetime="{{params.publishDate}}">{{params.publishDate}}</time>
    </div>

</div>