{% import "quotes.twig" as quotes %}


{% if params.hasMedia %}
    <figure class="{{params.cardType}}c-cards-view__media {{params.videoClass}}">
        <picture>
            <source media="(max-width: 767px) and (min-width: 501px)" srcset="{{params.imageMedium}}">
            <source media="(max-width: 500px)" srcset="{{params.imageSmall}}">

            {% if params.lazyload == false %}
                <img width="{{params.imgWidth}}" height="{{params.imgHeight}}" class="img-fluid" src="{{params.image}}">
            {% else %}  
            {# ADD LAZYLOAD  class="lazyload" src="{{params.placeholder}}" #}
                <img width="{{params.imgWidth}}" height="{{params.imgHeight}}" class="img-fluid lazyload" src="{{params.placeholder}}" data-original="{{params.image}}">
            {% endif %}
            <div class="video-icon"></div>

        </picture>
    </figure>
    

{% endif %}

<div class="social-icon"></div>

<div class="{{params.cardType}}c-cards-view__container">

    <div class="{{params.cardType}}c-cards-view__category">{{params.category}}</div>
    
    <h2 class="{{params.cardType}}c-cards-view__heading js-c-cards-view-heading j-truncate">{{ params.title }}</h2>
    
    <p class="{{params.cardType}}c-cards-view__description js-c-cards-view-description j-truncate">{{ quotes.smarten(params.content | raw) }}</p>

    <div class="{{params.cardType}}c-cards-view__author">
        {# <div class="c-cards-view__author-name">{{ params.author }}</div> #}
        <div class="{{params.cardType}}c-cards-view__time">{{params.publishDate}}</div>
    </div>
</div>