{% import "quotes.twig" as quotes %}

{% set label = article.label %}

{% set splitLabel = label | split(" ") %}

{# Remove "AAP" from the label unless "AAP" is the only word #}
{% if splitLabel | length > 1 and splitLabel[0] | lower == 'aap' %}
    {% set label = splitLabel | slice(1, length) | join(" ") %}
{% endif %}


{% if (article.hasMedia == 'TRUE' or article.hasPreviewMedia == 'TRUE') and params.imageSuppress == false %}
    <figure class="{{params.figureClass}}">
        <picture>
            <source media="(max-width: 767px) and (min-width: 501px)" srcset="{{params.articleImgMedium}}">
            <source media="(max-width: 500px)" srcset="{{params.articleImgSmall}}">

            {% if params.lazyload == false %}
                <img width="{{params.imgWidth}}" height="{{params.imgHeight}}" class="img-responsive" src="{{params.articleImg}}">
            {% else %}
                <img width="{{params.imgWidth}}" height="{{params.imgHeight}}" class="img-responsive lazyload" src="{{params.placeholder}}" data-original="{{params.articleImg}}">
            {% endif %}
        </picture>
    </figure>
{% endif %}


<div class="content">
    <div class="category {{params.site}}">{{label}}</div>
    
    <h2 class="j-truncate {{params.figureClass}}">{{ params.articleTitle }}</h2>
    
    <p class="j-truncate excerpt">{{ quotes.smarten(article.excerpt | raw) }}</p>
   
    <div class="j-truncate author">
        {% if params.profileImg != false %}
            <img src="{{params.profileImg}}" class="img-circle">
        {% endif %}
        <p class="{{params.site}}">{{ article.createdBy['displayName'] }}</p>
        <time datetime="{{publishDate}}">{{params.publishDate}}</time>
    </div>

    <time datetime="{{publishDate}}">{{params.publishDate}}</time>

</div>