{% import "quotes.twig" as quotes %}
    
{% if (article.hasMedia == 'TRUE' or article.hasPreviewMedia == 'TRUE') and params.imageSuppress == 'false' %}
    <figure class="{{params.figureClass}}">
        <picture>
            <source media="(max-width: 620px)" srcset="{{params.articleImgSmall}}">
            <img class="img-responsive" src="{{params.articleImg}}" data-original="{{articleImg}}"  {% if articleImg is not empty %} style="background-image:url('{{placeholder}}');" {%endif%}>
        </picture>
    </figure>
{% endif %}


<div class="content">
    <div class="category">{{article.label}}</div>
    
    <h2 class="{{params.figureClass}}">{{ params.articleTitle }}</h2>
    
    <p class="excerpt">{{ quotes.smarten(article.excerpt | raw) }}</p>
   
    <div class="author">
        <img src="{{params.profileImg}}" class="img-circle">
        <p class="{{params.site}}">{{ article.createdBy['displayName'] }}</p>
        <time datetime="{{publishDate}}">{{params.publishDate}}</time>
    </div>

    <time datetime="{{publishDate}}">{{params.publishDate}}</time>

</div>