

{% for parentItem in menu %}
    {% set activeClass = (parentItem.link == _AppHelper.getServerUrl()) ? 'active' : ''%}
    {% set externalClass = (parentItem.isExternal) ? 'external-link' : '' %}
    {% set children = parentItem.children is defined and parentItem.children | length > 0  %}

    <li class="dropdown">
        <a  class="{{activeClass}} {{externalClass}} "
            href="{{parentItem.link | raw}}"
            {% if parentItem.target != "" %} 
                target="{{parentItem.target}}"
            {% endif %} 
        >
            {% if parentItem.label != "" %}
                {{parentItem.label}}
            {% elseif parentItem.blogTitle != "" %}
                {{parentItem.blogTitle}}
            {% elseif parentItem.pageTitle != "" %}
                {{parentItem.pageTitle}}
            {% endif %}

        </a>
    

        {% if children %}

            <div class="list-arrow-container">
                <div class="list-arrow"><span class="o-arrow"></span></div>
            </div>


            <ul class="custom-menu">
                {% for childItem in parentItem.children %}
                    {% set externalClass = (childItem.isExternal) ? 'external-link' : '' %}
                    {% set activeClass = (childItem.link == _AppHelper.getServerUrl()) ? 'active' : ''%}

                    <li class="">
                        <a class="{{activeClass}} {{externalClass}} two" href="{{childItem.link |raw}}" {% if childItem.target != "" %}target="{{childItem.target}}"{% endif %}>
                            {{ ((childItem.label is empty) ? ((childItem.pageTitle is empty) ? childItem.blogTitle : childItem.pageTitle) : childItem.label)}}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </li>
{% endfor %}