{% set subMenu = subMenu is defined and subMenu == true   ? true : false   %}

{% set listClass = subMenu ? "c-classified-menu__submenu": "c-classified-menu__items listVerticalScrollBar" %} 
{% set displayClass = subMenu and display == false ? "display:none": "" %} 
{% set arrowClass = subMenu and display == false ? "": "open" %} 

{% if subMenu %}
    {# this div makes the surrounds of the arrow bigger to make it easier to click. #}
    <div class="c-classified-menu__arrow-container">
        {# this div decides the size of the arrow, within it's clickable surrounds. #}
        <div class="c-classified-menu__arrow {{arrowClass}}"> 
            <span class="o-arrow"></span>
        </div>
    </div>
{% endif %}


<ul class="{{listClass}}" style="{{displayClass}}">

    {% for parentItem in menu %}
        {% set children = parentItem.children is defined and parentItem.children | length > 0  %}
        {% set childrenClass = children ? "has-child": ""  %}
        {% set name = "" %}
        {% if parentItem.label != "" %}
            {% set name = parentItem.label %}
        {% elseif parentItem.blogTitle != "" %}
            {% set name = parentItem.blogTitle %}
        {% elseif parentItem.pageTitle != "" %}
            {% set name = parentItem.pageTitle %}
        {% endif %}



        {% set activeClass = '' %}


        {% if (parentItem.link == _AppHelper.getServerUrl()) or (subMenu and name | lower == current | lower) %}
            {% set activeClass = 'open' %}
        {% endif %}

        <li class="c-classified-menu__item {{activeClass}}">

            <a  class="c-classified-menu__item-link {{childrenClass}}"
                {% set pageType = "section" %}
                {% if children %}
                    {% set pageType = "category" %}
                {% endif %}
                href="?{{pageType}}={{name | replace({" " : '%20'}) | replace({"&":"%26"}) | lower}}"

                {% if parentItem.target != "" %} 
                    target="{{parentItem.target}}"
                {% endif %} 
                data-bguid="{{parentItem.blogGuid}}"
            >{{name}}</a>
        
            {% if children %}
                {% set display = false %} 



                {# Check if one of the children is the active page #}
                {% for kids in parentItem.children %}
                    {% if kids.blogTitle | lower == current | lower %}
                        {% set display = true %} 
                    {% endif %}
                {% endfor %}


                {{ this.render('/partials/_menu-classifieds.twig', {
                    'menu': parentItem.children,
                    'current': current,
                    'subMenu': true,
                    'display': display
                }) | raw }}
            {% endif %}
        </li>
    {% endfor %}
</ul>