{% set networkData = _Network.getNetworkData() %}

{{ set(this, 'title', page.title | raw) }}


    <script src='https://www.google.com/recaptcha/api.js' async defer></script>
    <script>
    function contactEnable() {
        $('#btnContact').prop('disabled', false); 
    }
    </script>




    <main id="main" class="site-main eventForm" role="main">
        
        <div class="container">

            <section>
               {#  <div class="row">
                    <div class="col-sm-9 header">
                        <div class="hk">
                            <h2>{{ page.title }}</h2>
                            <p></p>
                        </div>
                    </div>
                </div> #}


                <div class="col-sm-12 col-md-5">

                <!-- www.123formbuilder.com script begins here -->
                {# <script type="text/javascript" defer src="//www.123formbuilder.com/embed/3913050.js" data-role="form" data-default-width="650px"></script> #}
                <!-- www.123formbuilder.com script ends here -->


                    <form id="contactForm" class="form-horizontal form-contact" action="{{_AppHelper.getContactFormUrl()}}" method="post" autoComplete="off">
                        <input type="hidden" name="_csrf" value="{{_AppHelper.getCsrfToken()}}" />
                        <input type="hidden" id="contactform-returnto" class="form-control" name="returnto" value="/advertise">
                        <div class="controls-full">
                            <div class="form-group field-contactform-name required">
                                <input type="text" id="contactform-name" class="form-control" name="name" placeholder="Name">
                            </div>
                        </div>
                        <div class="controls-full">
                            <div class="form-group field-contactform-email required">
                                <input type="text" id="contactform-email" class="form-control" name="email" placeholder="Email address">
                            </div>
                        </div>
                        <div class="controls-full">
                            <div class="form-group field-contactform-message required">
                                <textarea class="form-control" name="message" placeholder="Message"></textarea>
                            </div>
                        </div>


                            {% if _Network.getCaptchaSiteKey() is defined and _Network.getCaptchaSiteKey() is not empty %}
                                <div class="g-recaptcha" data-sitekey="{{_Network.getCaptchaSiteKey()}}" data-callback="contactEnable" style="padding-bottom:30px;"></div>
                                <div class="captchaContainer">
                                    <div class="captchaMessage"></div>
                                </div>
                            {% else %}           
                                <div class="account-modal__content_container">
                                    <div class="account-modal__content_item-container">
                                        <div class="account-modal__input-container">
                                            <div class="account-modal__input_content captcha">
                                                {{_AppForm.captcha({class: 'account-modal__input account-modal__input--captcha', placeholder: 'Enter the text shown above'}) | raw }}
                                            </div>
                                        </div>
                                    </div>                        
                                </div>
                            {% endif %}






                        <div class="controls-full">
                            <div class="form-group">
                                <button type="submit" disabled id="btnContact" class="_btn submit" style="margin-top:20px;" name="contact-button">SEND</button>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="col-sm-12 col-md-1 visible-md-block visible-lg-block"></div>

                <div class="col-sm-12 col-md-3 contact-details">

                    {{page.content | raw}}

                    {# {% if 'dairy' in (networkData.title | lower) %}


                        <p><a href="{{networkData.templatePath}}/static/assets/Dairy%20News%20National%20Media%20Kit.pdf?ver=1">Download Media Kit - National</a></p>
                        <p>
                        <p><a href="{{networkData.templatePath}}/static/assets/Dairy%20News%20Regional%20Victoria%20Media%20Kit.pdf?ver=1">Download Media Kit - Regional Victoria</a></p>

                    {% endif %} #}


                </div>

            </section>
        </div>
    </main>

