{% import "partials/quotes.twig" as quotes %}
{{ set(this, 'title', article.title) }}
{{ this.registerLinkTag({rel:'amphtml', href:_AppHelper.getServerUrl(false)~'?amp=1'}) }}

{% set config = _Network.getThemeConfig() %}

{% set pianoScripts  = config['piano']['scripts'] is defined and config['piano']['scripts'] == true ? true : false %}

{% set teadsAdSetting = false %}
{% if article['additionalInfo']['teads'] == "teadsOn" %}
    {% set teadsAdSetting = true %}
{% endif %}


{# {% set log = _AppHelper.log(article) %} #}
{# {% set networkData = _Network.getNetworkData() %} #}
{% set networkData = getCache("networkData") %}
{% if (networkData is empty) %}
    {% set networkData = _Network.getNetworkData() %}
    {% set cache = setCache("networkData", networkData, 500) %}
{% endif %}


{% set syndication = 'Local Content' %}
{% if article.feed_id != null and article.feed_id starts with 'S-' %}
    {% set syndication = 'National Syndicated' %}
{% elseif article.networkId != networkData.id %}
    {% set syndication = 'Regional Syndicated' %}
{% endif %}


{% set Newsletter = "" %}
{% set Cblock = _ContentBlock.get({"title" : "Newsletter"}) %}
{% if Cblock %}
    {% set Newsletter = Cblock['content'] %}
{% endif %}

{% set feedId = article.feed_id ? article.feed_id : article.aap_id ? article.aap_id : "" %}



    {# {% set distribution = _Article.getDistributionBlogs(article.id) %}
    {% set break = false %}
    {% for blog in distribution if not break %}
        {% if blog.network_id != networkData.id %}
            {% set syndication = 'Regional Syndicated' %}
            {% set break = true %}
        {% endif %}
    {% endfor %}
{% endif %} #}


{% set site = networkData.title | lower | split(" ")[0] %}

{% set ArticleContent = article.content %}
{% set pianoActive = false %}

{# The folling splits up the article content and places divs for Oovvuu videos in
at certain points.  1st video after 3 paragraphs.  2nd video after 4 more paragraphs
and 3rd video at the end if there's been at least 5 paragraphs since the last video #}
{% if site != 'dairy' %}

    {% set pianoDivsStart = [
        "</p><div id='pianoArticleContentLockable'><!--Container div surrounding article contents from third paragraph to last paragraph -->"
    ] %}

    {% set ArticleContent = article.content | split('<p>') %}
    {% set lastVideo = (ArticleContent | length > 12) ? true : false %}
    {% for i in 0..ArticleContent | length %}


        {% if i == 2 %}
            {% if config['piano']['paywall'] is defined and config['piano']['paywall'] == true %}
                {% set ArticleContent = ArticleContent | slice(0, i) | merge(pianoDivsStart) | merge( ArticleContent | slice(i, ArticleContent | length )) %}
                {% set pianoActive = true %}
            {% endif %}
        {% endif %}

    {% endfor %}

    {% set ArticleContent = ArticleContent | join('<p>') %}

{% endif %}
{# end Oovvuu #}







{% set articleImg = false %}
{% set imageToggle = false %}
{% set featured = false %}
{% set videos = [] %}
{% set images = [] %}

{% if article.media|length > 0 %}
    {% set articleImg = _Media.getMediaUrl(article.media[0],1094, 515, {'crop': 'fill', 'gravity': 'faces'} ) %}

    {% set featured = article.media[0].type %}

    {# seperate videos and images into seperate arrays #}
    {% for image in article.media %}
        {% if image.type == 'image' or image.type == 'doc' %}
            {% set images = images|merge([image]) %}
        {% endif %}
        {% if image.type == 'video' %}
            {% set videos = videos|merge([image]) %}
        {% endif %}

    {% endfor %}
{% endif %}

{# Only need the image/video toggle if both exist #}
{% if images|length > 0 and videos|length > 0 %}
    {% set imageToggle = true %}
{% endif %}


{% set publishDate = _AppHelper.getDefaultTimezoneDateTime(article.publishedDate, 'F, Y') %}
{% set pianoPublishDate = _AppHelper.getDefaultTimezoneDateTime(article.publishedDateTime, 'Y-m-d') %}
{% set pianoPublishTime = _AppHelper.getDefaultTimezoneDateTime(article.publishedDateTime, 'G:i:s') %}
{% set pianoTime = pianoPublishDate ~ "T" ~ pianoPublishTime %}


{% set relatedArticles = getCache("articleRelated"~article.blog.id) %}
{% if (relatedArticles is empty) %}
    {% set relatedArticles = _Article.getPopularArticles({ blogId: article.blog.id, limit: 5, interval: 168 }) %}
    {% set cache = setCache("articleRelated"~article.blog.id, relatedArticles, 500) %}
{% endif %}

{% set recentArticles = getCache("articleRecent") %}
{% if (recentArticles is empty) %}
    {% set recentArticles = _Article.getRecentArticles({ limit: 2 }) %}
    {% set cache = setCache("articleRecent", recentArticles, 500) %}
{% endif %}


{# The below are used for Google analytics #}
{% set incites = 'no' %}
{% if article.additionalInfo is defined and article.additionalInfo.incites is defined and article.additionalInfo.incites != null %}
    {% set incites = article.additionalInfo.incites %}
{% endif %}
{% set atexCategories = article.blog.title %}
{% if article.additionalInfo is defined and article.additionalInfo.categories is defined and article.additionalInfo.categories != null %}
    {% set atexCategories = article.additionalInfo.categories %}
{% endif %}



{% set testCount = 0 %}
{% set premium = 'Free' %}


{% set premiumtags = false %}
{% if config['Premium Tags'] is defined %}
    {% set premiumtags = config['Premium Tags'] %}
{% endif %}

{# Override the above is premium content is set directly on the article #}
{% if article['additionalInfo']['premium'] is defined %}
    {% if article['additionalInfo']['premium'] == "Premium" %}
        {% set premium = 'Premium' %}
    {% endif %}
{% endif %}

{% if article['premiumContent'] %}
    {% set premium = 'Premium' %}
{% endif %}



{# The following for for Piano #}
{% set delimiter = "1111-" %}
{% set url = _AppHelper.getParsedUrl %}
{% set path = url.path | split("/") | last %}
{% set contentCategory = [premium | lower] %}

{% if delimiter in path %}
    {% set categories = path | split(delimiter) | first %}
    {% set category = categories | split("-") %}
    {% set contentCategory = category | merge(contentCategory) %}
{% endif %}

{% set articleNative = "true" %}

{% if 'AAP' in article.label %}
    {% set articleNative = "false" %}
{% endif %}

{% set categoryString = contentCategory | join('", "') %}
{% set pianoAuthor =  article.createdBy['displayName'] %}





<meta name="__sync_contentCategory" content="{{premium}}">

<main id="main" class="container" role="main" data-world="hello" itemscope itemtype="http://schema.org/NewsArticle">
    <meta itemscope itemprop="mainEntityOfPage"  itemType="https://schema.org/WebPage" itemid="{{article.url}}"/>
    <meta itemprop="url" content="{{article.url}}">
    <meta itemprop="dateModified" content="{{article.updatedAt}}">
    <meta itemprop="datePublished" content="{{article.publishedDate}}">
    {% if publisher.logo is not empty %}
            <div itemprop="publisher" itemscope itemtype="https://schema.org/Organization">
                <meta itemprop="name" content="{{publisher.name}}"/>
                <div itemprop="logo" itemscope itemtype="https://schema.org/ImageObject">
                    <meta itemprop="url" content="{{publisher.logo}}"/>
                    <meta itemprop="width" content="{{publisher.width}}"/>
                    <meta itemprop="height" content="{{publisher.height}}"/>
                </div>
            </div>
        {% endif %}
    <article id="article-content" class="article-main" data-id="{{article.id}}" data-status="{{article.status}}">


            <div class="page-content">
                <div class="row" >
                    
                    
                    
                    <div class="offset-xl-1 col-lg-8 col-xl-7" id="articleContentContainer">

                        <div class="row">

                            <div class="col-12">

                                <div class="content-block-top">
                                    <div id="pianoArticleHeader"></div>
                                    <!-- For articles tagged as premium include premium article identifier HTML here – currently being designed -->
                                    {% if _User.isAdminUser() %}
                                        <div style="color:#a9a9a9;font-size:13px;position:relative;top:6px;">Article id: {{feedId}}</div>
                                    {% endif %}

                                    <div class="category-container">
                                        <a href="{{article.blog.url}}"><p class="category {{site}}{% if premiumtags and premium == 'Premium' %} premium-tag{% endif %}" >{{article.label}}</p></a>
                                        <time class="article-time" datetime="{{publishedDate}}">{{article.publishedDate}}</time>
                                    </div>
                                    <h1 class="article-title" id="article-title" itemprop="headline">{{ quotes.smarten(article.title) }}</h1>

                                    <a class="author" itemprop="author" href="{{_AppHelper.getUserProfileUrl(article.createdBy['username'])}}/posts"><span>By</span><div itemprop="name">{{ article.createdBy['displayName'] }}</div></a>
                                    
                                    
                                    {% if _User.isAdminUser() %}
                                        <a href="#" id="oovvuu-curate" class="" style="margin-left:20px;padding-top:5px">Curate videos</a>
                                        <a href="{{article.editUrl}}" target="_blank" class="" style="margin-left:20px;padding-top:5px">Edit article</a>
                                    {% endif %}

                                </div>

                            </div>

                            {% if articleImg %}
                                <div class="col-12">
                                    {% if imageToggle %}
                                        <div id="gallery-toggle" class="gallery-toggle">
                                            <ul class="gallery-toggle__list">
                                                <li data-type="image" class="gallery-toggle__item {% if featured != 'video' %} gallery-toggle__item--selected {% endif %}">Image</li>
                                                <li data-type="video" class="gallery-toggle__item {% if featured == 'video' %} gallery-toggle__item--selected {% endif %}">Video</li>
                                            </ul>
                                        </div>
                                    {% endif %}

                                    <div class="gallery-container relative" data-featured="{{featured}}">

                                        {% if images|length > 0 %}
                                            {% set imageFeature = false %}
                                            {% if featured == 'image' or featured == 'doc' %}
                                                {% set imageFeature = true %}
                                            {% endif %}
                                            {{this.render('partials/gallery.twig', {
                                                media: images,
                                                default: imageFeature,
                                                galleryStyle: 'article'

                                            }) | raw}}
                                        {% endif %}

                                        {% if videos|length > 0 %}
                                            {% set videoFeature = featured == 'video' ? true : false %}

                                            {{this.render('partials/gallery.twig', {
                                                media: videos,
                                                type : 'video',
                                                default: videoFeature,
                                                galleryStyle: 'article'
                                            }) | raw}}
                                        {% endif %}

                                    </div>
                                </div>
                            {% endif %}



                            <div class="col-12  u-mobile-margin-top-20">

                                <div class="hidden" id="oovvuu"> {{oovvuu}}</div>
                                <div class="hidden" id="brightcove"> {{networkData.thirdPartyIntegrations.Brightcove.id}}</div>

                                <div class="article_content {{site}}" id="articleContent" itemprop="articleBody">
                                    {{ ArticleContent | _resizeImages({'width': 600}) | raw }}
                                    {% if pianoActive %}
                                        </div>
                                        <div id='pianoArticleContentFooter'></div>
                                    {% endif %}
                                </div>





                                <div class="article-social article-social__desktop u-mobile-margin-top-30">
                                    <p class="article-social__text">Share this article</p>

                                    <a href="https://www.facebook.com/sharer/sharer.php?u={{article.url}}&title={{ article.title|url_encode }}" target="_blank" class="article-social__link">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="12" height="22" viewBox="0 0 9 16" class="article-social__svg {{site}}">
                                            <path fill="{{themeColor}}" fill-rule="evenodd" d="M6.39 5.896V4.348c0-.234.013-.417.04-.548.027-.13.08-.254.16-.372.079-.118.204-.203.377-.254.172-.053.404-.079.695-.079h1.57V0H6.709c-1.457 0-2.504.34-3.14 1.018-.637.68-.955 1.685-.955 3.017v1.86H.725v3.096h1.888V18H6.39V8.99h2.525l.338-3.094H6.39z"/>
                                        </svg>
                                    </a>
                                    <a href="https://twitter.com/share?text={{ article.title|url_encode }}&url={{article.url}}"  target="_blank" class="article-social__link">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="18" viewBox="0 0 24 18" class="article-social__svg {{site}}">
                                            <path fill="{{themeColor}}" fill-rule="evenodd" d="M19.938 2.823c.989-.588 1.662-1.42 2.02-2.496-.903.539-1.876.908-2.916 1.11C18.121.479 16.996 0 15.665 0c-1.28 0-2.371.445-3.275 1.336-.904.89-1.355 1.966-1.355 3.227 0 .336.033.68.102 1.033-1.893-.1-3.66-.571-5.297-1.412-1.636-.84-3.035-1.958-4.195-3.352-.426.705-.64 1.462-.64 2.269 0 .806.188 1.537.564 2.193.375.655.878 1.194 1.509 1.613-.734-.033-1.424-.226-2.072-.58-.018 1.16.333 2.126 1.048 2.95.717.824 1.604 1.345 2.661 1.563-.392.101-.793.151-1.202.151-.274 0-.563-.025-.87-.076.307.908.853 1.656 1.637 2.245.785.587 1.68.89 2.687.907-1.672 1.294-3.582 1.941-5.731 1.941-.41 0-.785-.017-1.125-.05 2.148 1.36 4.51 2.041 7.086 2.041 1.637.018 3.173-.234 4.604-.755 1.433-.522 2.661-1.202 3.685-2.042 1.023-.84 1.901-1.824 2.635-2.95.733-1.127 1.279-2.294 1.637-3.504.359-1.21.538-2.43.538-3.656 0-.253-.009-.446-.026-.58.904-.638 1.671-1.42 2.303-2.345 0 0-1.75.555-2.635.656z"/>
                                        </svg>
                                    </a>

                                    <a href="mailto:?subject=Check%20out%20this%20article&body={{article.url}}" class="article-social__link">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="31" height="34" viewBox="0 0 24 15" class="article-social__svg {{site}}">
                                            <path fill="{{themeColor}}" fill-rule="evenodd" d="M.232 13.818l7.203-6.825L.211.903l-.064.399v12.096c0 .084.028.224.085.42zm8.12-7.644l.959.756 1.896 1.533 1.897-1.533.96-.756L21.308.063C21.181.021 21.053 0 20.925 0H1.468c-.142 0-.263.021-.362.063l7.246 6.111zM1.468 14.7h19.457c.128 0 .25-.021.363-.063L14.02 7.77l-2.814 2.247L8.394 7.77l-7.267 6.867c.114.042.228.063.341.063zm20.715-.882c.042-.154.064-.294.064-.42V1.302c0-.14-.022-.273-.064-.399l-7.203 6.09 7.203 6.825z"/>
                                        </svg>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>










                    {# **************
                        SIDEBAR
                    *************** #}

                    <div class="col-12 col-lg-4 col-xl-3 u-tablet-margin-top-25" style="min-height:1px;" id="adScrollContainer">
                        <div class="article-sidebar u-desktop-fix-width-300" id="articleAdScroll">
                            <div class="d-block d-md-none d-lg-block u-mobile-margin-top-20 u-mobile-margin-bottom-30 u-mobile-center">
                                <div class="ad-side-container">
                                    <div class='ad-square advert-desktop mrec-min-height u-fix-adsize' data-adsize="mrec"></div>
                                </div>
                            </div>



                            <div class="row">
                                
                                <div class="col-12 col-md-6 col-lg-12">

                                    {% if recentArticles[0] %}
                                        <div class="c-section-header u-desktop-margin-top-30 u-margin-bottom-20">
                                            <a class="{{site}}" href="{{link}}">
                                                <h2 class="c-section-header__h2 {{site}}">Latest articles</h2>
                                            </a>
                                        </div>

                                    {% endif %}

                                    {% for i in 0..1 if recentArticles[i] %}

                                        {{this.render('partials/_single-article.twig', {
                                            imageSize       : {width:95},
                                            styleType       : "image-bottom",
                                            article: recentArticles[i],
                                            imageSuppress: false,
                                            swap : false,
                                            containerClass: 'card-101-mobile card-101-tablet card-101-desktop-sm card-101-desktop-lg',
                                            site:   site
                                        }) | raw}}

                                        <hr class="divide20-25">

                                    {% endfor %}
                                </div>



                                <div class="col-md-6 d-none d-md-block d-lg-none u-margin-bottom-30">
                                    <div  class="ad-square mrec-min-height ad-side-container">
                                        <div class='advert-desktop' data-adsize="mrec"></div>
                                    </div>

                                    {% if config['newsletter'] is defined and config['newsletter'] != "" %}
                                        {{Newsletter | raw}}
                                    {% endif %}

                                </div>

                                {% if config['newsletter'] is defined and config['newsletter'] != "" %}
                                    <div class="col-12 col-md-6 col-lg-12 d-block d-md-none d-lg-block">
                                        {{Newsletter | raw}}
                                    </div>
                                {% endif %}

                            </div>
                        </div>
                    </div>


                </div>

            </div>









            <!-- Disqus Comment Added -->
            {% if networkData.thirdPartyIntegrations['disqus'] | length > 0 and networkData.thirdPartyIntegrations['disqus']['shortName'] != '' %}
                {{this.render("partials/article/_disqus_comments.twig", {disqus: networkData.thirdPartyIntegrations['disqus'], userId: article.createdBy['id'], url:article.url, articleId: article.id}) | raw}}
            {% endif %}

            {% cache 'popularLeader'~article.blog.id 300 %}





            <div class="row related-articles">
                <div class="col-12">
                    <h1 class="related-articles__header {{site}}">Most Popular</h1>
                </div>

                {% for i in 0..3 if relatedArticles[i] %}
                    {% set clear = i == 2 ? 'u-tablet-clear-both' : '' %}
                    <div class="col-6 col-lg-3 {{clear}}">
                        {{this.render('partials/_single-article.twig', {
                            article: relatedArticles[i],
                            imageSize : {width:235},
                            containerClass: 'card-102-mobile card-102-tablet card-102-desktop-sm card-102-desktop-lg',
                            site:   site
                        }) | raw}}
                        {% if i < 2 %}
                            <hr class="divide20-25 d-block d-lg-none">
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
            {% endcache %}

            {# <iframe allowfullscreen="" mozallowfullscreen="" src="//players.brightcove.net/5370537724001/HkEx1WOvW_default/index.html?videoId=5741664695001" style="position: absolute; top: 0px; right: 0px; bottom: 0px; left: 0px; width: 100%; height: 100%;" webkitallowfullscreen=""></iframe> #}



    </article>
</main>



<div class='advert-desktop advert-mobile advert-tablet' data-adsize="teads"></div>
<div class='advert-desktop advert-tablet' data-adsize="interstitial"></div>
<div class='advert-desktop advert-tablet' data-adsize="interstitial"></div>




<script>
    document.addEventListener("DOMContentLoaded", function(event) {
        Acme.articleController = Acme.ArticleController();
        {% if article['additionalInfo']['teads'] == "teadsOff" %}
            Acme.articleController.InsertInterstitial(false);
        {% else %}
            Acme.articleController.InsertInterstitial(true);
        {% endif %}
        Acme.galleryToggle = new Acme.GalleryToggle();
    });
</script>

{% if config['newsletter'] is defined and config['newsletter'] != "" %}
    <script>

        ga(function(tracker) {
            // Gets the client ID of the default tracker.
            var clientId = tracker.get('clientId');
            // Gets a reference to the window object of the destination iframe.
            var frameWindow = document.getElementById('newsletter-iframe').contentWindow;
            // Sends the client ID to the window inside the destination frame.
            frameWindow.postMessage(clientId, '{{config['newsletter']}}');
        });
    </script>
{% endif %}



{% if pianoScripts == true %}
    {{ this.render('layouts/partials/pianoscript.twig', {
        pageLayout: "article",
        author: article.createdBy['displayName'],
        premium:premium,
        incites: incites,
        categories: atexCategories,
        syndication: syndication,
        site:site,
    }) | raw }}

{% else %}
    <script>
        sendPageView({
            "author": "{{ article.createdBy['displayName'] }}",
            "articleStatus" : "{{premium}}",
            "incites" : "{{incites}}",
            "categories" : "{{atexCategories}}",
            "syndication" : "{{syndication}}",
            "blogTitle" : "{{article.blog.title}}"
        });
    </script>
{% endif %}



<script>
    document.addEventListener("DOMContentLoaded", function(event) {

        var articleCompleted = false;

        $(window).scroll(function() {
            if(!articleCompleted && $(window).scrollTop() + $(window).height() > document.getElementById('articleContentContainer').offsetTop + document.getElementById('articleContentContainer').offsetHeight) {
                payWallFound = false;
                var articleContentIFrames = document.getElementById('pianoArticleContentLockable');
                if (articleContentIFrames === null) return;
                var iFrame = articleContentIFrames.getElementsByTagName('iFrame');
                for (let i = 0; i < iFrame.length; i++) {
                    if (iFrame[i].getAttribute('src') && iFrame[i].getAttribute('src').startsWith('https://buy-au.piano.io/')) {
                        payWallFound = true;
                    }
                }

                if(!payWallFound) {
                    articleCompleted = true;
                    ga('send', {
                        hitType: 'event',
                        eventCategory: 'articleComplete',
                        eventAction: 'articleScrolledToCompletion',
                        nonInteraction: true
                    });
                }
            }
        });
    });

</script>



