{% set blogInfo = _Blog.getBlog() %}
{% set networkData = _Network.getNetworkData() %}
{% set site        = networkData.title | lower | split(" ")[0]%}

{{ set(this, 'title', blogInfo.title) }}


{% set limit = 18 %}
{% set articlesArr = _Blog.getBlogFeed({'limit': limit, 'offset': 0}) %}
{% set articles = articlesArr.articles %}
{% set firstCount = articles | length %}

{% set popularArticles = _Article.getPopularArticles({ limit: 5, sortBy: 'VIEWS', scope: 'blog' }) %}
{# TODO: add interval: 48 back to popularArticles call when in production #}

{% set override = '' %}
{% set blogImage = networkData.templatePath ~ "/static/images/megaphone.svg" %}
{% if blogInfo.media['thumb']['path'] is not empty %}
    {% set blogImage = blogInfo.media['thumb']['path'] %}
    {% set override = override ~ ' override' %}    
{% endif %}    

<!-- used to index each article as we loop over throughout the template -->
{% set articleCount = 0 %}
{% set articleCount = _AppHelper.getApplicationEnv() == 'DEV' ? 0 : 0 %}
{% set dev = _AppHelper.getApplicationEnv() == 'DEV' ? true : false %}


{{this.registerJs("Acme.cards = CardController();")}}

                                                     {# renders the card    fetch-limit      fetch-offset    infinite scroll #}
                                                     {#            ↑             ↑                 ↑            ↑            #}
{{this.registerJs("Acme.searchFeed = new Acme.View.articleFeed(Acme.cards, " ~ limit ~ ", " ~ firstCount ~ ", true);")}}

{# {% set loginPath = 'https://syncaccess-mmg-sn.syncronex.com/mmg/sn/Account/LogOn?op=signin&returnurl=' ~ networkData.defaultBlogUrl %} #}


<main id="main" class="site-main" role="main" data-article-limit="{{limit}}" data-article-count="{{articles | length}}">
    
    <div class="container">

        <section>
            <div class="row header">
                <div class="col-sm-9">
                   {#  <div class="bloggerImg u-float-left {{site}}">
                        <div class="logo {{ override }}">
                            <img src="{{ blogImage }}" style="max-width: 150%;">
                        </div>                        
                    </div> #}

                    <div class="bloghead-content u-float-left">
                        <h2>{{this.title}}</h2>
                        <p class="blogowner {{site}}">by {{blogInfo.settings.contact.name}}</p>

                        {# <div class="blog-social-icons u-float-right">
                            {% if blogInfo.settings['social']['facebook'] %}
                                <a  href="{{ blogInfo.settings['social']['facebook'] }}" 
                                    class="blog-social-icons__icon blog-social-icons__icon--facebook">  
                                </a>
                            {% endif %}

                            {% if blogInfo.settings['social']['twitter'] %}
                                <a  href="{{ blogInfo.settings['social']['twitter'] }}" 
                                    class="blog-social-icons__icon blog-social-icons__icon--twitter">
                                </a>
                            {% endif %}
                        </div> #}

                    </div>

                    <div class="blog-social-icons u-float-right" style="position:absolute;bottom:0;right:0;">
                        {% if blogInfo.settings['social']['facebook'] %}
                            <a  href="{{ blogInfo.settings['social']['facebook'] }}" 
                                class="blog-social-icons__icon blog-social-icons__icon--facebook">  
                            </a>
                        {% endif %}

                        {% if blogInfo.settings['social']['twitter'] %}
                            <a  href="{{ blogInfo.settings['social']['twitter'] }}" 
                                class="blog-social-icons__icon blog-social-icons__icon--twitter">
                            </a>
                        {% endif %}
                    </div>{# <-- bloghead end --> #}

{#                     <div class="blog-social-icons u-clear-both hidden-sm hidden-md hidden-lg">
                        {% if blogInfo.settings['social']['facebook'] %}
                            <a  href="{{ blogInfo.settings['social']['facebook'] }}" 
                                class="blog-social-icons__icon blog-social-icons__icon--facebook">  
                            </a>
                        {% endif %}

                        {% if blogInfo.settings['social']['twitter'] %}
                            <a  href="{{ blogInfo.settings['social']['twitter'] }}" 
                                class="blog-social-icons__icon blog-social-icons__icon--twitter">
                            </a>
                        {% endif %}

                    </div> #}

                </div>
            </div>

            <div class="row">
                <div class="col-sm-9 col-md-6">
                    
                    {% if articles[articleCount] %}
                        {{this.render('partials/_single-article.twig', {
                            article: articles[articleCount],
                            position: articleCount + 1,
                            imageSize: {width:640, height:400},
                            site: site,
                            containerClass: 'home-feature-sm home-feature-tablet home-feature-mobile blog-feature'
                        }) | raw}}
                        {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
                    {% endif %}


                    {% for i in 0..2 if articles[articleCount] %}
                        {{this.render('partials/_single-article.twig', {
                            article: articles[articleCount],
                            position: articleCount + 1,
                            site: site,
                            containerClass: 'card-rec card-rec-tablet card-rec-mobile row-space'
                        }) | raw}}

                        {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
                    {% endfor %}

                </div>




                <div class="col-sm-9 col-md-3">
                
                    <div class="ad-square addSpaceMobile visible-md-block visible-lg-block" style="margin-bottom:30px;">
                        <div class="card__announcement-image google_ad google_ad_mrec text-center" id='div-gpt-ad-mrec-9'>
                            <script type='text/javascript'>
                                googletag.cmd.push(function() { googletag.display('div-gpt-ad-mrec-9'); });
                            </script>
                        </div>
                    </div>

                    <hr class="divide visible-xs-block">
                    <hr class="divide15 visible-sm-block space-only">

                    <div class="row two-cols">
                        {% for i in 0..1 if articles[articleCount] %}
                            <div class="col-sm-1 col-md-2">
                                {{this.render('partials/_single-article.twig', {
                                    article: articles[articleCount], 
                                    imageSize: {width:160},
                                    position: articleCount + 1,
                                    site: site,
                                    containerClass: 'feature-side feature-side-tablet card-sm-mobile'
                                }) | raw}}
                                <hr class="divide visible-xs-block">

                                <hr class="divide hidden-xs hidden-sm">
                                <hr class="divide15 visible-sm-block space-only">

                                {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
                            </div>
                        {% endfor %}
                    </div>


                    <div class="row two-cols">
                       <div class="most-popular col-sm-1 col-md-2" style="margin:0;">
                           <h2>Most popular</h2>
                           <hr class="divide10">
                           {% for i in 0..4 if popularArticles[i] %}
                               {{this.render('partials/_single-article.twig', {
                                   article: popularArticles[i], 
                                   imageSuppress: true, 
                                   containerClass: 'card-popular'
                               }) | raw}}
                               <hr class="divide10">
                           {% endfor %}

                        </div>

                        <div class="col-sm-1 col-md-2">
                            <div class="ad-square addSpaceMobile visible-sm-block ad-square__left" style="margin-bottom:30px;">
                                <div class="card__announcement-image google_ad google_ad_mrec text-center" id='div-gpt-ad-mrec-8'>
                                    <script type='text/javascript'>
                                        googletag.cmd.push(function() { googletag.display('div-gpt-ad-mrec-8'); });
                                    </script>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>


        <div class="mobad1">
            <div id="newAdSlot"></div>
            <script>loadNextAd()</script> 
        </div>       


        <section>

            <div class="row">

                {% for i in 0..2 if articles[articleCount] %}
                    {{this.render('partials/_single-article.twig', {
                        article: articles[articleCount], 
                        imageSize: {width:300, height:160},
                        position: articleCount + 1,
                        site: site,
                        containerClass: 'col-sm-3 card-sm-wide card-sm-wide-tablet card-sm-wide-mobile'
                    }) | raw}}
                    {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
                    {% if i == 2 %}
                        <hr class="divide visible-xs-block">
                    {% endif %}

                {% endfor %}

            </div>
        </section>



        <section>

            <div class="row">
                <div class="col-sm-9 col-md-6">

                    <div class="row">
                        {% for i in 0..8 if articles[articleCount] %}
                            {% if i < 3 %}
                                {{this.render('partials/_single-article.twig', {
                                    article: articles[articleCount],
                                    position: articleCount + 1,
                                    imageSize: {width:300},
                                    site: site,
                                    containerClass: 'card-sm card-sm-tablet card-sm-mobile col-sm-3'
                                }) | raw}}
                            {% else %}
                                {{this.render('partials/_single-article.twig', {
                                    article: articles[articleCount],
                                    position: articleCount + 1,
                                    imageSize: {width:300},
                                    site: site,
                                    containerClass: 'card-sm card-sm-tablet card-sm-mobile col-sm-3 u-margin-top-15'
                                }) | raw}}
                            {% endif %}
                            

                            {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
                        {% endfor %}
                    </div>
                </div>




                <div class="col-sm-3 addSpaceMobile margin-top-30-desk">
                
                    <div class="ad-square" style="margin-bottom:30px;">
                        <div class="card__announcement-image google_ad google_ad_mrec text-center" id='div-gpt-ad-halfpage-3'>
                            <script type='text/javascript'>
                                googletag.cmd.push(function() { googletag.display('div-gpt-ad-halfpage-3'); });
                            </script>
                        </div>
                    </div>

                </div>
            </div>
        </section>



        <section class="loadmore__section">
            <div class="row">
                {% if articles|length >= limit %}
                    {{ this.render('partials/ajaxarticles.twig', {
                        offset          : limit,
                        limit           : 12,
                        name            : "section-load",
                        non_pinned      : articlesArr.existingNonPinnedCount, 
                        card_class      : "card-sm card-sm-tablet card-sm-mobile row-space40",
                        container       : "mainAjaxArticles",
                        buttonClass     : "infinite",
                        ads             : "yes",
                        before          : '<div class="col-sm-3 col-xs-12">',
                        after           : '<hr class="divide18 visible-xs-block"></div>'
                    }) | raw }}
                {% endif %}
            </div>
        </section>

    </div>

</main><!-- .site-main -->
