{{ set(this, 'title', _Blog.getBlogTitle()) }}
{% set networkData = _Network.getNetworkData() %}


{{this.registerJs("Acme.CardController();")}}

{% set limit = 30 %}

{% set events = _Event.getEvents() %}

<!-- used to index each article as we loop over throughout the template -->
{% set eventCount = _AppHelper.getApplicationEnv() == 'DEV' ? 0 : 0 %}
{% set dev = _AppHelper.getApplicationEnv() == 'DEV' ? true : false %}


    <main id="main" class="site-main" role="main">
        <div class="container">

            <section>
                <div class="row">
                    <div class="col-md-9 header events-heading">
                        <div class="hk">
                            <h2>{{this.title}}</h2>
                            <p></p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                       {% if events[eventCount] %}
                           {{this.render('partials/_single-event.twig', {
                               event: events[eventCount],
                               position: eventCount + 1,
                               imageSize: {width:630},
                               containerClass: 'home-feature-sm home-feature-mobile card-event-feature'
                           }) | raw}}
                           {% set eventCount = (dev) ? eventCount : eventCount + 1 %}
                       {% endif %}
                    </div>
                    <div class="col-md-3">
                        <section class="advert">
                            <div class="ad-square">
                                <div class="card__announcement-image google_ad google_ad_mrec text-center" id='div-gpt-ad-mrec-1'>
                                    <script type='text/javascript'>
                                        googletag.cmd.push(function() { googletag.display('div-gpt-ad-mrec-1'); });
                                    </script>
                                </div>
                            </div>
                        </section>
                    </div>

                </div>

            </section>


            <section class="middle">


                <div class="row row-space maincards">
                    <div class="col-sm-6">
                        {% for i in 0..6 if events[eventCount] %}

                            {{this.render('partials/_single-event.twig', {
                                event: events[eventCount], 
                                position: eventCount + 1, 
                                imageSize: {width:300},
                                containerClass: 'card-rec card-rec-tablet card-rec-mobile card-event-rec'
                            }) | raw}}
                            {% set eventCount = (dev) ? eventCount : eventCount + 1 %}
                            
                             {% if i != 6 %}
                                <hr class="divide18 visible-md-block visible-lg-block">
                                <hr class="divide10 visible-xs-block visible-sm-block">
                            {% endif %}
                        {% endfor %}


                    </div>


        </div>


    </main><!-- .site-main -->