{{ set(this, 'title', _Blog.getBlogTitle()) }}
{% set networkData = _Network.getNetworkData() %}
{% set blogData    = _Blog.getBlog() %}
{% set layout      = blogData.layout %}


{{this.registerJs("CardController();")}}

{% set templatePath = "window.Acme.templatePath = '" ~ networkData.templatePath ~ "';" %}
{{this.registerJs( templatePath )}}

{% set limit = 30 %}

{% set articlesArr = _Blog.getBlogFeed({'limit': limit, 'offset': 0}) %}
{% set articles = articlesArr.articles %}
{% set popularArticles = _Article.getPopularArticles({ limit: 5, sortBy: 'VIEWS', scope: 'network' }) %}

<!-- used to index each article as we loop over throughout the template -->
{% set articleCount = _AppHelper.getApplicationEnv() == 'DEV' ? 0 : 0 %}
{% set dev = _AppHelper.getApplicationEnv() == 'DEV' ? false : false %}


{% set sections =  {
        "dairy": {
            "feed": "",
            "link": "",
            "limit" : 10
        }, 
        "water": {
            "feed": "",
            "link": "",
            "limit" : 10
        },
        "horticulture": {
            "feed": "",
            "link": "",
            "limit" : 10
        },
        "videos": {
            "feed": "",
            "link": "",
            "limit" : 10
        },
        "bloggers": {
            "feed": "",
            "link": "",
            "limit" : 2
        }
    }
%}

{% for key, value in sections %}
    {% for blog in networkData.networkBlogs %}
        {% if blog.title | lower == key %}
            {% set sections = sections | merge({
                (key) : {
                    'feed': _Blog.getBlogFeed({'limit': sections[key]['limit'], 'offset': 0, 'blogid':blog.guid}),
                    'link' : blog.link
                    }
                }) %}
        {% endif %}
    {% endfor %}
{% endfor %}



<main id="main" class="site-main" role="main" style="margin-bottom:0px;">
    
    <div class="container">
        <section class="home-main-stories">
            <div class="row">
                <div class="col-xs-9 col-sm-6">

                    {% if articles[articleCount] %}                                                                
                        {{this.render('partials/_single-article.twig', {
                            article: articles[articleCount], 
                            position: articleCount + 1, 
                            imageSize: {width:900},
                            containerClass: 'home-feature home-feature-tablet home-feature-mobile'
                        }) | raw}}
                        {% set articleCount = (dev) ? articleCount : articleCount + 1 %}

                    {% endif %}
                </div>


                {% if articles[articleCount] %}
                <div class="cold-xs-9 col-sm-3">

                    <div id="weather" class="weather"></div>
                    <div class="visible-md-block visible-lg-block">
                        <div class="weather-dropdown hidden"></div>
                    </div>


                    <hr class="divide10 visible-xs-block" style="clear:both">


                    {% for i in 0..2 if articles[i] %}
                        {{this.render('partials/_single-article.twig', {
                            article: articles[articleCount], 
                            position: articleCount + 1, 
                            containerClass: 'feature-side feature-side-tablet card-sm-mobile'
                        }) | raw}}
                        {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
                        {% if i < 2 %}
                            <hr class="divide15 visible-md-block visible-lg-block">
                            <hr class="divide10 visible-xs-block visible-sm-block">
                        {% endif %}

                    {% endfor %}
                    <hr class="divide10 visible-xs-block">

                </div><!-- .row-->
                {% endif %}

            </div>
        </section><!-- .featured-slider-->
    </div>


    <div class="container">
        <section>
            <div class="row">
                <div class="col-sm-3 col-md-2 most-popular">
                    <h2>Most popular</h2>

                    {% for i in 0..4 if popularArticles[i] %}
                            {{this.render('partials/_single-article.twig', {
                                article: popularArticles[i], 
                                imageSuppress: true, 
                                containerClass: 'card-popular'
                            }) | raw}}
                    {% endfor %}
                </div>

                <hr class="divide visible-xs-block">

                <div class="col-sm-3 col-md-2">
                    {% if articles[articleCount] %}
                        {{this.render('partials/_single-article.twig', {
                            article: articles[articleCount], 
                            position: articleCount + 1, 
                            imageSize: {width:300},
                            containerClass: 'card-sm card-sm-mobile'
                        }) | raw}}
                        {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
                        <hr class="divide visible-xs-block">

                    {% endif %}
                </div>


                <div class="col-sm-3 col-md-2">
                    {% if articles[articleCount] %}
                        {{this.render('partials/_single-article.twig', {
                            article: articles[articleCount], 
                            position: articleCount + 1, 
                            imageSize: {width:300},
                            containerClass: 'card-sm card-sm-mobile'
                        }) | raw}}
                        {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
                    {% endif %}
                </div>


                <div class="col-sm-9 col-md-3 addSpaceMobile">
                    {% if articles[articleCount] %}
                        {{this.render('partials/_single-article.twig', {
                            article: articles[articleCount], 
                            position: articleCount + 1, 
                            imageSize: {width:600},
                            containerClass: 'card-sm card-sm-mobile'
                        }) | raw}}
                        {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
                    {% endif %}                        
                </div>
            </div>                    

        </section>
    </div>

    <div id="newAdSlot"></div>
    <script>loadNextAd()</script>


    {% if sections['dairy'].feed.articles|length > 0 %}
        <div class="container">
            {{this.render('partials/index/medium-section.twig', {
                articles: sections['dairy'], 
                articleCount: articleCount,
                section: 'dairy',
                dev: dev,
                ad: 'div-gpt-ad-mrec-2',
            }) | raw}} 
        </div>
    {% endif %}

    <div id="newAdSlot"></div>
    <script>loadNextAd()</script>        

    {% if sections['bloggers'].feed.articles|length > 0 %}
        <div class="container">
            {{this.render('partials/index/bloggers.twig', {
                articles: sections['bloggers'], 
                articleCount: articleCount,
                section: 'bloggers',
                dev: dev,
                logo: networkData.templatePath ~ '/static/images/megaphone.svg',
            }) | raw}} 
        </div>
    {% endif %}

    {% if sections['water'].feed.articles|length > 0 %}
        <div class="container">
            {{this.render('partials/index/small-section.twig', {
                articles: sections['water'], 
                articleCount: articleCount,
                section: 'water',
                dev: dev,
                ad: 'div-gpt-ad-mrec-2',
            }) | raw}} 
        </div>
    {% endif %}


    {% if sections['horticulture'].feed.articles|length > 0 %}
        <div class="container">
            {{this.render('partials/index/row-three.twig', {
                articles: sections['horticulture'], 
                articleCount: articleCount,
                section: 'horticulture',
                dev: dev,
                cards: 'feature-side feature-side-tablet card-sm-mobile divideright',
            }) | raw}} 
        </div>
    {% endif %} 

</main><!-- .site-main -->

<main class="site-main site-videos">
    <div class="container">

        <section class="middle" style="margin-bottom:0px;">

        {% if sections['videos'].feed.articles|length > 0 %}
            {% set sectionCount = (dev) ? articleCount : 0 %}

            <section class="row ">
                <div class="col-sm-9 section-header">
                    <p><a href="{{sections['videos'].link}}">View All</a></p>
                    <div class="hk">
                        <h2>Videos</h2>
                        <p></p>
                    </div>
                </div>

                {% for i in 0..1 if sections['videos'].feed.articles[sectionCount] %}
                    <div class="col-sm-3 col-md-3">

                        {{this.render('partials/_single-article.twig', {
                            article: sections['videos'].feed.articles[sectionCount], 
                            imageSize: {width:300},
                            containerClass: 'card-sm card-sm-tablet card-sm-mobile'
                        }) | raw}}
                        {% set sectionCount = (dev) ? articleCount : sectionCount + 1 %}

                        <hr class="divide visible-xs-block">

                    </div>
                {% endfor %}

                    <div class="col-sm-3 col-md-3">
                        <div style="margin-bottom:30px;position:relative;">
                            <div class="ad-square" style="margin-top:30px;">
                                <div class="card__announcement-image google_ad google_ad_mrec text-center" id='div-gpt-ad-mrec-3'>
                                    <script type='text/javascript'>
                                        googletag.cmd.push(function() { googletag.display('div-gpt-ad-mrec-3'); });
                                    </script>
                                </div>
                            </div>
                        </div>
                    </div>

            </section>

            {% endif %}

        </section>
    </div>
</main>