{{ set(this, 'title', _Blog.getBlogTitle()) }}
{% set networkData = _Network.getNetworkData() %}
{% set blogData    = _Blog.getBlog() %}
{% set layout      = blogData.layout %}
{% set site        = networkData.title | lower | split(" ")[0]%}
{# {% set site        =  'country' %} #}

{# {% set layoutTitle = _Page.getLayoutTitle() %} #}

{{this.registerJs("Acme.cards = CardController();")}}

{% set templatePath = "window.Acme.templatePath = '" ~ networkData.templatePath ~ "';" %}
{{this.registerJs( templatePath )}}

{% set limit = 15 %}

{% set articlesArr = _Blog.getBlogFeed({'limit': limit, 'offset': 0}) %}
{% set articles = articlesArr.articles %}


<!-- used to index each article as we loop over throughout the template -->
{% set articleCount = _AppHelper.getApplicationEnv() == 'DEV' ? 0 : 0 %}
{% set dev = _AppHelper.getApplicationEnv() == 'DEV' ? true : false %}

{% set sections =  {} %}

{% if site | lower == 'shepp' %}
    {% set sections =  {
            "local news": {
                "title": "Local News",      "limit" : 6, 'template' : 'partials/index/large-section.twig', 
                    'template_params' : {
                        'ad': 'div-gpt-ad-halfpage-ss'
                    }
            }, 
            "regional news": {
                "title": "Regional News",   "limit" : 5, 'template' : 'partials/index/medium-section.twig'
            },
            "opinion": {
                "title": "Opinion",         "limit" : 4, 'template' : 'partials/index/opinion.twig', 
                    'template_params' : {
                        'logo':  networkData.templatePath ~ '/static/images/megaphone.svg',
                    }
            },
            "rural news": {
                "title": "Rural News",      "limit" : 3, 'template' : 'partials/index/row-three.twig'
            },
            "sport": {
                "title": "Sport",           "limit" : 5, 'template' : 'partials/index/section-with-feature.twig'
            },
            "national": {
                "title": "National",        "limit" : 4, 'template' : 'partials/index/row-four.twig'
            },
            "business": {
                "title": "Business",        "limit" : 5, 'template' : 'partials/index/medium-section.twig'
            },
            "bloggers": {
                "title": "Bloggers",        "limit" : 2, 'template' : 'partials/index/bloggers.twig'
            }
        }
    %}




{% elseif site | lower == 'country' %}
    {% set sections =  {
            "dairy": {
                "title": "Dairy",           "limit" : 5, 'template' : 'partials/index/medium-section.twig'
            }, 
            "water": {
                "title": "Water",           "limit" : 4, 'template' : 'partials/index/small-section.twig'
            },
            "horticulture": {
                "title": "Horticulture",    "limit" : 3, 'template' : 'partials/index/row-three.twig'
            },
            "livestock": {
                "title": "Livestock",       "limit" : 3, 'template' : 'partials/index/small-section-events.twig'
            },
            "cropping": {
                "title": "Cropping",        "limit" : 3, 'template' : 'partials/index/row-three.twig'
            },
            "videos": {
                "title": "Videos",          "limit" : 2, 'template' : ''
            },
            "blogs homepage": {
                "title": "Bloggers",        "limit" : 2, 'template' : 'partials/index/bloggers.twig'
            },
            "viticulture": {
                "title": "Viticulture",     "limit" : 3, 'template' : 'partials/index/row-three-ad.twig'
            }
        }
    %}

{% endif  %}


{% for key, value in sections %}
    {% for blog in networkData.networkBlogs %}
        {% if blog.title | lower == key %}
            
            {% set feed = dev 
                    ? articlesArr 
                    : _Blog.getBlogFeed({'limit': sections[key]['limit'], 'offset': 0, 'blogid':blog.guid}) 
            %}

            {% set sections = sections | merge({
                (key) : {
                    'feed'      : feed,
                    'link'      : blog.link,
                    'title'     : sections[key]['title'],
                    'template'  : sections[key]['template']
                    }
                }) %}
        {% endif %}
    {% endfor %}
{% endfor %}



{# First set a common order then add site order to beginning #}
{% set sectionCount = 0 %}
{% set sectionOrder = [] %}

{% if site == 'shepp' %}
    {% set sectionOrder = ["local news", "bloggers", 'regional news', 'opinion', 'rural news', 'sport'] %}
{% elseif site == 'country' %}
    {% set sectionOrder = ["dairy", "water", 'horticulture', 'livestock', 'cropping', 'videos', 'blogs homepage', 'viticulture'] %}
{% endif %}











<main id="main" class="site-main" role="main">
    


    {# *******************************************************
                Top of Index page n articles
    ******************************************************* #}

    <div class="container">
        {{this.render('partials/index/default-top.twig', {
            articles: articles, 
            articleCount: articleCount,
            dev: dev,
            site: site,
            ad: 'div-gpt-ad-mrec-4',
        }) | raw}}
    </div>





    <div id="newAdSlot"></div>
    <script>loadNextAd()</script>







    {# *******************************************************
                        First section
    ******************************************************* #}

    {% set sectionFeed = sections[ sectionOrder[sectionCount] ] %}
    {% if sectionFeed.feed.articles|length > 0 and sectionFeed.template != ''%}
        {% set params = {
            articles: sectionFeed, 
            title:    sectionFeed.title,
            dev:      dev,
            site:     site
        } %}

        {% if sectionFeed.template_params is defined %}
            {% set params = params | merge(sectionFeed.template_params) %}
        {% endif %}

        <div class="container">
            {{this.render(sectionFeed.template, params) | raw}} 
        </div>
    {% endif %}
    {% set sectionCount = sectionCount + 1 %}





    <div class="ad-container hidden-md hidden-lg mobad2">
        <div id='div-gpt-ad-mrec-7' class="card__announcement-image google_ad google_ad_mrec text-center" >
            <script type='text/javascript'>
                googletag.cmd.push(function() { googletag.display('div-gpt-ad-mrec-7'); });
            </script>
        </div>
    </div>




    {# *******************************************************
                        Second section
    ******************************************************* #}
    {% set sectionFeed = sections[ sectionOrder[sectionCount] ] %}

    {% if sectionFeed.feed.articles|length > 0 and sectionFeed.template != '' %}
        {% set params = {
            articles: sectionFeed, 
            title:    sectionFeed.title,
            dev:      dev,
            site:     site
        } %}

        {% if sectionFeed.template_params is defined %}
            {% set params = params | merge(sectionFeed.template_params) %}
        {% endif %}
        <h1>here</h1>
        <pre>
            {{dump(sectionFeed)}}
        </pre>
        <div class="container">
            {{this.render(sectionFeed.template, params) | raw}} 
        </div>
    {% endif %}
    {% set sectionCount = sectionCount + 1 %}






    {# *******************************************************
                        Third section
    ******************************************************* #}

    {% set sectionFeed = sections[ sectionOrder[sectionCount] ] %}
    {% if sectionFeed.feed.articles|length > 0 and sectionFeed.template != ''%}

        <div class="container">
            {{this.render(sectionFeed.template, {
                articles:       sectionFeed, 
                title:          sectionFeed.title,
                dev:            dev,
                site:           site,
                ad:             'div-gpt-ad-mrec-1',
            }) | raw}} 
        </div>
    {% endif %}
    {% set sectionCount = sectionCount + 1 %}






    <div class="ad-container visible-sm-block">
        <div id='div-gpt-ad-leaderboard-3' class="google_ad google_ad_leaderboard">
            <script type='text/javascript'>
                googletag.cmd.push(function() { googletag.display('div-gpt-ad-leaderboard-3'); });
            </script>
        </div>
    </div>      






    {# *******************************************************
                        Fourth section
    ******************************************************* #}

    {% set sectionFeed = sections[ sectionOrder[sectionCount] ] %}
    {% if sectionFeed.feed.articles|length > 0 and sectionFeed.template != ''%}
    <h1>hi ho</hi>
        {% set params = {
            articles: sectionFeed, 
            title:    sectionFeed.title,
            dev:      dev,
            site:     site
        } %}

        {% if sectionFeed.template_params is defined %}
            {% set params = params | merge(sectionFeed.template_params) %}
        {% endif %}
        <pre>
            {{dump(sectionFeed.template_params)}}
        </pre>

        <div class="container">
            {{this.render(sectionFeed.template,params) | raw}} 
        </div>
    {% endif %}
    {% set sectionCount = sectionCount + 1 %}








    {# *******************************************************
                        Fifth section
    ******************************************************* #}

    {% set sectionFeed = sections[ sectionOrder[sectionCount] ] %}
    {% if sectionFeed.feed.articles|length > 0 and sectionFeed.template != ''%}

        <div class="container">
            {{this.render(sectionFeed.template, {
                articles:       sectionFeed, 
                title:          sectionFeed.title,
                dev:            dev,
                site:           site,
            }) | raw}} 
        </div>
    {% endif %}
    {% set sectionCount = sectionCount + 1 %}








    {# *******************************************************
                        Sixth section
    ******************************************************* #}

    {% set sectionFeed = sections[ sectionOrder[sectionCount] ] %}
    {% if sectionFeed.feed.articles|length > 0 and sectionFeed.template != ''%}

        <div class="container">
            {{this.render(sectionFeed.template, {
                articles:       sectionFeed, 
                title:          sectionFeed.title,
                dev:            dev,
                site:           site,
            }) | raw}} 
        </div>
    {% endif %}
    {% set sectionCount = sectionCount + 1 %}







    {# *******************************************************
                        Seventh section
    ******************************************************* #}

    {% set sectionFeed = sections[ sectionOrder[sectionCount] ] %}
    {% if sectionFeed.feed.articles|length > 0 and sectionFeed.template != ''%}

        <div class="container">
            {{this.render(sectionFeed.template, {
                articles:   sectionFeed, 
                title:      sectionFeed.title,
                dev:        dev,
                site:       site,
                ad:         'div-gpt-ad-mrec-2',
            }) | raw}} 
        </div>
    {% endif %}
    {% set sectionCount = sectionCount + 1 %}







    {# *******************************************************
                        Eighth section
    ******************************************************* #}


    {% set sectionFeed = sections[ sectionOrder[sectionCount] ] %}
    {% if sectionFeed.feed.articles|length > 0 and sectionFeed.template != ''%}

        <div class="container">
            {{this.render(sectionFeed.template, {
                articles:   sectionFeed, 
                title:      sectionFeed.title,
                dev:        dev,
                site:       site,
                ad:         'div-gpt-ad-mrec-3',                
            }) | raw}} 
        </div>
    {% endif %}
    {% set sectionCount = sectionCount + 1 %}



   

</main><!-- .site-main -->



<div id='div-gpt-ad-interstitial' class="hidden-xs">
    <script type='text/javascript'>
        googletag.cmd.push(function() { googletag.display('div-gpt-ad-interstitial'); });
    </script>
</div>


<div id='div-gpt-ad-teads' class="hidden-xs">
    <script type='text/javascript'>
        googletag.cmd.push(function() { googletag.display('div-gpt-ad-teads'); });
    </script>
</div>