{{ set(this, 'title', _Blog.getBlogTitle()) }}
{% set networkData = _Network.getNetworkData() %}
{% set blogData    = _Blog.getBlog() %}
{% set layout      = blogData.layout %}
{% set site        = networkData.title | lower | split(" ")[0]%}
{% set homeBlog    = blogData['title'] | lower %}


{% set layoutTitle = _Page.getLayoutTitle() | lower | replace({' ': '_'}) %}

{{this.registerJs("Acme.cards = CardController();")}}

{% set templatePath = "window.Acme.templatePath = '" ~ networkData.templatePath ~ "';" %}
{{this.registerJs( templatePath )}}

{% set dev = _AppHelper.getApplicationEnv() == 'DEV' ? false : false %}

{% if dev %}
    {% set articlesArr = _Blog.getBlogFeed({'limit': 1, 'offset': 0}) %}
{% endif %}


{% set sectionOrder = [] %}



{# *******************************************************
                GLOBAL SITE SECTIONS
              (each site can override)


******************************************************* #}

{% set pageSections =  {
    'breaking_news' : {
        'template': 'partials/index/section-00.twig',
        'blogs' : ['breaking news'],
        'background': true,
    },
    'index': {
        'template': 'partials/index/section-15.twig',
        'blogs' : [(homeBlog), 'news', 'sport', 'rural news', 'entertainment', 'deniliquin news', 'aap', 'echuca news', 'galleries', 'dairy'],
        'articleOrder' : [(homeBlog), 'aap', 'sport', 'deniliquin news', 'news', 'aap', 'news', 'rural news', 'aap', 'echuca news', 'news', 'aap', 'galleries', 'aap', 'dairy']
    },
    'local': {
        'template': 'partials/index/section-01.twig',
        'title' : 'Local',
        'blogs': ['news', 'sport', 'education', 'lifestyle', 'entertainment'],
        'articleOrder' : ['news', 'news', 'sport', 'news', 'education', 'entertainment', 'news', 'sport', 'news', 'news', 'sport', 'lifestyle'],
        'template_params' : {
            'link' : (networkData.defaultBlogUrl ~ '/@local')
        }
    },
    "real estate": {
        'title'     : "Real Estate",
        'blogs'     : ['real estate'],
        'background': true,
        'template'  : 'partials/index/section-05.twig', 
        'template_params' : {
            'networkData' : networkData,
            'link': false
        },
    },
    "automotive": {
        'title'     : "Automotive",
        'blogs'     : ['automotive'],
        'template'  : 'partials/index/section-05.twig', 
    },
    "opinion": {
        'title'     : "Opinion",
        'blogs'     : ['opinion'],
        'template'  : 'partials/index/section-07.twig',
    },
    "videos": {
        'title'     : "Videos",
        'background': true,
        'template'  : 'partials/index/section-08.twig'
    },
    "galleries": {
        'title'     : "Galleries",
        'blogs'     : ['galleries'],
        'template'  : 'partials/index/section-08.twig'
    },
    "social": {
        'title'     : "Social",
        'blogs'     : ['social'],
        'template'  : 'partials/index/section-09.twig'
    },
    "contributed photos": {
        'title'     : "Contributed Photos",
        'blogs'     : ['contributed photos'],
        'template'  : 'partials/index/section-08.twig'
    }, 
    "regional news": {
        'title'     : "Regional",
        'blogs'     : ['echuca news', 'kyabram news', 'benalla news', 'deniliquin news', 'finley news', 'cobram news', 'seymour news', 'rochester news', 'heathcote news', 'tatura news', 'yarrawonga news', 'corowa news', 'echuca sport'],
        'articleOrder' : ['echuca news', 'kyabram news', 'benalla news', 'finley news', 'deniliquin news', 'cobram news', 'seymour news', 'rochester news', 'heathcote news', 'tatura news', 'yarrawonga news', 'corowa news', 'echuca sport'],
        'template'  : 'partials/index/section-02.twig',
        'template_params' : {
            'link' : networkData.defaultBlogUrl ~ '/@regional'
        }
    },
    "rural news": {
        'title'     : "Rural",
        'blogs'     : ['rural news', 'water', 'animal health', 'dairy', 'livestock', 'rural markets', 'rural news', 'horticulture', 'machinery & products', 'cropping', 'rural management', 'viticulture', 'from the experts'],
        'articleOrder' : ['rural news', 'water', 'animal health', 'dairy', 'livestock', 'rural markets', 'rural news', 'horticulture', 'dairy', 'rural news', 'machinery & products', 'rural management', 'water', 'cropping', 'viticulture', 'from the experts'],
        'template'  : 'partials/index/section-03.twig',
        'template_params' : {
            'link' : networkData.defaultBlogUrl ~ '/@rural'
        }
    },
    "national": {
        'title'     : "National and World",
        'blogs'     : ['national', 'aap finance', 'world', 'national & world sport', 'aap horse racing', 'national', 'aap entertainment'],
        'articleOrder' : ['national', 'aap finance', 'world', 'world', 'national & world sport', 'national & world sport', 'national', 'entertainment', 'national'],
        'template'  : 'partials/index/section-04.twig',
        'template_params' : {
            'link' : networkData.defaultBlogUrl ~ '/@national-and-world'
        }
    },




    'index-country': {
        'template': 'partials/index/section-15.twig',
        'template_params' : {
            'ad': 'mrec-2',
        },
        'blogs'     : [(homeBlog)]
    },
    'dairy': {
        'title'     : "Dairy",
        'template'  : 'partials/index/section-26.twig',
        'template_params' : {
            'ad': 'mrec-4'
        },
        'blogs'     : ['dairy']
    },
    'bloggers' :  {
        'blogs'     : ['blogs homepage'],
        'template'  : 'partials/index/section-25.twig',
        'template_params' : {
            'logo':  networkData.templatePath ~ '/static/images/megaphone.svg',
        }
    },
    'water': {
        'title'     : "Water",
        'template'  : 'partials/index/section-12.twig',
        'blogs'     : ['water']
    },
    'horticulture': {
        'title'     : "Horticulture",
        'template'  : 'partials/index/section-08.twig',
        'blogs'     : ['horticulture']
    },
    'viticulture': {
        'title'     : "Viticulture",
        'template'  : 'partials/index/section-23.twig',
        'blogs'     : ['viticulture'],
        'template_params' : {
            'ad': 'mrec-6'
        }
    },
    "livestock": {
        'title'     : "Livestock",
        'template'  : 'partials/index/section-09.twig',
        'blogs'     : ['livestock'],
    },
    'cropping': {
        'title'     : "Cropping",
        'template'  : 'partials/index/section-08.twig',
        'blogs'     : ['cropping']
    },






    'index-dairy': {
        'template': 'partials/index/section-15.twig',
        'blogs'     : [(homeBlog)]
    },
    'management': {
        'title'     : "Management",
        'template'  : 'partials/index/section-26.twig',
        'template_params' : {
            'ad': 'mrec-2'
        },
        'blogs'     : ['management']
    },
    'from the experts': {
        'title'     : "From The Experts",
        'template'  : 'partials/index/section-12.twig',
        'blogs'     : ['from the experts']
    },
    'markets': {
        'title'     : "Markets",
        'template'  : 'partials/index/section-08.twig',
        'blogs'     : ['markets']
    },
    'machinery & products': {
        'title'     : "Machinery & Products",
        'template'  : 'partials/index/section-23.twig',
        'blogs'     : ['machinery & products'],
        'template_params' : {
                'ad': 'mrec-6'
        }
    },
    'animal health': {
        'title'     : "Animal Health",
        'template'  : 'partials/index/section-08.twig',
        'blogs'     : ['animal health']
    }
} %}








{# The following list of blogs are required for each site to load the feeds #}

{# *******************************************************
                        SHEPPARTON
******************************************************* #}
{% set blogFeeds =  {} %}

{% if site == 'shepparton' or site == 'aapp' %}

    {% set blogFeeds = blogFeeds | merge({
            (homeBlog):             { "limit" : 1},
            "news":                 { "limit" : 6},
            "sport":                { "limit" : 3},
            "education":            { "limit" : 1},
            "lifestyle":            { "limit" : 1},
            "entertainment":        { "limit" : 1},
            "deniliquin news":      { "limit" : 1},
            "aap":                  { "limit" : 5},
            "rural news":           { "limit" : 3},
            'dairy':                { "limit" : 2},

            "opinion":              { "limit" : 4},
            "real estate":          { "limit" : 3},
            "automotive":           { "limit" : 3},
            "galleries":            { "limit" : 3},
            "social":               { "limit" : 3},
            "contributed photos":   { "limit" : 3},

            
            'echuca news':          { "limit" : 1}, 
            'kyabram news':         { "limit" : 1}, 
            'benalla news':         { "limit" : 1}, 
            'deniliquin news':      { "limit" : 1}, 
            'finley news':          { "limit" : 1}, 
            'cobram news':          { "limit" : 1}, 
            'seymour news':         { "limit" : 1}, 
            'rochester news':       { "limit" : 1}, 
            'heathcote news':       { "limit" : 1}, 
            'tatura news':          { "limit" : 1}, 
            'yarrawonga news':      { "limit" : 1}, 
            'corowa news':          { "limit" : 1}, 
            'echuca sport':         { "limit" : 1},


            'water':                { "limit" : 2},
            'animal health':        { "limit" : 1},
            'livestock':            { "limit" : 1},
            'rural markets':        { "limit" : 1},
            'horticulture':         { "limit" : 1},
            'machinery & products': { "limit" : 1},
            'cropping':             { "limit" : 1},
            'rural management':     { "limit" : 1},
            'viticulture':          { "limit" : 1},
            'from the experts':     { "limit" : 1},


            'national':             { "limit" : 3},
            'world':                { "limit" : 2},
            'aap finance':          { "limit" : 1},
            'national & world sport': { "limit" : 2},
            'aap entertainment':    { "limit" : 1},
            


        })
    %}

    {% set sectionOrder = ['index', 'local', 'real estate', 'automotive', 'opinion', 'videos', 'galleries', 'social', 'contributed photos', 'regional news', 'rural news', 'national'] %}
    {# {% set sectionOrder = ['local', 'regional news', 'rural news'] %} #}

    {% if layoutTitle == 'major_breaking_news' %}
        {% set blogFeeds = blogFeeds | merge({ 'breaking news': { "limit" : 6} }) %}
        {% set sectionOrder = ['breaking_news'] | merge(sectionOrder) %}
    {% endif %} 

    {% if layoutTitle == 'minor_breaking_news' %}
        {% set blogFeeds = blogFeeds | merge({ 'breaking news': { "limit" : 1} }) %}
        
        {% set pageSections = pageSections | merge({ 'index' : 
            {
                'template': 'partials/index/section-15.twig',
                'template_params' : {
                    'layout': 'breaking news',
                },
                'blogs' : ['breaking news', (homeBlog), 'news', 'sport', 'rural news', 'entertainment', 'deniliquin news', 'aap', 'echuca news', 'galleries', 'dairy news'],
                'articleOrder' : ['breaking news', (homeBlog), 'aap', 'sport', 'deniliquin news', 'news', 'aap', 'news', 'rural news', 'aap', 'echuca news', 'news', 'aap', 'galleries', 'aap', 'dairy news'],
            }
        }) %}

    {% endif %} 




{# *******************************************************
                    COUNTRY
******************************************************* #}

{% elseif site == 'country' %}

    {% set blogFeeds = blogFeeds | merge({
            (homeBlog):         { "limit" : 15},
            "dairy":            { "limit" : 6},
            "blogs homepage":   { "limit" : 2},
            "water":            { "limit" : 4},
            "horticulture":     { "limit" : 3},
            "viticulture":      { "limit" : 3},
            "livestock":        { "limit" : 3},
            "cropping":         { "limit" : 3}
        })
    %}

    {% set sectionOrder = ['index-country','dairy', 'bloggers', 'water', 'horticulture', 'viticulture', 'livestock', 'cropping'] %}








{# *******************************************************
                    DAIRY
******************************************************* #}

{% elseif site == 'dairy' %}

    {% set blogFeeds = blogFeeds | merge({
            (homeBlog):             { "limit" : 15},
            "management":           { "limit" : 6},
            "from the experts":     { "limit" : 4},
            "markets":              { "limit" : 3},
            "machinery & products": { "limit" : 3},
            "animal health":        { "limit" : 3}
        })
    %}

    {% set sectionOrder = ['index-dairy', 'management', 'from the experts', 'markets', 'machinery & products', 'animal health'] %}

{% endif %}








{# *******************************************************
                Fetch all needed feeds
******************************************************* #}
{% for key, value in blogFeeds %}
    {% for blog in networkData.networkBlogs %}


        {# FOR DEV  #}
        {% if dev %}
            {% set blogFeeds = blogFeeds | merge({
                (key) : { 'feed' : articlesArr, 'link' : '#' } }) %}
        {% endif %}


        {# FOR PRODUCTION #}
        {% if not dev and blog.title | lower == key | lower %}

            {% set feed = _Blog.getBlogFeed({'limit': blogFeeds[key]['limit'], 'offset': 0, 'blogid':blog.guid}) %}

            {% set blogFeeds = blogFeeds | merge({
                (key) : {
                    'feed'      : feed,
                    'link'      : blog.link
                    }
                }) %}

        {% endif %}
    {% endfor %}
{% endfor %}




{# <pre>
    {{dump(blogFeeds)}}
</pre> #}




<main id="main" class="site-main" role="main" data-layout="{{layoutTitle}}">


    {# *******************************************************
                        RENDER SECTIONS
    ******************************************************* #}
    
    {% for pagesection in sectionOrder %}
       
       
        {% set params = {
            'section'   : pageSections[pagesection],
            'blogFeeds' : blogFeeds,
            'site'      : site,
            'dev'       : dev
        } %}
    
        {{this.render('render.twig', params) | raw}} 



        {% if site == 'country' %}
            {% set bannerSpots = [3,4,7] %}
        {% elseif site == 'dairy' %}
            {% set bannerSpots = [1,3,4] %}
        {% else %}
            {% set bannerSpots = [1,7,10] %}
        {% endif %}

        {% if loop.index in bannerSpots %}
            <div class="ad-container">
                <div class='advert-desktop advert-tablet' data-adsize="banner"></div>
            </div> 
            <div class="ad-container col-sm-9 visible-xs-block">
                <div class='advert-mobile' data-adsize="mrec"></div>
            </div> 
        {% endif %}



    {% endfor %}



</main><!-- .site-main -->





<div class='advert-desktop advert-tablet' data-adsize="interstitial"></div>