{{ set(this, 'title', _Blog.getBlogTitle()) }}
{% set networkData = _Network.getNetworkData() %}


{{this.registerJs("CardController();")}}

{% set limit = 30 %}

{% set articlesArr = _Blog.getBlogFeed({'limit': limit, 'offset': 0}) %}
{% set articles = articlesArr.articles %}


<!-- used to index each article as we loop over throughout the template -->
{% set articleCount = 0 %}
{% set testCount = 0 %}


    {% set sections =  {
            "videos": {
                "feed": "",
                "link": ""
            }, 
            "local news": {
                "feed": "",
                "link": ""
            }, 
            "regional news": {
                "feed": "",
                "link": ""
            },
            "opinion": {
                "feed": "",
                "link": ""
            },
            "rural news": {
                "feed": "",
                "link": ""
            },
            "national": {
                "feed": "",
                "link": ""
            },
            "sport": {
                "feed": "",
                "link": ""
            },
            "business": {
                "feed": "",
                "link": ""
            }
        }
    %}

    {% for key, value in sections %}
        {% for blog in networkData.networkBlogs %}
            {% if blog.title | lower == key %}
                {% set sections = sections | merge({
                    (key) : {
                        'feed': _Blog.getBlogFeed({'limit': 4, 'offset': 0, 'blogid':blog.guid}),
                        'link' : blog.url
                        }
                    }) %}
            {% endif %}
        {% endfor %}
    {% endfor %}











    <main id="main" class="site-main" role="main">
        
        <div class="container">

            <section class="home-main-stories">
                <div class="row">
                    <div class="col-sm-9 col-md-6">
                        {% if articles[articleCount] %}                                                                
                            {{this.render('partials/_single-article.twig', {
                                article: articles[articleCount], 
                                position: articleCount + 1, 
                                imageSize: {width:630, height:400},
                                containerClass: 'home-feature home-feature-mobile'
                            }) | raw}}
                            {% set articleCount = articleCount + 1 %}
                        {% endif %}
                    </div>


                    {% if articles[articleCount] %}
                    <div class="cold-sm-9 col-md-3">
                        {% for i in 0..2 if articles[i] %}
                            {{this.render('partials/_single-article.twig', {
                                article: articles[articleCount], 
                                position: articleCount + 1, 
                                containerClass: 'feature-side'
                            }) | raw}}
                            {% set articleCount = articleCount + 1 %}
                        {% endfor %}
                    </div><!-- .row-->
                    {% endif %}

                </div>
            </section><!-- .featured-slider-->






            <section class="row five-cols top-stories-row">
                
                {% for i in 0..4 if articles[articleCount] %}
                    {{this.render('partials/_single-article.twig', {
                        article: articles[articleCount], 
                        position: 1, 
                        imageSize: {width:500},
                        containerClass: 'col-sm-1 top-stories top-stories-mobile'
                    }) | raw}}
                    {% set articleCount = articleCount + 1 %}
                {% endfor %}
            </section>











            <section class="middle">
                <div class="row">
                    <div class="col-md-2 most-popular">
                        <h2>Most popular</h2>

                        {% for i in 0..4 if articles[articleCount] %}
                            {{this.render('partials/_single-article.twig', {
                                article: articles[articleCount], 
                                position: 1,
                                imageSuppress: true, 
                                containerClass: 'card-popular'
                            }) | raw}}
                        {% endfor %}

                    </div>

                    <div class="col-md-2">
                        {% if articles[articleCount] %}
                            {{this.render('partials/_single-article.twig', {
                                article: articles[articleCount], 
                                position: articleCount + 1, 
                                imageSize: {width:190},
                                containerClass: 'card-sm card-sm-mobile'
                            }) | raw}}
                            {% set articleCount = articleCount + 1 %}
                        {% endif %}
                    </div>


                    <div class="col-md-2">
                        {% if articles[articleCount] %}
                            {{this.render('partials/_single-article.twig', {
                                article: articles[articleCount], 
                                position: articleCount + 1, 
                                imageSize: {width:190},
                                containerClass: 'card-sm card-sm-mobile'
                            }) | raw}}
                            {% set articleCount = articleCount + 1 %}
                        {% endif %}
                    </div>


                    <div class="col-md-3">
                        <div class="ad-square"></div>
                    </div>
                </div>
                    

                <div class="row">
                    <div class="col-md-3">
                        {% if articles[articleCount] %}
                            {{this.render('partials/_single-article.twig', {
                                article: articles[articleCount], 
                                position: articleCount + 1, 
                                imageSize: {width:300},
                                containerClass: 'card-sm-wide card-sm2-mobile'
                            }) | raw}}
                            {% set articleCount = articleCount + 1 %}
                        {% endif %}
                    </div>


                    <div class="col-md-3">
                        {% if articles[articleCount] %}
                            {{this.render('partials/_single-article.twig', {
                                article: articles[articleCount], 
                                position: articleCount + 1, 
                                imageSize: {width:300},
                                containerClass: 'card-sm-wide card-sm2-mobile'
                            }) | raw}}
                            {% set articleCount = articleCount + 1 %}
                        {% endif %}


                    </div>
                    <div class="col-md-3">
                        {% for i in 0..1 if articles[articleCount] %}
                            {{this.render('partials/_single-article.twig', {
                                article: articles[articleCount], 
                                position: articleCount + 1, 
                                imageSize: {width:95},
                                containerClass: 'card-xs card-sm2-mobile'
                            }) | raw}}
                            {% set articleCount = articleCount + 1 %}
                            
                            {% if i == 0 %}
                                <hr class="divide visible-md-block visible-lg-block">
                            {% endif %}
                        {% endfor %}

                    </div>
                </div>

            </section>







            <section class="advert" style="background:gray;height:200px;"></section>

        </div>



        {% if sections['videos'].feed.articles|length > 0 %}
            <section class="section-background">
                <div class="container">
                    <div class="row">
                        <div class="col-md-9 section-header">
                            <p><a href="{{sections['videos'].link}}">View All</a></p>
                            <div class="hk">
                                <h2>VIDEOS</h2>
                                <p></p>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        {% for i in 0..2 if sections['videos'].feed.articles[articleCount] %}
                            {{this.render('partials/_single-article.twig', {
                                article: sections['videos'].feed.articles[articleCount], 
                                imageSize: {width:95},
                                containerClass: 'col-md-3 card-sm-wide card-sm-wide-mobile'
                            }) | raw}}
                            {% set articleCount = articleCount + 1 %}

                        {% endfor %}

                    </div>
                </div>
            </section>
        {% endif %}






        <div class="container">




            {% if sections['local news'].feed.articles|length > 0 %}
                {% set localCount = 0 %}

                <section class="row">
                    <div class="col-md-9 section-header">
                        <p><a href="{{sections['local news'].link}}">View All</a></p>
                        <div class="hk">
                            <h2>LOCAL NEWS</h2>
                            <p></p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-9">
                                {% if sections['local news'].feed.articles[localCount] %}
                                    {{this.render('partials/_single-article.twig', {
                                        article: sections['local news'].feed.articles[localCount], 
                                        position: articleCount + 1, 
                                        imageSize: {width:630},
                                        containerClass: 'home-feature-sm home-feature-mobile'
                                    }) | raw}}
                                    {% set localCount = localCount + 1 %}
                                {% endif %}

                            </div>
                        </div>


                        <div class="row" style="margin-top:30px">
                            <div class="col-md-3">
                                <h2>Events</h2>

                                {% for i in 0..4 if events[articleCount] %}
                                    {{this.render('partials/_single-article.twig', {
                                        article: events[articleCount], 
                                        containerClass: 'card-popular'
                                    }) | raw}}
                                {% endfor %}
                            </div>



                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-9">
                                        
                                        {% if sections['local news'].feed.articles[articleCount] %}
                                            {{this.render('partials/_single-article.twig', {
                                                article: sections['local news'].feed.articles[articleCount], 
                                                imageSize: {width:630},
                                                containerClass: 'card-rec-full'
                                            }) | raw}}
                                            {% set articleCount = articleCount + 1 %}
                                        {% endif %}
                                    </div>
                                </div>

                                <div class="row" style="margin-top:30px">

                                    <div class="row two-cols">

                                        {% for i in 0..1 if sections['local news'].feed.articles[articleCount] %}
                                            {{this.render('partials/_single-article.twig', {
                                                article: sections['local news'].feed.articles[articleCount], 
                                                imageSize: {width:95},
                                                containerClass: 'col-md-1 card-sm card-sm-mobile'
                                            }) | raw}}
                                            {% set articleCount = articleCount + 1 %}

                                        {% endfor %}
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                    <div class="col-md-3">
                        
                        {% for i in 0..1 if sections['local news'].feed.articles[articleCount] %}
                            {{this.render('partials/_single-article.twig', {
                                article: sections['local news'].feed.articles[articleCount], 
                                imageSuppress: true,
                                containerClass: 'card-xs card-xs-mobile'
                            }) | raw}}
                            {% set articleCount = articleCount + 1 %}
                           
                            {% if i == 0 %}
                                <hr class="divide">
                            {% endif %}

                        {% endfor %}
                
                        <div class="ad-large-vert" style="margin-top:30px;"></div>
                    </div>

                </section>
            {% endif %}







{#             {% if sections['regional news'].feed.articles|length > 0 %}
 #}
                <section class="row">
                    <div class="col-md-3">
                        <img src="{{networkData.templatePath}}/static/images/bloggers.svg">
                    </div>


                    {% for i in 0..1 if sections['regional news'].feed.articles[articleCount] %}
                        {{this.render('partials/_single-article.twig', {
                            article: sections['regional news'].feed.articles[articleCount], 
                            imageSuppress: true,
                            containerClass: 'col-md-3 card-blogger card-blogger-mobile'
                        }) | raw}}
                        {% set articleCount = articleCount + 1 %}
                        {% if i == 0 %}
                            <hr class="divide visible-sm-block visible-xs-block">
                        {% endif %}

                    {% endfor %}

                </section>
{#             {% endif %}
 #}






            {% if sections['regional news'].feed.articles|length > 0 %}

                <section class="row">
                    <div class="col-md-9 section-header">
                        <p><a href="{{sections['regional news'].link}}">View All</a></p>
                        <div class="hk">
                            <h2>REGIONAL NEWS</h2>
                            <p></p>
                        </div>
                    </div>

                    <div class="col-md-4">
                        {% if sections['regional news'].feed.articles[articleCount] %}
                            {{this.render('partials/_single-article.twig', {
                                article: sections['regional news'].feed.articles[articleCount], 
                                imageSize: {width:409, height:530},
                                containerClass: 'home-feature-thin home-feature-thin-mobile'
                            }) | raw}}
                            {% set articleCount = articleCount + 1 %}
                        {% endif %}



                    </div>
                    <div class="col-md-2">
                        
                        {% for i in 0..1 if sections['regional news'].feed.articles[articleCount] %}
                            {{this.render('partials/_single-article.twig', {
                                article: sections['regional news'].feed.articles[articleCount], 
                                imageSize: {width:190},
                                containerClass: 'card-sm card-sm-mobile'
                            }) | raw}}
                            {% set articleCount = articleCount + 1 %}
                        {% endfor %}

                    </div>

                    <hr class="divide visible-xs-block visible-sm-block">

                    <div class="col-md-3">
                        
                        {% for i in 0..1 if sections['regional news'].feed.articles[articleCount] %}
                            {{this.render('partials/_single-article.twig', {
                                article: sections['regional news'].feed.articles[articleCount], 
                                imageSuppress: true,
                                containerClass: 'card-xs card-xs-mobile'
                            }) | raw}}
                            {% set articleCount = articleCount + 1 %}
                            {% if i == 0 %}
                                <hr class="divide">
                            {% endif %}

                        {% endfor %}


                        <div class="ad-square" style="margin-top:30px;"></div>

                    </div>
                </section>
            {% endif %}









{# 
            <section class="row">
                <div class="col-md-9 section-header">
                    <p>View All</p>
                    <div class="hk">
                        <h2>HEADER 4</h2>
                        <p></p>
                    </div>
                </div>
                <div class="col-md-2" style="background:red;height:100px;"></div>
                <div class="col-md-2" style="background:green;height:100px;"></div>
                <div class="col-md-2" style="background:orange;height:100px;"></div>
                <div class="col-md-3" style="background:pink;height:100px;"></div>
            </section>


 #}






            {% if sections['rural news'].feed.articles|length > 0 %}

                <section>
                    <div class="row">
                        <div class="col-md-9 section-header">
                            <p><a href="{{sections['rural news'].link}}">View All</a></p>
                            <div class="hk">
                                <h2>RURAL NEWS</h2>
                                <p></p>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        {% for i in 0..2 if sections['rural news'].feed.articles[articleCount] %}
                            {{this.render('partials/_single-article.twig', {
                                article: sections['rural news'].feed.articles[articleCount], 
                                imageSize: {width:95},
                                containerClass: 'col-md-3 card-sm-wide card-sm2-mobile'
                            }) | raw}}
                            {% set articleCount = articleCount + 1 %}

                        {% endfor %}

                    </div>
                </section>
            {% endif %}










            {% if sections['national'].feed.articles|length > 0 %}

                <section class="row">
                    <div class="col-md-9 section-header">
                        <p><a href="{{sections['national'].link}}">View All</a></p>
                        <div class="hk">
                            <h2>NATIONAL</h2>
                            <p></p>
                        </div>
                    </div>

                    {% for i in 0..2 if sections['national'].feed.articles[articleCount] %}
                        {{this.render('partials/_single-article.twig', {
                            article: sections['national'].feed.articles[articleCount], 
                            imageSize: {width:95},
                            containerClass: 'col-md-2 card-sm card-sm-mobile'
                        }) | raw}}
                        {% set articleCount = articleCount + 1 %}

                    {% endfor %}

                    {% if sections['national'].feed.articles[articleCount] %}
                        {{this.render('partials/_single-article.twig', {
                            article: sections['national'].feed.articles[articleCount], 
                            imageSize: {width:95},
                            containerClass: 'col-md-3 card-sm-wide card-sm2-mobile'
                        }) | raw}}
                        {% set articleCount = articleCount + 1 %}

                    {% endif %}
                </section>
            {% endif %}










            {% if sections['sport'].feed.articles|length > 0 %}

                <section>
                    <div class="row">
                        <div class="col-md-9 section-header">
                            <p><a href="{{sections['sport'].link}}">View All</a></p>
                            <div class="hk">
                                <h2>SPORT</h2>
                                <p></p>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                           {% if sections['sport'].feed.articles[articleCount] %}
                               {{this.render('partials/_single-article.twig', {
                                   article: sections['sport'].feed.articles[articleCount], 
                                   imageSize: {width:630},
                                   containerClass: 'home-feature-sm home-feature-mobile'
                               }) | raw}}
                               {% set articleCount = articleCount + 1 %}
                           {% endif %}
     

                        </div>
                        <div class="col-md-3">
                        
                            <div class="ad-square" style="margin-bottom:30px;"></div>

                             {% if sections['sport'].feed.articles[articleCount] %}
                                 {{this.render('partials/_single-article.twig', {
                                     article: sections['sport'].feed.articles[articleCount], 
                                     imageSize: {width:80},
                                     containerClass: 'card-xs card-xs-mobile'
                                 }) | raw}}

                                <hr class="divide visible-sm-block visible-xs-block">

                                 {% set articleCount = articleCount + 1 %}
                             {% endif %}
                   
        

                        </div>
                    </div>

                    <div class="row" style="margin-top:30px;">

                        {% for i in 0..2 if sections['sport'].feed.articles[articleCount] %}
                            {{this.render('partials/_single-article.twig', {
                                article: sections['sport'].feed.articles[articleCount], 
                                imageSize: {width:80},
                                containerClass: 'col-md-3 card-xs card-xs-mobile divideright'
                            }) | raw}}
                            {% set articleCount = articleCount + 1 %}
                            <hr class="divide visible-sm-block visible-xs-block">
                        {% endfor %}

                    </div>
                </section>
            {% endif %}







            {% if sections['business'].feed.articles|length > 0 %}

                <section class="row">
                     <div class="col-md-9 section-header">
                        <p><a href="{{sections['business'].link}}">View All</a></p>
                         <div class="hk">
                             <h2>BUSINESS</h2>
                             <p></p>
                         </div>
                     </div>

                     <div class="col-md-4">
                         {% if sections['business'].feed.articles[articleCount] %}
                             {{this.render('partials/_single-article.twig', {
                                 article: sections['business'].feed.articles[articleCount], 
                                 imageSize: {width:630},
                                 containerClass: 'home-feature-thin home-feature-thin-mobile'
                             }) | raw}}
                             {% set articleCount = articleCount + 1 %}
                         {% endif %}



                     </div>
                     <div class="col-md-2">
                         
                         {% for i in 0..1 if sections['business'].feed.articles[articleCount] %}
                             {{this.render('partials/_single-article.twig', {
                                 article: sections['business'].feed.articles[articleCount], 
                                 imageSize: {width:190},
                                 containerClass: 'card-sm card-sm-mobile'
                             }) | raw}}
                             {% set articleCount = articleCount + 1 %}
                         {% endfor %}



                     </div>
                     <div class="col-md-3">
                         <div class="ad-square" style="margin-bottom:30px;"></div>

                         {% for i in 0..1 if sections['business'].feed.articles[articleCount] %}
                             {{this.render('partials/_single-article.twig', {
                                 article: sections['business'].feed.articles[articleCount], 
                                 imageSize: {width:80},
                                 containerClass: 'card-xs card-xs-mobile'
                             }) | raw}}
                             {% set articleCount = articleCount + 1 %}
                             {% if i == 0 %}
                                 <hr class="divide">
                             {% endif %}

                         {% endfor %}



                     </div>
                </section>
            {% endif %}






        </div>


    </main><!-- .site-main -->