{{ set(this, 'title', _Blog.getBlogTitle()) }}
{% set networkData = _Network.getNetworkData() %}
{% set blogData    = _Blog.getBlog() %}
{% set layout      = blogData.layout %}
{% set site        = networkData.title | lower | split(" ")[0]%}
{# {% set site        = "dairy" %} #}
{# {% set layoutTitle = _Page.getLayoutTitle() %} #}

{{this.registerJs("Acme.cards = CardController();")}}

{% set templatePath = "window.Acme.templatePath = '" ~ networkData.templatePath ~ "';" %}
{{this.registerJs( templatePath )}}

{% set limit = 15 %}

{% set articlesArr = _Blog.getBlogFeed({'limit': limit, 'offset': 0}) %}
{% set articles = articlesArr.articles %}

{% set date = date() %}
{% set events = _Event.getEvents({"limit": 5, "start_date": date.date | split(" ")[0]}) %}

<!-- used to index each article as we loop over throughout the template -->
{% set articleCount = _AppHelper.getApplicationEnv() == 'DEV' ? 0 : 0 %}
{% set dev = _AppHelper.getApplicationEnv() == 'DEV' ? false : false %}

{% set sections =  {
        "local news": {
            "title": "Local News",
            "limit" : 6
        }, 
        "regional news": {
            "title": "Regional News",
            "limit" : 5
        },
        "opinion": {
            "title": "Opinion",
            "limit" : 4
        },
        "rural news": {
            "title": "Rural News",
            "limit" : 3
        },
        "sport": {
            "title": "Sport",
            "limit" : 5
        },
        "national": {
            "title": "National",
            "limit" : 4
        },
        "business": {
            "title": "Business",
            "limit" : 5
        },
        "bloggers": {
            "title": "Bloggers",
            "limit" : 2
        }
    }
%}

{% for key, value in sections %}
    {% for blog in networkData.networkBlogs %}
        {% if blog.title | lower == key %}
            
            {% set feed = dev 
                    ? articlesArr 
                    : _Blog.getBlogFeed({'limit': sections[key]['limit'], 'offset': 0, 'blogid':blog.guid}) 
            %}

            {% set sections = sections | merge({
                (key) : {
                    'feed'   : feed,
                    'link'   : blog.link,
                    'title'  : sections[key]['title']
                    }
                }) %}
        {% endif %}
    {% endfor %}
{% endfor %}



{# First set a common order then add site order to beginning #}
{# {% set sectionOrder = ["world", "business", "videos", "community"] %}

{% if blogNetworkNameIs == 'frank uk' %}

    {% set sectionOrder = ["uk", "europe"] | merge(sectionOrder ) %}

{% elseif blogNetworkNameIs == 'frank nz'  %}

    {% set sectionOrder = ["new zealand", "australia"] | merge(sectionOrder ) %}

{% else %}

    {% set sectionOrder = ["australia", "new zealand"] | merge(sectionOrder ) %}

{% endif %} #}











<main id="main" class="site-main" role="main">
    
    <div class="container">
        {{this.render('partials/index/default-top.twig', {
            articles: articles, 
            articleCount: articleCount,
            dev: dev,
            site: site,
            ad: 'div-gpt-ad-mrec-4',
        }) | raw}}
    </div>

    <div id="newAdSlot"></div>
    <script>loadNextAd()</script>

    {% if sections['local news'].feed.articles|length > 0 %}
        <div class="container">
            {{this.render('partials/index/large-section.twig', {
                articles: sections['local news'], 
                articleCount: articleCount,
                section: 'local news',
                events: events,
                dev: dev,
                site: site,
                ad: 'div-gpt-ad-halfpage-ss',
                site: site,
            }) | raw}} 
        </div>
    {% endif %}



    <div class="ad-container hidden-md hidden-lg mobad2">
        <div id='div-gpt-ad-mrec-7' class="card__announcement-image google_ad google_ad_mrec text-center" >
            <script type='text/javascript'>
                googletag.cmd.push(function() { googletag.display('div-gpt-ad-mrec-7'); });
            </script>
        </div>
    </div>





    {% if sections['bloggers'].feed.articles|length > 0 %}
        <div class="container">
            {{this.render('partials/index/bloggers.twig', {
                articles: sections['bloggers'], 
                articleCount: articleCount,
                section: 'bloggers',
                dev: dev,
                site: site,
                logo: networkData.templatePath ~ '/static/images/megaphone.svg',
                networkData: networkData
            }) | raw}} 
        </div>
    {% endif %}







    {% if sections['regional news'].feed.articles|length > 0 %}
        <div class="container">
            {{this.render('partials/index/medium-section.twig', {
                articles: sections['regional news'], 
                articleCount: articleCount,
                section: 'regional news',
                dev: dev,
                site: site,
                ad: 'div-gpt-ad-mrec-1',
            }) | raw}} 
        </div>
    {% endif %}




    <div class="ad-container visible-sm-block">
        <div id='div-gpt-ad-leaderboard-3' class="google_ad google_ad_leaderboard">
            <script type='text/javascript'>
                googletag.cmd.push(function() { googletag.display('div-gpt-ad-leaderboard-3'); });
            </script>
        </div>
    </div>      





    {% if sections['opinion'].feed.articles|length > 0 %}
        <div class="container">
            {{this.render('partials/index/opinion.twig', {
                articles: sections['opinion'], 
                articleCount: articleCount,
                section: 'opinion',
                dev: dev,
                site: site,
            }) | raw}} 
        </div>
    {% endif %}







    {% if sections['rural news'].feed.articles|length > 0 %}
        <div class="container">
            {{this.render('partials/index/row-three.twig', {
                articles: sections['rural news'], 
                articleCount: articleCount,
                section: 'rural news',
                dev: dev,
                site: site,
                cards: 'card-sm-wide card-sm-wide-tablet card-sm-mobile',
            }) | raw}} 
        </div>
    {% endif %}







    {% if sections['national'].feed.articles|length > 0 %}
        <div class="container">
            {{this.render('partials/index/row-four.twig', {
                articles: sections['national'], 
                articleCount: articleCount,
                section: 'national',
                dev: dev,
                site: site,
            }) | raw}} 
        </div>
    {% endif %}








    {% if sections['sport'].feed.articles|length > 0 %}
        <div class="container">
            {{this.render('partials/index/section-with-feature.twig', {
                articles: sections['sport'], 
                articleCount: articleCount,
                section: 'sport',
                dev: dev,
                site: site,
                ad: 'div-gpt-ad-mrec-2',
            }) | raw}} 
        </div>
    {% endif %}








    {% if sections['business'].feed.articles|length > 0 %}
        <div class="container">
            {{this.render('partials/index/medium-section.twig', {
                articles: sections['business'], 
                articleCount: articleCount,
                section: 'business',
                dev: dev,
                site: site,
                ad: 'div-gpt-ad-mrec-3',                
            }) | raw}} 
        </div>
    {% endif %}



   

</main><!-- .site-main -->

<div id='div-gpt-ad-interstitial' class="hidden-xs">
    <script type='text/javascript'>
        googletag.cmd.push(function() { googletag.display('div-gpt-ad-interstitial'); });
    </script>
</div>
<div id='div-gpt-ad-teads' class="hidden-xs">
    <script type='text/javascript'>
        googletag.cmd.push(function() { googletag.display('div-gpt-ad-teads'); });
    </script>
</div>