{{ set(this, 'title', _Blog.getBlogTitle()) }}
{% set networkData = _Network.getNetworkData() %}
{% set blogData    = _Blog.getBlog() %}
{% set layout      = blogData.layout %}
{% set site        = networkData.title | lower | split(" ")[0]%}

{# {% set site        =  'country' %} #}

{# {% set layoutTitle = _Page.getLayoutTitle() %} #}

{{this.registerJs("Acme.cards = CardController();")}}

{% set templatePath = "window.Acme.templatePath = '" ~ networkData.templatePath ~ "';" %}
{{this.registerJs( templatePath )}}

{# {% set limit = 1 %}
{% set articlesArr = _Blog.getBlogFeed({'limit': limit, 'offset': 0}) %}
{% set articles = articlesArr.articles %} #}


<!-- used to index each article as we loop over throughout the template -->
{# {% set articleCount = _AppHelper.getApplicationEnv() == 'DEV' ? 0 : 0 %} #}
{% set dev = _AppHelper.getApplicationEnv() == 'DEV' ? false : false %}


{# The following list of blogs are required for each site to load the feeds #}
{% set blogFeeds =  { (site) : { "limit" : 15} } %}

{% if site == 'shepparton' %}

    {% set blogFeeds = blogFeeds | merge({
            "local news":       { "limit" : 6},
            "opinion":          { "limit" : 4},
            "real estate":      { "limit" : 3},
            "automotive":       { "limit" : 3},
            "bloggers":         { "limit" : 3},
            "video":            { "limit" : 3},
            "galleries":        { "limit" : 3},
            "social":           { "limit" : 3},
            "contributed photos":{ "limit" : 3},
            "regional news":    { "limit" : 13},
            "rural news":       { "limit" : 16},
            "national":         { "limit" : 13}
        })
    %}


    {% set pageSections =  {
        'index': {
            'template': 'partials/index/section-00-top.twig',
            'blogs'         : ['aapp'],
        },
        'local': {
            'template': 'partials/index/section-01-local.twig',
            'template_params' : {
                 'ad': 'index-mrec-2'
            },
            'title' : 'Local News',
            'blogs': ['local news'],
        },
        "real estate": {
            'title'     : "Real Estate",
            'blogs'     : ['real estate'],
            'background': true,
            'template'  : 'partials/index/section-02-real-estate.twig', 
            'template_params' : {
                'href': ['https://www.realestateview.com.au','0'],
                'networkData' : networkData
            },
        },
        "automotive": {
            'title'     : "Automotive",
            'blogs'     : ['automotive'],
            'template'  : 'partials/index/section-02-real-estate.twig', 
        },
        "opinion": {
            'title'     : "Opinion",
            'blogs'     : ['opinion'],
            'template'  : 'partials/index/section-03-opinion.twig',
        },
        'bloggers' :  {
            'blogs'     : ['bloggers'],
            'template'  : 'partials/index/bloggers.twig',
            'template_params' : {
                'logo':  networkData.templatePath ~ '/static/images/megaphone.svg',
            }
        },
        "videos": {
            'title'     : "Videos",
            'blogs'     : ['video'],
            'background': true,
            'template'  : 'partials/index/section-04-videos.twig'
        },
        "galleries": {
            'title'     : "Galleries",
            'blogs'     : ['galleries'],
            'template'  : 'partials/index/section-05-gallery.twig'
        },
        "social": {
            'title'     : "Social",
            'blogs'     : ['social'],
            'template'  : 'partials/index/section-06-social.twig'
        },
        "contributed photos": {
            'title'     : "Contributed Photos",
            'blogs'     : ['contributed photos'],
            'template'  : 'partials/index/section-05-gallery.twig'
        }, 
        "regional news": {
            'title'     : "Regional News",
            'blogs'     : ['regional news'],
            'template'  : 'partials/index/section-07-regional.twig', 
            'template_params' : {
                'ad': 'index-mrec-3'
            }
        },
        "rural news": {
            'title'     : "Rural News",
            'blogs'     : ['rural news'],
            'template'  : 'partials/index/section-08-rural.twig',
            'template_params' : {
                'ad': 'index-mrec-4'
            }
        },
        "national": {
            'title'     : "National and World",
            'blogs'     : ['national'],
            'template'  : 'partials/index/section-09-national.twig', 
            'template_params' : {
                'ad': 'index-mrec-5'
            }
        }



    } %}


{% endif  %}


{% for key, value in blogFeeds %}
    {% for blog in networkData.networkBlogs %}
        {% if blog.title | lower == key %}
            
            {% set feed = dev 
                    ? articlesArr 
                    : _Blog.getBlogFeed({'limit': blogFeeds[key]['limit'], 'offset': 0, 'blogid':blog.guid}) 
            %}

            {% set blogFeeds = blogFeeds | merge({
                (key) : {
                    'feed'      : feed,
                    'link'      : blog.link
                    }
                }) %}

        {% endif %}
    {% endfor %}
{% endfor %}



{% set sectionCount = 0 %}
{% set sectionOrder = [] %}
{% if site == 'shepparton' %}
    {% set sectionOrder = ['index', 'local', 'real estate', 'automotive', 'opinion', 'videos', 'galleries', 'social', 'contributed photos', 'regional news', 'rural news', 'national'] %}
{% elseif site == 'country' %}
    {% set sectionOrder = ['dairy', 'water', 'horticulture', 'livestock', 'cropping', 'videos', 'blogs homepage', 'viticulture'] %}
{% endif %}











<main id="main" class="site-main" role="main">
    





    {# <div id="newAdSlot"></div>
    <script>loadNextAd()</script> #}










    {# *******************************************************
                           SECTIONS
    ******************************************************* #}
    {% for pagesection in sectionOrder %}

        {% set section = pageSections[pagesection] %}


        {% set count = {} %}

        {% set feedArr = [] %}


        {# If a page section has articles from multiple blogs, assemble here #}
        {% if section.articleOrder is defined and section.articleOrder | length > 0 %}
            
            {% for a in section.articleOrder %}
                
                {% set count = count | merge( { (a) : count[a] + 1 } ) %}

                {% set feedArr = feedArr | merge( { (loop.index0) : blogFeeds[a].feed.articles[ count[a] - 1 ] }) %}
                
            {% endfor %}
        
        {# else if a page section has articles from a single blog, no assembly required #}
        {% else %}

            {% set feedArr = blogFeeds[section.blogs[0]].feed.articles %}

        {% endif %}


        {% if section.template != '' %}
            {% set params = {
                articles: feedArr,
                link:     blogFeeds[ section.blogs[0] ].link,
                title:    section.title is defined ? section.title : '',
                dev:      dev,
                site:     site
            } %}

            {% if section.template_params is defined and section.template_params | length > 0  %}
                {% set params = params | merge(section.template_params) %}
            {% endif %}

            {% if section.background %}
                <div class="section-background">
            {% endif %}

                <div class="container">
                    {{this.render(section.template, params) | raw}} 
                </div>

            {% if section.background %}
                </div>
            {% endif %}

        {% endif %}

        {% if loop.index == 5 %}
            <div class="ad-container mobad2">
                <div id='index-banner-3' class='advert'></div>
            </div> 
        {% endif %}

        {% if loop.index == 8 %}
            <div class="ad-container mobad2">
                <div id='index-banner-4' class='advert'></div>
            </div> 
        {% endif %}



    {% endfor %}


   






</main><!-- .site-main -->





<div id='interstitial-ad-desktop-tablet' class='advert hidden-xs'
    data-site="{{site}}"
    data-section="{{blogData.title | lower}}"
    data-type="{{blogData.type | lower}}"        
></div>