{{ set(this, 'title', _Blog.getBlogTitle()) }}
{% set networkData = _Network.getNetworkData() %}
{% set blogData    = _Blog.getBlog() %}
{% set layout      = blogData.layout %}

{{this.registerJs("Acme.CardController();")}}

{% set templatePath = "window.Acme.templatePath = '" ~ networkData.templatePath ~ "';" %}
{{this.registerJs( templatePath )}}

{% set limit = 15 %}

{% set articlesArr = _Blog.getBlogFeed({'limit': limit, 'offset': 0}) %}
{% set articles = articlesArr.articles %}

{% set events = _Event.getEvents() %}

<!-- used to index each article as we loop over throughout the template -->
{% set articleCount = _AppHelper.getApplicationEnv() == 'DEV' ? 7 : 0 %}
{% set dev = _AppHelper.getApplicationEnv() == 'DEV' ? true : false %}

{% set sections =  {
        "local news": {
            "limit" : 6
        }, 
        "regional news": {
            "limit" : 5
        },
        "opinion": {
            "limit" : 4
        },
        "rural news": {
            "limit" : 3
        },
        "sport": {
            "limit" : 5
        },
        "national": {
            "limit" : 4
        },
        "business": {
            "limit" : 5
        },
        "bloggers": {
            "limit" : 2
        }
    }
%}

{% for key, value in sections %}
    {% for blog in networkData.networkBlogs %}
        {% if blog.title | lower == key %}
            {% set sections = sections | merge({
                (key) : {
                    'feed': _Blog.getBlogFeed({'limit': sections[key]['limit'], 'offset': 0, 'blogid':blog.guid}),
                    'link' : blog.link
                    }
                }) %}
        {% endif %}
    {% endfor %}
{% endfor %}


<main id="main" class="site-main" role="main">
    
    <div class="container">
        {{this.render('partials/index/default-top.twig', {
            articles: articles, 
            articleCount: articleCount,
            dev: dev,
            ad: 'div-gpt-ad-mrec-4',
        }) | raw}}
    </div>

    <div id="newAdSlot"></div>
    <script>loadNextAd()</script>

    {% if sections['local news'].feed.articles|length > 0 %}
        <div class="container">
            {{this.render('partials/index/large-section.twig', {
                articles: sections['local news'], 
                articleCount: articleCount,
                section: 'local news',
                events: events,
                dev: dev,
                ad: 'div-gpt-ad-halfpage-ss',
            }) | raw}} 
        </div>
    {% endif %}
    <div class="ad-container hidden-md hidden-lg mobad2">
        <div id='div-gpt-ad-mrec-7' class="card__announcement-image google_ad google_ad_mrec text-center" >
            <script type='text/javascript'>
                googletag.cmd.push(function() { googletag.display('div-gpt-ad-mrec-7'); });
            </script>
        </div>
    </div>

    {% if sections['bloggers'].feed.articles|length > 0 %}
        <div class="container">
            {{this.render('partials/index/bloggers.twig', {
                articles: sections['bloggers'], 
                articleCount: articleCount,
                section: 'bloggers',
                dev: dev,
                logo: networkData.templatePath ~ '/static/images/megaphone.svg',
                networkData: networkData
            }) | raw}} 
        </div>
    {% endif %}

    {% if sections['regional news'].feed.articles|length > 0 %}
        <div class="container">
            {{this.render('partials/index/medium-section.twig', {
                articles: sections['regional news'], 
                articleCount: articleCount,
                section: 'regional news',
                dev: dev,
                ad: 'div-gpt-ad-mrec-1',
            }) | raw}} 
        </div>
    {% endif %}

    <div class="ad-container visible-sm-block">
        <div id='div-gpt-ad-leaderboard-3' class="google_ad google_ad_leaderboard">
            <script type='text/javascript'>
                googletag.cmd.push(function() { googletag.display('div-gpt-ad-leaderboard-3'); });
            </script>
        </div>
    </div>      

    {% if sections['opinion'].feed.articles|length > 0 %}
        <div class="container">
            {{this.render('partials/index/opinion.twig', {
                articles: sections['opinion'], 
                articleCount: articleCount,
                section: 'opinion',
                dev: dev,
            }) | raw}} 
        </div>
    {% endif %}


    {% if sections['rural news'].feed.articles|length > 0 %}
        <div class="container">
            {{this.render('partials/index/row-three.twig', {
                articles: sections['rural news'], 
                articleCount: articleCount,
                section: 'rural news',
                dev: dev,
                cards: 'card-sm-wide card-sm-mobile',
            }) | raw}} 
        </div>
    {% endif %}

    {% if sections['national'].feed.articles|length > 0 %}
        <div class="container">
            {{this.render('partials/index/row-four.twig', {
                articles: sections['national'], 
                articleCount: articleCount,
                section: 'national',
                dev: dev,
            }) | raw}} 
        </div>
    {% endif %}

    {% if sections['sport'].feed.articles|length > 0 %}
        <div class="container">
            {{this.render('partials/index/section-with-feature.twig', {
                articles: sections['sport'], 
                articleCount: articleCount,
                section: 'sport',
                dev: dev,
                ad: 'div-gpt-ad-mrec-2',
            }) | raw}} 
        </div>
    {% endif %}


    {% if sections['business'].feed.articles|length > 0 %}
        <div class="container">
            {{this.render('partials/index/medium-section.twig', {
                articles: sections['business'], 
                articleCount: articleCount,
                section: 'business',
                dev: dev,
                ad: 'div-gpt-ad-mrec-3',                
            }) | raw}} 
        </div>
    {% endif %}



   

</main><!-- .site-main -->

<div id='div-gpt-ad-interstitial' class="hidden-xs">
    <script type='text/javascript'>
        googletag.cmd.push(function() { googletag.display('div-gpt-ad-interstitial'); });
    </script>
</div>
<div id='div-gpt-ad-teads' class="hidden-xs">
    <script type='text/javascript'>
        googletag.cmd.push(function() { googletag.display('div-gpt-ad-teads'); });
    </script>
</div>