{{ set(this, 'title', _Blog.getBlogTitle()) }}
{% set networkData = _Network.getNetworkData() %}
{% set blogData    = _Blog.getBlog() %}
{% set layout      = blogData.layout %}
{% set site        = networkData.title | lower | split(" ")[0]%}
{# {% set site        =  'country' %} #}

{# {% set layoutTitle = _Page.getLayoutTitle() %} #}

{{this.registerJs("Acme.cards = CardController();")}}

{% set templatePath = "window.Acme.templatePath = '" ~ networkData.templatePath ~ "';" %}
{{this.registerJs( templatePath )}}

{% set limit = 15 %}

{% set articlesArr = _Blog.getBlogFeed({'limit': limit, 'offset': 0}) %}
{% set articles = articlesArr.articles %}


<!-- used to index each article as we loop over throughout the template -->
{% set articleCount = _AppHelper.getApplicationEnv() == 'DEV' ? 0 : 0 %}
{% set dev = _AppHelper.getApplicationEnv() == 'DEV' ? true : false %}

{% set sections =  {} %}

{% if site | lower == 'shepp' %}
    {% set sections =  {
            "local news": {
                "title": "Local News",      "limit" : 12, 'template' : 'partials/index/section-01-local.twig', 
                    'template_params' : {
                        'ad': ['index-mrec-2-desktop','index-mrec-4-mobile-tablet-desktop']
                    }
            }, 
            "regional news": {
                "title": "Regional News",   "limit" : 13, 'template' : 'partials/index/section-07-regional.twig', 
                    'template_params' : {
                        'ad': ['index-mrec-3-desktop']
                    }
            },
            "opinion": {
                "title": "Opinion",         "limit" : 4, 'template' : 'partials/index/section-03-opinion.twig', 'template_params' : {}
            },
            "rural news": {
                "title": "Rural News",      "limit" : 3, 'template' : 'partials/index/section-05-gallery.twig', 'template_params' : {}
            },
            "sport": {
                "title": "Sport",           "limit" : 5, 'template' : 'partials/index/section-06-small-three-events.twig', 
                    'template_params' : {
                        'ad': 'index-mrec-5-mobile-tablet-desktop'
                    }
            },
            "national": {
                "title": "National",        "limit" : 4, 'template' : 'partials/index/section-05-gallery.twig', 'template_params' : {}
            },
            "business": {
                "title": "Business",        "limit" : 5, 'template' : 'partials/index/section-06-small-three-events.twig', 
                    'template_params' : {
                        'ad': 'index-mrec-6-mobile-tablet-desktop'
                    }
            },
            "bloggers": {
                "title": "Bloggers",        "limit" : 2, 'template' : 'partials/index/section-06-small-three-events.twig',
                    'template_params' : {
                        'logo':  networkData.templatePath ~ '/static/images/megaphone.svg',
                    }
            }
        }
    %}




{% elseif site | lower == 'country' %}
    {% set sections =  {
            "dairy": {
                "title": "Dairy",           "limit" : 5, 'template' : 'partials/index/medium-section.twig', 
                    'template_params' : {
                        'ad': 'index-mrec-2-desktop'
                    }
            }, 
            "water": {
                "title": "Water",           "limit" : 4, 'template' : 'partials/index/small-section.twig'
            },
            "horticulture": {
                "title": "Horticulture",    "limit" : 3, 'template' : 'partials/index/row-three.twig'
            },
            "livestock": {
                "title": "Livestock",       "limit" : 3, 'template' : 'partials/index/small-section-events.twig'
            },
            "cropping": {
                "title": "Cropping",        "limit" : 3, 'template' : 'partials/index/row-three.twig'
            },
            "videos": {
                "title": "Videos",          "limit" : 2, 'template' : ''
            },
            "blogs homepage": {
                "title": "Bloggers",        "limit" : 2, 'template' : 'partials/index/bloggers.twig'
            },
            "viticulture": {
                "title": "Viticulture",     "limit" : 3, 'template' : 'partials/index/row-three-ad.twig', 
                    'template_params' : {
                        'ad': 'index-mrec-4-mobile-tablet-desktop'
                    }
            }
        }
    %}

{% endif  %}


{% for key, value in sections %}
    {% for blog in networkData.networkBlogs %}
        {% if blog.title | lower == key %}
            
            {% set feed = dev 
                    ? articlesArr 
                    : _Blog.getBlogFeed({'limit': sections[key]['limit'], 'offset': 0, 'blogid':blog.guid}) 
            %}

            {% set sections = sections | merge({
                (key) : {
                    'feed'      : feed,
                    'link'      : blog.link,
                    'title'     : sections[key]['title'],
                    'template'  : sections[key]['template'],
                    'template_params'  : sections[key]['template_params'],
                    }
                }) %}

        {% endif %}
    {% endfor %}
{% endfor %}




{% set sectionCount = 0 %}
{% set sectionOrder = [] %}

{% if site == 'shepp' %}
    {% set sectionOrder = ['local news', 'bloggers', 'regional news', 'opinion', 'rural news', 'sport'] %}
{% elseif site == 'country' %}
    {% set sectionOrder = ['dairy', 'water', 'horticulture', 'livestock', 'cropping', 'videos', 'blogs homepage', 'viticulture'] %}
{% endif %}











<main id="main" class="site-main" role="main">
    


    {# *******************************************************
                Top of Index page n articles
    ******************************************************* #}

    <div class="container">
        {{this.render('partials/index/section-00-top.twig', {
            articles: articles, 
            articleCount: articleCount,
            dev: dev,
            site: site,
            ad: ['index-mrec-1-mobile-tablet','index-mrec-3-mobile','index-mrec-1-desktop'],
        }) | raw}}
    </div>





   <div class="ad-container">
        <div id='index-banner-1-tablet-desktop' class='advert'
            data-site="{{site}}"
            data-section="{{blogData.title | lower}}"
            data-type="{{blogData.type | lower}}"        
        ></div>
    </div>










    {# *******************************************************
                           SECTIONS
    ******************************************************* #}

    {% for section in sectionOrder %}
       
        {% set sectionFeed = sections[ section ] %}
        
        {% if sectionFeed.feed.articles|length > 0 and sectionFeed.template != '' %}
            {% set params = {
                articles: sectionFeed, 
                title:    sectionFeed.title,
                dev:      dev,
                site:     site
            } %}

            {% if sectionFeed.template_params | length > 0  %}
                {% set params = params | merge(sectionFeed.template_params) %}
            {% endif %}

            <div class="container">
                {{this.render(sectionFeed.template, params) | raw}} 
            </div>
        {% endif %}


        {% if loop.index == 1 %}
            <div class="ad-container hidden-md hidden-lg mobad2">
                <div id='index-mrec-2-mobile-tablet' class='advert'
                    data-site="{{site}}"
                    data-section="{{blogData.title | lower}}"
                    data-type="{{blogData.type | lower}}"        
                ></div>
            </div>
        {% endif %}

        {% if loop.index == 3 %}
            <div class="ad-container visible-sm-block">
                <div id='index-mrec-3-tablet' class='advert'
                    data-site="{{site}}"
                    data-section="{{blogData.title | lower}}"
                    data-type="{{blogData.type | lower}}"        
                ></div>
            </div>      
        {% endif %}


        {# {{dump(loop.index)}} #}

    {% endfor %}


   






</main><!-- .site-main -->





<div id='interstitial-ad-desktop-tablet' class='advert hidden-xs'
    data-site="{{site}}"
    data-section="{{blogData.title | lower}}"
    data-type="{{blogData.type | lower}}"        
></div>