{{ set(this, 'title', _Blog.getBlogTitle()) }}
{% set networkData = _Network.getNetworkData() %}
{% set blogData    = _Blog.getBlog() %}
{% set layout      = blogData.layout %}


{{this.registerJs("Acme.CardController();")}}

{% set templatePath = "window.Acme.templatePath = '" ~ networkData.templatePath ~ "';" %}
{{this.registerJs( templatePath )}}

{% set limit = 30 %}

{% set articlesArr = _Blog.getBlogFeed({'limit': limit, 'offset': 0}) %}
{% set articles = articlesArr.articles %}
{% set popularArticles = _Article.getPopularArticles({ limit: 10, sortBy: 'VIEWS', scope: 'network' }) %}



{% set events = _Event.getEvents() %}



<!-- used to index each article as we loop over throughout the template -->
{% set articleCount = _AppHelper.getApplicationEnv() == 'DEV' ? 0 : 0 %}
{% set dev = _AppHelper.getApplicationEnv() == 'DEV' ? true : false %}


{% set sections =  {
        "videos": {
            "limit" : 10
        }, 
        "from the experts": {
            "limit" : 10
        },
        "management": {
            "limit" : 10
        },
        "animal health": {
            "limit" : 10
        },
        "machinery & products": {
            "limit" : 10
        },
        "markets": {
            "limit" : 10
        }        
    }
%}

{% for key, value in sections %}
    {% for blog in networkData.networkBlogs %}
        {% if blog.title | lower == key %}
            {% set sections = sections | merge({
                (key) : {
                    'feed': _Blog.getBlogFeed({'limit': sections[key]['limit'], 'offset': 0, 'blogid':blog.guid}),
                    'link' : blog.link
                    }
                }) %}
        {% endif %}
    {% endfor %}
{% endfor %}



<main id="main" class="site-main" role="main">
    
    <div class="container">

        <section class="home-main-stories">
            <div class="row">
                <div class="col-xs-9 col-md-6 col-sm-9">

                    {% if articles[articleCount] %}                                                                
                        {{this.render('partials/_single-article.twig', {
                            article: articles[articleCount], 
                            position: articleCount + 1, 
                            imageSize: {width:900},
                            containerClass: 'home-feature home-feature-tablet home-feature-mobile'
                        }) | raw}}
                        {% set articleCount = (dev) ? articleCount : articleCount + 1 %}

                    {% endif %}
                </div>

                <div class="col-xs-9 col-sm-9 visible-sm-block visible-xs-block">
                    <hr class="divide10 space-only">
                </div>

                <div class="col-xs-9 col-sm-9 col-md-3 sm-two-cols ">
                    <div class="row sm-flex">

                        <div class="col-sm-1 col-md-9"  style="order: 2;">                    
                            {% if articles[articleCount] %}
                                {{this.render('partials/_single-article.twig', {
                                    article: articles[articleCount], 
                                    position: articleCount + 1, 
                                    containerClass: 'feature-side feature-side-tablet card-sm-mobile'
                                }) | raw}}
                                {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
                                <hr class="divide12 visible-xs-block visible-md-block visible-lg-block">
                            {% endif %}
                        </div>

                        <div class="col-sm-1 col-md-9"  style="order: 3;">                    
                            {% if articles[articleCount] %}
                                {{this.render('partials/_single-article.twig', {
                                    article: articles[articleCount], 
                                    position: articleCount + 1, 
                                    containerClass: 'feature-side feature-side-tablet card-sm-mobile'
                                }) | raw}}
                                {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
                                <hr class="divide12 visible-xs-block visible-md-block visible-lg-block">
                            {% endif %}
                        </div> 

                        <div class="col-sm-1 col-md-9"  style="order: 1;">
                            <div class="current-issue-card">
                                <a class="download-current" href="https://issuu.com/dairynewsaustralia">View the current publication</a>
                            </div>

                            <hr class="divide12 visible-md-block visible-lg-block">
                            <hr class="divide10 visible-xs-block visible-sm-block space-only">
                        </div>

                        <div class="col-sm-1 col-md-9" style="order: 0;">                    
                            {{ this.render('partials/subscribe.twig') | raw }}
                            <hr class="divide10 visible-xs-block visible-sm-block space-only">                            
                        </div>
                    </div>
                </div>

            </div>
        </section><!-- .featured-slider-->

    </div>


    <div class="container">

        <section class="row five-cols top-stories-row visible-xs-block visible-md-block visible-lg-block">
            
            {% set desktopCount = articleCount %}
            {% for i in 0..4 if articles[desktopCount] %}
                {{this.render('partials/_single-article.twig', {
                    article: articles[desktopCount], 
                    position: 1, 
                    imageSize: {width:500},
                    containerClass: 'col-sm-1 top-stories top-stories-tablet top-stories-mobile'
                }) | raw}}
                {% set desktopCount = (dev) ? desktopCount : desktopCount + 1 %}
                <hr class="divide10 visible-xs-block" style="margin-left:15px;margin-right:15px;">

            {% endfor %}
        </section>


        <section class="row sm-two-cols visible-sm-block">
            {% set tabletCount = articleCount %} 
            {% for i in 0..5 if articles[tabletCount] %}
                <div class="col-sm-1">
                    {{this.render('partials/_single-article.twig', {
                        article: articles[tabletCount], 
                        position: 1, 
                        imageSize: {width:500},
                        containerClass: 'feature-side feature-side-tablet card-sm-mobile'
                    }) | raw}}
                    {% set tabletCount = (dev) ? tabletCount : tabletCount + 1 %}
                    <hr class="divide10 visible-sm-block space-only">

                </div>
            {% endfor %}
        </section>

        
    </div>


    <div id="newAdSlot"></div>
    <script>loadNextAd()</script>

    {% if sections['management'].feed.articles|length > 0 %}
        <div class="container">
            {{this.render('partials/index/medium-section.twig', {
                articles: sections['management'], 
                articleCount: articleCount,
                section: 'management',
                dev: dev,
                ad: 'div-gpt-ad-mrec-1',
            }) | raw}} 
        </div>
    {% endif %}

    {% if sections['from the experts'].feed.articles|length > 0 %}
        <div class="container">
            {{this.render('partials/index/small-section.twig', {
                articles: sections['from the experts'], 
                articleCount: articleCount,
                section: 'from the experts',
                dev: dev,
            }) | raw}} 
        </div>
    {% endif %}

    <div id="newAdSlot"></div>
    <script>loadNextAd()</script>

    {% if sections['markets'].feed.articles|length > 0 %}
        <div class="container">
            {{this.render('partials/index/row-three.twig', {
                articles: sections['markets'], 
                articleCount: articleCount,
                section: 'markets',
                dev: dev,
                cards: 'feature-side feature-side-tablet card-sm-mobile divideright',
            }) | raw}} 
        </div>
    {% endif %} 

    {% if sections['machinery & products'].feed.articles|length > 0 %}
        <div class="container">
            {{this.render('partials/index/row-three-ad.twig', {
                articles: sections['machinery & products'], 
                articleCount: articleCount,
                section: 'machinery & products',
                dev: dev,
                ad: 'div-gpt-ad-mrec-3',
            }) | raw}} 
        </div>
    {% endif %}      

    {% if sections['animal health'].feed.articles|length > 0 %}
        <div class="container">
            {{this.render('partials/index/row-three.twig', {
                articles: sections['animal health'], 
                articleCount: articleCount,
                section: 'animal health',
                dev: dev,
                cards: 'feature-side feature-side-tablet card-sm-mobile divideright',
            }) | raw}} 
        </div>
    {% endif %}    

</main><!-- .site-main -->