{{ set(this, 'title', _Blog.getBlogTitle()) }}
{% set networkData = _Network.getNetworkData() %}


{{this.registerJs("CardController();")}}

{% set limit = 30 %}

{% set articlesArr = _Blog.getBlogFeed({'limit': limit, 'offset': 0}) %}
{% set articles = articlesArr.articles %}


<!-- used to index each article as we loop over throughout the template -->
{% set articleCount = 0 %}



    <main id="main" class="site-main container" role="main">
        

        <section class="home-main-stories" style="background:yellow">
            <div class="row">
                <div class="col-sm-12 col-md-8">
                    <div class="row">
                        {% if articles[0] %}                                                                
                            {{this.render('partials/_single-article.twig', {
                                article: articles[0], 
                                position: 1, 
                                imageSize: {width:630, height:400},
                                containerClass: 'col-sm-12 home-feature'
                            }) | raw}}
                            {% set articleCount = articleCount + 1 %}
                        {% endif %}
                    </div>
                </div>


                {% if articles[articleCount] %}
                <div class="cold-sm-12 col-md-4">
                    <div class="row">
                        {% for i in 0..2 if articles[i] %}
                            {{this.render('partials/_single-article.twig', {
                                article: articles[articleCount], 
                                position: 1, 
                                containerClass: 'col-sm-12 feature-side'
                            }) | raw}}
                            {% set articleCount = articleCount + 1 %}
                        {% endfor %}
                    </div>
                </div><!-- .row-->
                {% endif %}

            </div>
        </section><!-- .featured-slider-->



        {% set articleCount = 0 %}



        <section class="row five-cols top-stories-row">
            
            {% for i in 0..4 if articles[articleCount] %}
                {{this.render('partials/_single-article.twig', {
                    article: articles[articleCount], 
                    position: 1, 
                    imageSize: {width:500},
                    containerClass: 'col-sm-1 top-stories'
                }) | raw}}
                {% set articleCount = articleCount + 1 %}
            {% endfor %}
        </section>

        {% set articleCount = 0 %}


        <section class="row middle" style="height:600px">
            <div class="col-md-8" style="background:cyan;">
                <div class="row" style="height:250px">
{#                     {% for i in 0..2 if articles[articleCount] %}
                        {{this.render('partials/_single-article.twig', {
                            article: articles[articleCount], 
                            position: 1, 
                            imageSize: {width:200},
                            containerClass: 'col-sm-4'
                        }) | raw}}
                        {% set articleCount = articleCount + 1 %}
                    {% endfor %}
 #}                </div>

                {% set articleCount = 0 %}



                <div class="row" style="background:purple;height:250px">
{#                     {% for i in 0..1 if articles[articleCount] %}
                        {{this.render('partials/_single-article.twig', {
                            article: articles[articleCount], 
                            position: 6, 
                            imageSize: {width:200},
                            containerClass: 'col-sm-4'
                        }) | raw}}
                        {% set articleCount = articleCount + 1 %}
                    {% endfor %}
 #}
                </div>
            </div>
            <div class="col-md-4" style="background:orange;height:600px">
{#                     {% for i in 0..1 if articles[articleCount] %}
                        {{this.render('partials/_single-article.twig', {
                            article: articles[articleCount], 
                            position: 6, 
                            imageSize: {width:500},
                            containerClass: 'col-sm-12'
                        }) | raw}}
                        {% set articleCount = articleCount + 1 %}
                    {% endfor %}
 #}
            </div>


        </section>







    </main><!-- .site-main -->