{{ set(this, 'title', _Blog.getBlogTitle()) }}
{% set networkData = _Network.getNetworkData() %}
{% set blogData    = _Blog.getBlog() %}
{% set layout      = blogData.layout %}
{% set site        = networkData.title | lower | split(" ")[0]%}
{% set homeBlog    = blogData['title'] | lower %}


{{this.registerJs("Acme.cards = CardController();")}}

{% set templatePath = "window.Acme.templatePath = '" ~ networkData.templatePath ~ "';" %}
{{this.registerJs( templatePath )}}

{% set dev = _AppHelper.getApplicationEnv() == 'DEV' ? false : false %}

{% set sectionOrder = [] %}







{# *******************************************************
                GLOBAL SITE SECTIONS
              (each site can override)
******************************************************* #}

{% set pageSections =  {
    'section_0': {
        'template'  : 'partials/index/section-11.twig',
        'title'     : 'News',
        'blogs'     : ['news'],
    },
    'section_1': {
        'template'  : 'partials/index/section-12.twig',
        'title'     : 'Sport',
        'blogs'     : ['sport'],
    },
    "section_2": {
        'title'     : "Opinion",
        'blogs'     : ['opinion'],
        'template': 'partials/index/section-07.twig',
    },
    "section_3": {
        'title'     : "Entertainment",
        'blogs'     : ['entertainment'],
        'template': 'partials/index/section-23.twig',
    },
    "section_4": {
        'title'     : "Lifestyle",
        'blogs'     : ['lifestyle'],
        'template': 'partials/index/section-06.twig',
    },
    "section_5": {
        'title'     : "Education",
        'blogs'     : ['education'],
        'template': 'partials/index/section-12.twig',
    },
    "section_6": {
        'title'     : "Contributed Photos",
        'blogs'     : ['contributed photos'],
        'template': 'partials/index/section-08.twig',
    },
    "section_7": {
        'title'     : "Galleries",
        'blogs'     : ['galleries'],
        'template': 'partials/index/section-08.twig',
    },
    "section_8": {
        'title'     : "Social",
        'blogs'     : ['social'],
        'template': 'partials/index/section-10.twig',
    },
} %}








{# The following list of blogs are required for each site to load the feeds #}

{# *******************************************************
                        COMMON
******************************************************* #}
{% set blogFeeds = {
        "news":                 { "limit" : 5},
        "sport":                { "limit" : 4},
        "opinion":              { "limit" : 4},
        "lifeStyle":            { "limit" : 3},
        "entertainment":        { "limit" : 3},
        "education":            { "limit" : 4},
        "contributed photos":   { "limit" : 3},
        "galleries":            { "limit" : 3},
        "social":               { "limit" : 5},
    }
%}

{% set sectionOrder = ['section_0', 'section_1', 'section_2', 'section_3', 'section_4', 'section_5', 'section_6', 'section_7', 'section_8'] %}









{# *******************************************************
                Fetch all needed feeds
******************************************************* #}
{% for key, value in blogFeeds %}
    {% for blog in networkData.networkBlogs %}


        {# FOR DEV  #}
        {% if dev %}
            {% set blogFeeds = blogFeeds | merge({
                (key) : { 'feed' : articlesArr, 'link' : '#' } }) %}
        {% endif %}


        {# FOR PRODUCTION #}
        {% if not dev and blog.title | lower == key | lower %}

            {% set feed = _Blog.getBlogFeed({'limit': blogFeeds[key]['limit'], 'offset': 0, 'blogid':blog.guid}) %}

            {% set blogFeeds = blogFeeds | merge({
                (key) : {
                    'feed'      : feed,
                    'link'      : blog.link
                    }
                }) %}

        {% endif %}
    {% endfor %}
{% endfor %}











<main id="main" class="site-main" role="main">


        <section class="container">
            <div class="row">
                <div class="col-sm-9 header">
                    <div class="hk">
                        <h2>{{this.title}}</h2>
                        <p></p>
                    </div>
                </div>
            </div>
        </section>







    {# *******************************************************
                        RENDER SECTIONS
    ******************************************************* #}
    {% for pagesection in sectionOrder %}
        {% set params = {
            'section'   : pageSections[pagesection],
            'blogFeeds' : blogFeeds,
            'site'      : site,
            'dev'       : dev
        } %}
    
        {{this.render('render.twig', params) | raw}} 

    {% endfor %}



</main><!-- .site-main -->


