{% import "partials/quotes.twig" as quotes %}
{{ set(this, 'title', article.title) }}

{{ this.registerLinkTag({rel:'amphtml', href:_AppHelper.getServerUrl(false)~'?amp=1'}) }}

{% set blogInfo = _Blog.getBlog() %}
{% set networkData = _Network.getNetworkData() %}


{% set articleImg = false %}
{% if article.media|length > 0 %}
    {% set articleImg = _Media.getMediaUrl(article.media[0],1094, 515, {'crop': 'fill', 'gravity': 'auto'} ) %}
{% endif %}

{% set publishDate = _AppHelper.getDefaultTimezoneDateTime(article.publishedDateTime, 'j M Y') %}

{% set articles = _Article.getPopularArticles({ limit: 10, excludeArticleIds : article.id }) %}
{% set popularArticles = _Article.getPopularArticles({ limit: 5, sortBy: 'VIEWS', blogId: article.blog.id, type: 'article' }) %}
{% set suggestedArticles = _Article.getPopularArticles({ limit: 6, sortBy: 'VIEWS', scope: 'network' }) %}

{% set articleCount = 0 %}
{% set dev = _AppHelper.getApplicationEnv() == 'DEV' ? true : false %}




<main id="main" class="container site-main" role="main">


    <article class="job-listings-main">

        <div class="row page-content">
            <div class="col-md-6">


                <div class="row">
                    <div class="col-md-9">
                        {% if articleImg %} 

                            {{this.render('partials/gallery.twig', {
                                media: article.media,
                                default: 'image'
                            }) | raw}}

                         {% endif %}
                    </div>
                </div>

                <div class="row"> 

                    <div class="col-md-9">

                        <div class="content-wrapper">

                            <div class="">
                                
                                <p class="property__attribute property__attribute--contract">{{ article.additionalInfo.listing_type }}</p>

                                <h1 class="price">${{ article.additionalInfo.pricerange | preg_replace("/\\$/", '')}}</h1>
                                
                                <h2>{{ quotes.smarten(article.title) }}</h2>

                                <ul class="property__spaces">
                                    {% if article.additionalInfo.bedroom_count %}
                                        <li class="property__spaces-item">
                                            <img src="{{networkData.templatePath}}/static/icons/property-bed.svg" alt="bedroom count">
                                            <span class="property__spaces-count property__spaces-count--bedroom">{{article.additionalInfo.bedroom_count}}</span>
                                        </li>
                                    {% endif %}
                                    {% if article.additionalInfo.bathroom_count %}
                                        <li class="property__spaces-item">
                                            <img src="{{networkData.templatePath}}/static/icons/property-bath.svg" alt="bathroom count">
                                            <span class="property__spaces-count property__spaces-count--bathroom">{{article.additionalInfo.bathroom_count}}</span>
                                        </li>
                                    {% endif %}
                                    {% if article.additionalInfo.car_count %}
                                        <li class="property__spaces-item">
                                            <img src="{{networkData.templatePath}}/static/icons/property-car.svg" alt="car count">
                                            <span class="property__spaces-count property__spaces-count--car">{{article.additionalInfo.car_count}}</span>
                                        </li>
                                    {% endif %}

                                </ul>
                            </div><!--content-block-top-->

                            <div class="artdicle_content">
                                {{ article.content | _resizeImages({'width': 500}) | raw }}
                            </div><!-- .content-->
                        </div><!-- .content-->

                    </div>




                    
                </div>
            </div>

            <div class="col-md-3 details-padding">

                <div class="job-details">
                    <table>
                        {% if article.additionalInfo.floorarea %}
                            <tr>
                                <td class="label">Property type</td>
                                <td class="value">{{article.additionalInfo.type}}</td>
                            </tr>
                        {% endif %}
                        <tr>
                            <td class="label">Available</td>
                            <td class="value">{{article.additionalInfo.availability}}</td>
                        </tr>
                    </table>
                </div>

                <div class="property-contact">
                    <p class="contact-details">For more information, please contact</p>
                    <p class="contact-name">{{article.additionalInfo.contactname}}</p>
                    <p class="contact-role">{{article.additionalInfo.company}}</p>
                    <p class="contact-email">{{article.additionalInfo.contactphone}}</p>
                </div>





                <div class="advert">
                    <div id='blockAd1'></div>
                    <script>loadNextAd(invSpace,'blockAd1','mRec',mRecSize,mRecMap)</script>
                </div>
            </div>


        </div><!-- .page-content-->


    </article>
</main><!--site-main-->

