{{ set(this, 'title', _Blog.getBlogTitle()) }}
{% set networkData = _Network.getNetworkData() %}
{% set site        = networkData.title | lower | split(" ")[0]%}

{# {{this.registerJs("Acme.CardController();")}} #}

{% set limit = 50 %}
{% set date = date() %}
{% set events = _Event.getEvents({"limit": limit, "start_date": date.date | split(" ")[0]}) %}


{% set firstCount = events | length %}

{{this.registerJs("Acme.cards = CardController();")}}

                                                     {# renders the card    fetch-limit      fetch-offset    infinite scroll #}
                                                     {#            ↑             ↑                 ↑            ↑            #}
{{this.registerJs("Acme.searchFeed = new Acme.View.articleFeed(Acme.cards, " ~ limit ~ ", " ~ firstCount ~ ", true);")}}






<!-- used to index each article as we loop over throughout the template -->
{% set eventCount = _AppHelper.getApplicationEnv() == 'DEV' ? 0 : 0 %}
{% set dev = _AppHelper.getApplicationEnv() == 'DEV' ? false : false %}


    <main id="main" class="site-main" role="main">
        <div class="container">
            <div class="col-lg-1 visible-lg-block"></div>
            <div class="col-lg-7 col-md-9 col-sm-9">
                <section>
                    <div class="row">
                        <div class="col-md-9 header events-heading">
                            <div class="hk {{site}}">
                                <h2 class="{{site}}">{{this.title}}</h2>
                                <p></p>
                                {% if not _User.isGuest() %}
                                    <a class="{{site}}" href="{{networkData.defaultBlogUrl}}/@event-form">Submit an event</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </section>

                {% set monthDivider = '' %}

                <section class="middle">
                    <div class="row row-space maincards">
                        <div class="col-sm-9">
                            {% for i in 0..49 if events[eventCount] %}

                                {% set eventMonth = _AppHelper.getDateTimeBasedOnTimezone(events[eventCount].startDate, 'F') %}
                                {% if monthDivider != eventMonth %}
                                    <p class="month-divider">{{ eventMonth }}</p>
                                    {% set monthDivider = eventMonth %}
                                {% endif %}

                                {{this.render('partials/_single-event-list.twig', {
                                    event: events[eventCount], 
                                    position: eventCount + 1, 
                                    imageSize: {width:300},
                                    containerClass: 'card-event-list-rec card-event-list-tablet card-event-list-mobile',
                                    site: site,
                                }) | raw}}
                                <hr class="divide visible-xs-block">
                                {% set eventCount = (dev) ? eventCount : eventCount + 1 %}
                            {% endfor %}
                        </div>
                    </div>
                </section>


{#                 <section>
                    <div class="row">
                        <div class="col-md-9" style="margin-top:35px;">
                            <div class="row">

                                {% if userArticles|length >= limit %}
                                    {{ this.render('partials/ajaxarticles.twig', {
                                        offset          : limit,
                                        limit           : limit,
                                        name            : "events-load",
                                        loadtype        : 'events',
                                        card_class      : "card-event-list-rec card-event-list-tablet card-event-list-mobile",
                                        container       : "mainAjaxArticles",
                                        buttonClass     : "infinite"
                                    }) | raw }}
                                {% endif %}

                            </div>
                        </div>
                    </div>
                </section>
 #}

            </div>
            <div class="col-lg-1 visible-lg-block"></div>            
        </div>
    </main><!-- .site-main -->

