{{ set(this, 'title', _Blog.getBlogTitle()) }}
{% if (networkData is empty) %}
    {% set networkData = _Network.getNetworkData() %}
    {% set cache = setCache("networkData", networkData, 500) %}
{% endif %}


{% set site     = networkData.title | lower | split(" ")[0]%}
{% set blogData = _Blog.getBlog() %}
{% set limit = 17 %}

{% set articlesArr = _Blog.getBlogFeed({'limit': limit, 'offset': 0}) %}
{% set articles = articlesArr.articles %}





<!-- used to index each article as we loop over throughout the template -->
{% set articleCount = _AppHelper.getApplicationEnv() == 'DEV' ? 0 : 0 %}
{% set dev = _AppHelper.getApplicationEnv() == 'DEV' ? false : false %}
{% set articlelock = false %}
{# {% set dev = true %} #}

{# Remove "AAP" from the section title unless "AAP" is the only word #}
{% set title = this.title %}




<main id="main" class="site-main section-page__main" role="main" data-article-limit="{{limit}}" data-article-count="{{articles | length}}">

    <div class="container">


        <div class="row u-margin-bottom-30" data-template="panel-22">
            <div class="col-12">
                <h2 class="section-heading {{site}}">{{this.title}}</h2>
            </div>
        </div>




        <div class="row">
            <div class="col-12 col-lg-9">
                <div class="row">
                    <div class="col-12 col-md-8">

                        {% if articles[articleCount] %}
                        {{this.render('partials/_single-article.twig', {
                                imageSize       : {width:640, height:445},
                                position        : articleCount + 1,
                                swap            : false,
                                article         : articles[articleCount],
                                site            : site,
                                dev             : dev,
                                cardId          : "one",
                                swap            : 'false',
                                containerClass  : 'card-100-mobile card-100-tablet card-100-desktop-sm card-100-desktop-lg'
                            }) | raw}}
                            {% set articleCount = (articlelock) ? articleCount : articleCount + 1 %}
                        {% endif %}

                        <hr class="divide20-25 d-block d-md-none" data-tag="pawn">

                    </div>


                    <div class="col-12 col-md-4">

                        <div class="row">
                            {% if articles[articleCount] %}
                                <div class="col-12 col-md-12 u-mobile-padding-right-7">
                                    {{this.render('partials/_single-article.twig', {
                                        imageSize       : {width:235},
                                        position        : articleCount + 1,
                                        lazyload        : false,
                                        article         : articles[articleCount],
                                        site            : site,
                                        dev             : dev,
                                        cardId          : "two",
                                        swap            : 'false',
                                        containerClass  : 'card-105-mobile card-105-tablet card-105-desktop-sm card-105-desktop-lg'
                                    }) | raw}}
                                    {% set articleCount = (articlelock) ? articleCount : articleCount + 1 %}
                                    
                                    <hr class="divide20-25 d-none d-md-block" data-tag="rook">
                                </div>
                            {% endif %}


                            {% if articles[articleCount] %}
                                <div class="col-12 col-md-12 u-mobile-padding-left-7">
                                    <hr class="divide20-25 d-block d-md-none" data-tag="Pawn">
                                    {{this.render('partials/_single-article.twig', {
                                        imageSize       : {width:235},
                                        styleType       : "image-both",
                                        article         : articles[articleCount],
                                        position        : articleCount + 1,
                                        lazyload        : false,
                                        site            : site,
                                        dev             : dev,
                                        cardId          : "three",
                                        swap            : 'false',
                                        containerClass  : 'card-105-mobile card-105-tablet card-105-desktop-sm card-105-desktop-lg'
                                    }) | raw}}
                                    {% set articleCount = (articlelock) ? articleCount : articleCount + 1 %}
                                </div>
                            {% endif %}
                        </div>
                    </div>

                    <div class="col-12  d-none d-md-block d-lg-none">
                        <hr class="divide20-25" data-tag="knight">
                    </div>



                </div>

                <hr class="divide20-25 d-block d-md-none" data-tag="knight">

            </div>

            <div class="col-12 col-lg-3">

                <div class="row">

                    {% if articles[articleCount] %}
                    <div class="col-12 col-md-6 col-lg-12 u-tablet-margin-top-20">

                        {{this.render('partials/_single-article.twig', {
                            imageSize       : {width:235},
                            position        : articleCount + 1,
                            styleType       : "image-both",
                            lazyload        : false,
                            article         : articles[articleCount],
                            site            : site,
                            dev             : dev,
                            cardId          : "four",
                            swap            : 'false',
                            containerClass  : 'card-105-mobile card-105-tablet card-105-desktop-sm card-105-desktop-lg'
                        }) | raw}}
                        {% set articleCount = (articlelock) ? articleCount : articleCount + 1 %}
                        <hr class="divide20-25 d-block d-md-none" data-tag="knight">
                    </div>
                    {% endif %}


                    {% if articles[articleCount] %}
                    <div class="col-12 col-md-6 col-lg-12 u-tablet-margin-top-20">
                        <hr class="divide20-25 d-none d-lg-block" data-tag="bishop">

                        {{this.render('partials/_single-article.twig', {
                            imageSize       : {width:235},
                            position        : articleCount + 1,
                            styleType       : "image-both",
                            lazyload        : false,
                            article         : articles[articleCount],
                            site            : site,
                            dev             : dev,
                            cardId          : "five",
                            swap            : 'false',
                            containerClass  : 'card-105-mobile card-105-tablet card-105-desktop-sm card-105-desktop-lg'
                        }) | raw}}
                        {% set articleCount = (articlelock) ? articleCount : articleCount + 1 %}
                        <hr class="divide20-25 d-block d-md-none" data-tag="Frank">
                    </div>
                    {% endif %}



                </div>
            </div>
        </div>



        <div class="row">
            <div class="col-12">
                <hr class="divide20-25 d-none d-md-block d-lg-block" data-tag="Dame">

                <div class="ad-square banner-min-height u-margin-top-30 u-mobile-no-margin-top u-desktop-no-margin-top">
                    <div class='advert-desktop  desktop-banner' data-adsize="banner"></div>
                    <div class='advert-tablet  tablet-banner' data-adsize="banner"></div>
                    <div class='advert-mobile  mobile-banner' data-adsize="banner"></div>
                </div>

                <hr class="divide20-25 d-none d-md-block d-lg-block" data-tag="King">
            </div>
        </div>



        <div class="row">
            {% for i in 0..3 if articles[articleCount] %}
                {% set mobilePadding = (i % 2 == 0) ? "u-mobile-padding-right-7" : "u-mobile-padding-left-7" %}
                <div class="col-12 col-md-6 col-lg-3 {{mobilePadding}}">

                    {% if i > 1 %}
                        <hr class="divide20-25 d-none d-md-block d-lg-none" data-tag="Queen">
                    {% endif %}
                    <hr class="divide20-25 d-block d-md-none" data-tag="Rook">

                    {{this.render('partials/_single-article.twig', {
                        imageSize       : {width:235},
                        article         : articles[articleCount],
                        position        : articleCount + 1,
                        site            : site,
                        dev             : dev,
                        cardId          : "six" ~ i,
                        containerClass  : 'card-105-mobile card-105-tablet card-105-desktop-sm card-105-desktop-lg'
                    }) | raw}}
                    {% set articleCount = (articlelock) ? articleCount : articleCount + 1 %}
                </div>
            {% endfor %}
        </div>



        <div class="row">
            {% for i in 0..3 if articles[articleCount] %}
                {% set mobilePadding = (i % 2 == 0) ? "u-mobile-padding-right-7" : "u-mobile-padding-left-7" %}
                <div class="col-12 col-md-6 col-lg-3 {{mobilePadding}}">
                    <hr class="divide20-25" data-tag="queen">

                    {{this.render('partials/_single-article.twig', {
                        imageSize       : {width:235},
                        article         : articles[articleCount],
                        position        : articleCount + 1,
                        site            : site,
                        dev             : dev,
                        cardId          : "seven" ~ i,
                        containerClass  : 'card-105-mobile card-105-tablet card-105-desktop-sm card-105-desktop-lg'
                    }) | raw}}
                    {% set articleCount = (articlelock) ? articleCount : articleCount + 1 %}
                </div>
            {% endfor %}
        </div>


        <div class="row">
            <div class="col-12">
                <hr class="divide20-25 d-none d-md-block d-lg-block" data-tag="Dame">

                <div class="ad-square banner-min-height u-margin-top-30 u-mobile-no-margin-top u-desktop-no-margin-top">
                    <div class='advert-desktop  desktop-banner' data-adsize="banner"></div>
                    <div class='advert-tablet  tablet-banner' data-adsize="banner"></div>
                    <div class='advert-mobile  mobile-banner' data-adsize="banner"></div>
                </div>

                <hr class="divide20-25 d-none d-md-block d-lg-block" data-tag="King">
            </div>
        </div>




        <div class="row">
            {% for i in 0..3 if articles[articleCount] %}
                {% set mobilePadding = (i % 2 == 0) ? "u-mobile-padding-right-7" : "u-mobile-padding-left-7" %}
                <div class="col-12 col-md-6 col-lg-3 {{mobilePadding}}">
                    {% if i > 1 %}
                        <hr class="divide20-25 d-none d-md-block d-lg-none" data-tag="Queen">
                    {% endif %}
                    <hr class="divide20-25 d-block d-md-none" data-tag="Rook">

                    {{this.render('partials/_single-article.twig', {
                        imageSize       : {width:235},
                        article         : articles[articleCount],
                        position        : articleCount + 1,
                        site            : site,
                        dev             : dev,
                        cardId          : "eight" ~ i,
                        containerClass  : 'card-105-mobile card-105-tablet card-105-desktop-sm card-105-desktop-lg'
                    }) | raw}}
                    {% set articleCount = (articlelock) ? articleCount : articleCount + 1 %}
                </div>
            {% endfor %}
        </div>


                    
        <section class="row loadmore__container {{site}}" id="loadmore_section"></section>
        
        <section class="loadmore__section {{site}}">
            {# {% if articles|length >= limit %} #}
                {{ this.render('/partials/ajaxarticles_new.twig', {
                    name            : "section-load",
                    label           : "",
                    buttonClass     : "u-display-none",
                }) | raw }}
            {# {% endif %} #}
        </section>



    </div>

</main><!-- .site-main -->






<script>
    // main script is defered so event listener makes sure
    // defered script is loaded before this runs
    document.addEventListener("DOMContentLoaded", function(event) {

        Acme.loadMore = new Acme.View.articleFeed({
            model           : new Card(),
            container       : 'loadmore_section',
            infinite        : true,
            offset          : {{limit}},
            limit           : 12,
            name            : 'section-load',
            blogid          : "{{ blogData['guid'] }}",
            card_class      : 'card-105-mobile card-105-tablet card-105-desktop-sm card-105-desktop-lg',
            beforeEach      : '<div class="col-12 col-md-6 col-lg-3 "><hr class="divide20-25">',
            afterEach       : '</div>',

            ads             : true,
            non_pinned      : {{articleCount}}
        });


    });
</script>
