{{ set(this, 'title', _Blog.getBlogTitle()) }}
{% set networkData = _Network.getNetworkData() %}
{% set blogData    = _Blog.getBlog() %}
{% set layout      = blogData.layout %}
{% set site        = networkData.title | lower | split(" ")[0]%}
{% set homeBlog    = blogData['title'] | lower %}


{{this.registerJs("Acme.cards = CardController();")}}

{% set templatePath = "window.Acme.templatePath = '" ~ networkData.templatePath ~ "';" %}
{{this.registerJs( templatePath )}}

{% set dev = _AppHelper.getApplicationEnv() == 'DEV' ? true : false %}

{% if dev %}
    {% set articlesArr = _Blog.getBlogFeed({'limit': 1, 'offset': 0}) %}
{% endif %}

{% set sectionOrder = [] %}








{# *******************************************************
                GLOBAL SITE SECTIONS
              (each site can override)
******************************************************* #}

{% set pageSections =  {
    'section_0': {
        'title'     : 'Echuca',
        'blogs'     : ['echuca news'],
        'template'  : 'partials/index/section-11.twig',
    },
    'section_1': {
        'title'     : 'Deniliquin',
        'blogs'     : ['deniliquin news'],
        'template'  : 'partials/index/section-04.twig',
    },
    "section_2": {
        'title'     : "Finley",
        'blogs'     : ['finley news'],
        'template': 'partials/index/section-23.twig',
    },
    "section_3": {
        'title'     : "Kyabram",
        'blogs'     : ['kyabram news'],
        'template': 'partials/index/section-06.twig',
    },
    "section_4": {
        'title'     : "Benalla",
        'blogs'     : ['benalla news'],
        'template': 'partials/index/section-12.twig',
    },
    "section_5": {
        'title'     : "Cobram",
        'blogs'     : ['cobram news'],
        'template': 'partials/index/section-24.twig',
    },
    "section_6": {
        'title'     : "Seymour",
        'blogs'     : ['seymour news'],
        'template': 'partials/index/section-06.twig',
    },
    "section_7": {
        'title'     : "Rochester",
        'blogs'     : ['rochester news'],
        'template': 'partials/index/section-12.twig',
    },
    "section_8": {
        'title'     : "Heathcote",
        'blogs'     : ['heathcote news'],
        'template': 'partials/index/section-23.twig',
    },
    "section_9": {
        'title'     : "Tatura",
        'blogs'     : ['tatura news'],
        'template': 'partials/index/section-06.twig',
    },
    "section_10": {
        'title'     : "Yarrawonga",
        'blogs'     : ['yarrawonga news'],
        'template': 'partials/index/section-12.twig',
    },
    "section_11": {
        'title'     : "Corowa",
        'blogs'     : ['corowa news'],
        'template': 'partials/index/section-24.twig',
    }
} %}








{# The following list of blogs are required for each site to load the feeds #}

{# *******************************************************
                        COMMON
******************************************************* #}
{% set blogFeeds = {
        "echuca news":          { "limit" : 1},
        "echuca sport":         { "limit" : 1},
        "echuca social":        { "limit" : 1},
        "echuca lifestyle":     { "limit" : 1},
        "echuca entertainment": { "limit" : 1},

        "deniliquin news":      { "limit" : 1},
        "deniliquin opinion":   { "limit" : 1},
        "deniliquin sport":     { "limit" : 2},
        "deniliquin entertainment": { "limit" : 1},

        "finley news":          { "limit" : 2},
        "finley sport":         { "limit" : 1},

        "kyabram news":         { "limit" : 1},
        "kyabram sport":        { "limit" : 2},

        "benalla news":         { "limit" : 1},
        "benalla sport":        { "limit" : 3},

        "cobram news":          { "limit" : 3},
        "cobram sport":         { "limit" : 1},

        "seymour news":         { "limit" : 2},
        "seymour sport":        { "limit" : 1},

        "rochester news":       { "limit" : 3},
        "rochester sport":      { "limit" : 1},

        "heathcote news":       { "limit" : 2},
        "heathcote sport":      { "limit" : 1},

        "tatura news":          { "limit" : 3},

        "yarrawonga news":      { "limit" : 2},
        "yarrawonga Sport":     { "limit" : 2},

        "corowa news":          { "limit" : 3},
        "corowa Sport":         { "limit" : 1},


    }
%}

{% set sectionOrder = ['section_0', 'section_1', 'section_2', 'section_3', 'section_4', 'section_5', 'section_6', 'section_7', 'section_8', 'section_9', 'section_10', 'section_11'] %}






{# *******************************************************
                Fetch all needed feeds
******************************************************* #}
{% for key, value in blogFeeds %}
    {% for blog in networkData.networkBlogs %}


        {# FOR DEV  #}
        {% if dev %}
            {% set blogFeeds = blogFeeds | merge({
                (key) : { 'feed' : articlesArr, 'link' : '#' } }) %}
        {% endif %}


        {# FOR PRODUCTION #}
        {% if not dev and blog.title | lower == key | lower %}

            {% set feed = _Blog.getBlogFeed({'limit': blogFeeds[key]['limit'], 'offset': 0, 'blogid':blog.guid}) %}

            {% set blogFeeds = blogFeeds | merge({
                (key) : {
                    'feed'      : feed,
                    'link'      : blog.link
                    }
                }) %}

        {% endif %}
    {% endfor %}
{% endfor %}











<main id="main" class="site-main" role="main">


        <section class="container">
            <div class="row">
                <div class="col-sm-9 header">
                    <div class="hk">
                        <h2>{{this.title}}</h2>
                        <p></p>
                    </div>
                </div>
            </div>
        </section>







    {# *******************************************************
                        RENDER SECTIONS
    ******************************************************* #}
    {% for pagesection in sectionOrder %}
        {% set params = {
            'section'   : pageSections[pagesection],
            'blogFeeds' : blogFeeds,
            'site'      : site,
            'dev'       : dev
        } %}
    
        {{this.render('render.twig', params) | raw}} 

    {% endfor %}



</main><!-- .site-main -->


