{{ set(this, 'title', _Blog.getBlogTitle()) }}
{% set networkData = _Network.getNetworkData() %}
{% set blogData    = _Blog.getBlog() %}
{% set site        = networkData.title | lower | split(" ")[0]%}



{{this.registerJs("Acme.cards = CardController();")}}
{{this.registerJsFile("{{networkData.templatePath}}/static/development/js/plugins/view-1.1.3.js")}}


{% set limit = 15 %}
{% set articlesArr = _Blog.getBlogFeed({'limit': limit, 'offset': 0}) %}
{% set articles = articlesArr.articles %}
{% set firstCount = articles | length %}

                                                     {# renders the card    fetch-limit      fetch-offset    infinite scroll #}
                                                     {#            ↑             ↑                 ↑            ↑            #}
{{this.registerJs("Acme.searchFeed = new Acme.View.articleFeed(Acme.cards, " ~ limit ~ ", " ~ firstCount ~ ", true,  'No listings found');")}}


<!-- used to index each article as we loop over throughout the template -->
{% set dev          = _AppHelper.getApplicationEnv() == 'DEV' ? false : false %}
{% set articleCount = _AppHelper.getApplicationEnv() == 'DEV' ? 0     : 0     %}


<main id="main" class="container" role="main">

    <section class="section">
        <div class="row">
            <div class="col-sm-9 header">
                <div class="hk">
                    <h2>{{this.title}}</h2>
                    <p></p>
                </div>
            </div>
        </div>
        
    </section>



    <section class="row u-margin-bottom-40">
        <div class="col-sm-6">


            <div class="row u-margin-bottom-40">
                <div class="col-sm-9">

                    <!-- # The Following is code from View Real Estate -->
                    <div id="rev-search" >
                        <div class="rev-search-inner clearfix">
                            <div class="rev-search-title">
                                <span>Find your place</span>
                            </div>

                            <form action="https://www.realestateview.com.au/portal/search/" method="get" target="_blank">

                                <input type="hidden" name="utm_source" value="reiq" />
                                <input type="hidden" name="utm_medium" value="widget" />
                                <input type="hidden" name="iss" value="true" />

                                <div class="rev-search-item-wrapper clearfix">
                                    <div class="rev-search-item rev-search-contract-type">
                                        <input type="hidden" name="smt" />
                                        <div class="search-type-selected" tabindex="0">Buy</div>
                                        <div id="search-type-dropdown-placeholder"></div>
                                    </div>

                                    <div class="rev-search-item rev-search-location">
                                        <input type="hidden" name="loc" />
                                        <input type="text" id="input-location" autocomplete="off" placeholder="Search by suburb, postcode or area" />
                                        <div id="suggestions-dropdown-placeholder"></div>
                                    </div>

                                    <div class="rev-search-item rev-search-submit">
                                        <button>Search</button>
                                    </div>
                                </div>
                            </form>

                            <div class="rev-search-logo">
                                <a href="//www.realestateview.com.au">
                                    <img src="//realestateview.com.au/assets/content/images/logo-rev_white.png" alt="realestateVIEW" />
                                </a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="row u-margin-bottom-40">

                {% if articles[articleCount] %}
                    <div class="col-sm-9 col-md-3 m-split">
                        {{this.render('partials/_single-article.twig', {
                            article: articles[articleCount], 
                            position: (articleCount+1),
                            template: 'property_card',
                            networkData: networkData,
                            imageSize: {width: 300, height: 195},
                            containerClass: 'card-realestate card-realestate-tablet card-realestate-mobile'
                        }) | raw}}
                        {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
                    </div>
                {% endif %}

                <div class="col-sm-9 col-md-3 m-split">


                {% set mobileStyles = ["card-sm-wide-mobile", "card-sm-mobile", "card-sm-mobile"] %}

                {% for i in 0..2 if articles[articleCount] %}
                   
                    {{this.render('partials/_single-article.twig', {
                        article: articles[articleCount], 
                        position: (articleCount+1),
                        networkData: networkData,
                        imageSize: {width: 80, height: 95},
                        containerClass: 'feature-side feature-side-tablet ' ~ mobileStyles[i]
                    }) | raw}}
                    {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
                    {% if i < 2 %}
                        <hr class="divide15 visible-md-block visible-lg-block">
                        <hr class="divide10 visible-xs-block">
                        <hr class="divide10 visible-sm-block space-only">                               
                    {% endif %}

                {% endfor %}
                </div>
            </div>




            <div class="row">

                {% for i in 0..1 if articles[articleCount] %}
                    <div class="col-sm-9 col-md-3 m-split">

                    {{this.render('partials/_single-article.twig', {
                        article: articles[articleCount], 
                        position: (articleCount+1),
                        template: 'property_card',
                        networkData: networkData,
                        imageSize: {width: 300, height: 195},
                        containerClass: 'card-realestate card-realestate-tablet card-realestate-mobile'
                    }) | raw}}
                    {% set articleCount = (dev) ? articleCount : articleCount + 1 %}

                    </div>
                {% endfor %}

            </div>


        </div>


        <div class="col-sm-3">
            <div class="ad-square" style="margin-bottom:30px;">
                <div class="card__announcement-image google_ad google_ad_mrec text-center" id='div-gpt-ad-halfpage-3'>
                    <script type='text/javascript'>
                            googletag.cmd.push(function() { googletag.display('div-gpt-ad-halfpage-3'); });
                    </script>
                </div>
            </div>
        </div>


    </section>


    <section class="row u-margin-bottom-40">
        <div class="col-sm-9">

            <section class="row">

                {% for i in 0..8 if articles[articleCount] %}
                    <div class="col-sm-3">

                    {{this.render('partials/_single-article.twig', {
                        article: articles[articleCount], 
                        position: (articleCount+1),
                        template: 'property_card',
                        networkData: networkData,
                        imageSize: {width: 300, height: 195},
                        containerClass: 'card-realestate card-realestate-tablet card-realestate-mobile'
                    }) | raw}}
                    {% set articleCount = (dev) ? articleCount : articleCount + 1 %}

                    </div>
                {% endfor %}

            </section>

        </div>
    </section>



    <section class="row">
        <div class="loading"></div>
        {{ this.render('partials/ajaxarticles.twig', {
            offset          : limit,
            limit           : 9,
            name            : "property-load",
            label           : "Show more",
            non_pinned      : 2, 
            cardTemplate    : "property_card",  
            card_class      : "card-realestate card-realestate-tablet card-realestate-mobile",
            container       : "property-listings",
            blogid          : blogData['guid'],
            buttonClass     : 'infinite',
            before          : '<div class="col-sm-3">',
            after           : '</div>'

        }) | raw }}
    </section>



</main><!-- .site-main -->