{{ set(this, 'title', _Blog.getBlogTitle()) }}
{% set networkData = _Network.getNetworkData() %}
{% set blogData    = _Blog.getBlog() %}
{% set layout      = blogData.layout %}
{% set site        = networkData.title | lower | split(" ")[0]%}
{% set homeBlog    = blogData['title'] | lower %}


{{this.registerJs("Acme.cards = CardController();")}}

{% set templatePath = "window.Acme.templatePath = '" ~ networkData.templatePath ~ "';" %}
{{this.registerJs( templatePath )}}

{% set dev = _AppHelper.getApplicationEnv() == 'DEV' ? false : false %}

{% set sectionOrder = [] %}







{# *******************************************************
                GLOBAL SITE SECTIONS
              (each site can override)
******************************************************* #}

{% set pageSections =  {
    'section_0': {
        'template'  : 'partials/index/section-01-local.twig',
        'title'     : 'News',
        'blogs'     : ['Local News'],
    },
    'section_1': {
        'template'  : 'partials/index/section-01-local.twig',
        'title'     : 'Sport',
        'blogs'     : ['Sport'],
    },
    "section_2": {
        'title'     : "Finley",
        'blogs'     : ['Finley News'],
        'template': 'partials/index/section-01-local.twig',
    },
    "section_3": {
        'title'     : "Kyabram",
        'blogs'     : ['Kyabram News'],
        'template': 'partials/index/section-01-local.twig',
    },
    "section_4": {
        'title'     : "Benella",
        'blogs'     : ['Benella News'],
        'template': 'partials/index/section-01-local.twig',
    },
    "section_5": {
        'title'     : "Kyabram",
        'blogs'     : ['Kyabram News'],
        'template': 'partials/index/section-01-local.twig',
    },
    "section_6": {
        'title'     : "Kyabram",
        'blogs'     : ['Kyabram News'],
        'template': 'partials/index/section-01-local.twig',
    },
    "section_7": {
        'title'     : "Kyabram",
        'blogs'     : ['Kyabram News'],
        'template': 'partials/index/section-01-local.twig',
    },
    "section_8": {
        'title'     : "Kyabram",
        'blogs'     : ['Kyabram News'],
        'template': 'partials/index/section-01-local.twig',
    },

} %}








{# The following list of blogs are required for each site to load the feeds #}

{# *******************************************************
                        COMMON
******************************************************* #}
{% set blogFeeds = {
        "Local News":           { "limit" : 5},
        "Local Sport":          { "limit" : 4},
        "Opinion":              { "limit" : 4},
        "Entertainment":        { "limit" : 3},
        "Lifestyle":            { "limit" : 3},
        "Education":            { "limit" : 4},
        "Contributed Phots":    { "limit" : 3},
        "Galleries":            { "limit" : 3},
        "Social":               { "limit" : 3},
    }
%}

{% set sectionOrder = ['section_0', 'section_1', 'section_2', 'section_3', 'section_4', 'section_5', 'section_6', 'section_7', 'section_8'] %}









{# *******************************************************
                Fetch all needed feeds
******************************************************* #}
{% for key, value in blogFeeds %}
    {% for blog in networkData.networkBlogs %}
        {% if blog.title | lower == key | lower %}

            {% set feed = dev 
                    ? articlesArr 
                    : _Blog.getBlogFeed({'limit': blogFeeds[key]['limit'], 'offset': 0, 'blogid':blog.guid}) 
            %}

            {% set blogFeeds = blogFeeds | merge({
                (key) : {
                    'feed'      : feed,
                    'link'      : blog.link
                    }
                }) %}

        {% endif %}
    {% endfor %}
{% endfor %}












<main id="main" class="site-main" role="main">


        <section class="container">
            <div class="row">
                <div class="col-sm-9 header">
                    <div class="hk">
                        <h2>{{this.title}}</h2>
                        <p></p>
                    </div>
                </div>
            </div>
        </section>







    {# *******************************************************
                        RENDER SECTIONS
    ******************************************************* #}
    {% for pagesection in sectionOrder %}
        {% set params = {
            'section'   : pageSections[pagesection],
            'blogFeeds' : blogFeeds,
            'site'      : site,
            'dev'       : dev
        } %}
    
        {{this.render('render.twig', params) | raw}} 

    {% endfor %}



</main><!-- .site-main -->


