{{ set(this, 'title', _Blog.getBlogTitle()) }}
{% set networkData = _Network.getNetworkData() %}
{% set blogData    = _Blog.getBlog() %}
{% set layout      = blogData.layout %}
{% set site        = networkData.title | lower | split(" ")[0]%}
{% set homeBlog    = blogData['title'] | lower %}


{{this.registerJs("Acme.cards = CardController();")}}

{% set templatePath = "window.Acme.templatePath = '" ~ networkData.templatePath ~ "';" %}
{{this.registerJs( templatePath )}}

{% set dev = _AppHelper.getApplicationEnv() == 'DEV' ? true : false %}

{% if dev %}
    {% set articlesArr = _Blog.getBlogFeed({'limit': 1, 'offset': 0}) %}
{% endif %}

{% set sectionOrder = [] %}

{% set regionSelect = {
        'shepparton': ['section_0', 'section_1', 'section_2', 'section_3', 'section_4', 'section_5', 'section_6', 'section_7'],
        'shepp': ['section_0', 'section_1', 'section_2', 'section_3', 'section_4', 'section_5', 'section_6', 'section_7'],
        'echuca': ['section_0', 'section_1', 'section_2', 'section_3', 'section_4', 'section_5', 'section_7'],
        'riverine': ['section_0', 'section_1', 'section_2', 'section_3', 'section_4', 'section_5', 'section_7'],
        'deniliquin': ['section_0', 'section_1', 'section_2', 'section_3'],
        'finley': ['section_0', 'section_1'],
        'southern': ['section_0', 'section_1'],
        'kyabram': ['section_0', 'section_1'],
        'benalla': ['section_0', 'section_1'],
        'cobram': ['section_0', 'section_1'],
        'seymour': ['section_0', 'section_1'],
        'rochester': ['section_0', 'section_1'],
        'campaspe': ['section_0', 'section_1'],
        'heathcote': ['section_0', 'section_1'],
        'mcivor': ['section_0', 'section_1'],
        'tatura': ['section_0', 'section_1'],
        'yarrawonga': ['section_0', 'section_1'],
        'corowa': ['section_0', 'section_1']
    }
%}

{% if homeBlog != 'local' %}
    {% set theSection = homeBlog ~ " " %}
    {% set sectionOrder = regionSelect[homeBlog] %}
    {% if homeBlog == 'shepparton' or homeBlog == 'shepp' %}
        {% set theSection = "shepp " %}
        {% set sectionOrder = ['section_0', 'section_1', 'section_2', 'section_3', 'section_4', 'section_5', 'section_6', 'section_7'] %}
    {% elseif homeBlog == 'echuca' %} 
        {% set sectionOrder = ['section_0', 'section_1', 'section_2', 'section_3', 'section_4', 'section_5', 'section_7'] %}       
    {% endif %}
{% else %}
    {% set theSection = '' %}
    {% set sectionOrder = regionSelect[site] %}
    
{% endif %}


{# {% set theSection = '' %} #}

{# *******************************************************
                GLOBAL SITE SECTIONS
              (each site can override)
******************************************************* #}

{% set pageSections =  {
    'section_0': {
        'template'  : 'partials/index/section-11.twig',
        'title'     : theSection ~ 'News',
        'blogs'     : [theSection ~ 'news'],
    },
    'section_1': {
        'template'  : 'partials/index/section-12.twig',
        'title'     : theSection ~ 'Sport',
        'blogs'     : [theSection ~ 'sport'],
    },
    "section_2": {
        'title'     : theSection ~ "Opinion",
        'blogs'     : [theSection ~ 'opinion'],
        'template': 'partials/index/section-07.twig',
    },
    "section_3": {
        'title'     : theSection ~ "Entertainment",
        'blogs'     : [theSection ~ 'entertainment'],
        'template': 'partials/index/section-23.twig',
    },
    "section_4": {
        'title'     : theSection ~ "Lifestyle",
        'blogs'     : [theSection ~ 'lifestyle'],
        'template': 'partials/index/section-06.twig',
    },
    "section_5": {
        'title'     : theSection ~ "Education",
        'blogs'     : [theSection ~ 'education'],
        'template': 'partials/index/section-12.twig',
    },
    "section_6": {
        'title'     : theSection ~ "Contributed Photos",
        'blogs'     : [theSection ~ 'contributed photos'],
        'template': 'partials/index/section-08.twig',
    },
    "section_7": {
        'title'     : theSection ~ "Galleries",
        'blogs'     : [theSection ~ 'galleries'],
        'template': 'partials/index/section-08.twig',
    },
} %}








{# The following list of blogs are required for each site to load the feeds #}

{# *******************************************************
                        COMMON
******************************************************* #}




{% set blogFeeds = {
        (theSection ~ "news"):              { "limit" : 5},
        (theSection ~ "sport"):             { "limit" : 4},
        (theSection ~ "opinion"):           { "limit" : 4},
        (theSection ~ "lifestyle"):         { "limit" : 3},
        (theSection ~ "entertainment"):     { "limit" : 3},
        (theSection ~ "education"):         { "limit" : 4},
        (theSection ~ "contributed photos"):{ "limit" : 3},
        (theSection ~ "galleries"):         { "limit" : 3}
    }
%}









{# *******************************************************
                Fetch all needed feeds
******************************************************* #}
{% for key, value in blogFeeds %}
    {% for blog in networkData.networkBlogs %}


        {# FOR DEV  #}
        {% if dev %}
            {% set blogFeeds = blogFeeds | merge({
                (key) : { 'feed' : articlesArr, 'link' : '#' } }) %}
        {% endif %}


        {# FOR PRODUCTION #}
        {% if not dev and blog.title | lower == key | lower %}

            {% set feed = _Blog.getBlogFeed({'limit': blogFeeds[key]['limit'], 'offset': 0, 'blogid':blog.guid}) %}

            {% set blogFeeds = blogFeeds | merge({
                (key) : {
                    'feed'      : feed,
                    'link'      : blog.link
                    }
                }) %}

        {% endif %}
    {% endfor %}
{% endfor %}




<main id="main" class="site-main" role="main">


        <section class="container">
            <div class="row">
                <div class="col-sm-9 header">
                    <div class="hk hk__segment">
                        <h2 class="{{site}}">{{this.title}}</h2>
                        <p></p>
                    </div>
                </div>
            </div>
        </section>







    {# *******************************************************
                        RENDER SECTIONS
    ******************************************************* #}
    {% for pagesection in sectionOrder %}
        {% set params = {
            'section'   : pageSections[pagesection],
            'blogFeeds' : blogFeeds,
            'site'      : site,
            'dev'       : dev
        } %}
    
        {{this.render('render.twig', params) | raw}} 

    {% endfor %}



</main><!-- .site-main -->


