{{ set(this, 'title', _Blog.getBlogTitle()) }}
{% set networkData = _Network.getNetworkData() %}
{% set blogData    = _Blog.getBlog() %}
{% set layout      = blogData.layout %}
{% set site        = networkData.title | lower | split(" ")[0]%}
{% set homeBlog    = blogData['title'] | lower %}



{{this.registerJs("Acme.cards = CardController();")}}

{% set templatePath = "window.Acme.templatePath = '" ~ networkData.templatePath ~ "';" %}
{{this.registerJs( templatePath )}}

{% set dev = _AppHelper.getApplicationEnv() == 'DEV' ? true : false %}

{% if dev %}
    {% set articlesArr = _Blog.getBlogFeed({'limit': 1, 'offset': 0}) %}
{% endif %}

{% set sectionOrder = [] %}








{# *******************************************************
                GLOBAL SITE SECTIONS
              (each site can override)
******************************************************* #}

{% set pageSections =  {
    'shepp': {
        'template'  : 'partials/index/section-11.twig',
        'title'     : 'Shepparton',
        'blogs' : ['shepp news','shepp sport','shepp social','shepp lifestyle','shepp entertainment'],
        'articleorder' : ['shepp news','shepp sport','shepp entertainment','shepp social','shepp lifestyle']
    },
    'echuca_0': {
        'template'  : 'partials/index/section-11.twig',
        'title'     : 'Echuca',
        'blogs' : ['echuca news','echuca sport','echuca social','echuca lifestyle','echuca entertainment'],
        'articleorder' : ['echuca news','echuca sport','echuca entertainment','echuca social','echuca lifestyle']
    },
    'echuca_1': {
        'template'  : 'partials/index/section-27.twig',
        'title'     : 'Echuca',
        'blogs' : ['echuca news','echuca sport','echuca social','echuca lifestyle','echuca entertainment'],
        'articleorder' : ['echuca news','echuca sport','echuca social','chuca lifestyle','echuca entertainment']
    },
    'deniliquin_0': {
        'template'  : 'partials/index/section-27.twig',
        'title'     : 'Deniliquin',
        'blogs' : ['deniliquin news','deniliquin sport','deniliquin opinion','deniliquin entertainment'],
        'articleorder' : ['deniliquin news','deniliquin sport','deniliquin news','deniliquin opinion','deniliquin entertainment']
    },
    "deniliquin_1": {
        'title'     : "Deniliquin",
        'template': 'partials/index/section-12.twig',
        'blogs' : ['deniliquin news','deniliquin sport','deniliquin opinion','deniliquin entertainment'],
        'articleorder' : ['deniliquin news','deniliquin sport','deniliquin opinion','deniliquin entertainment']
    },
    "finley": {
        'title'     : "Finley",
        'template': 'partials/index/section-23.twig',
        'blogs' : ['finley news','finley sport'],
        'articleorder' : ['finley news','finley news','finley sport']
    },
    "kyabram": {
        'title'     : "Kyabram",
        'template': 'partials/index/section-06.twig',
        'blogs' : ['kyabram news','kyabram sport'],
        'articleorder' : ['kyabram news','kyabram news','kyabram sport']
    },
    "benalla": {
        'title'     : "Benalla",
        'template': 'partials/index/section-12.twig',
        'blogs' : ['benalla news','benalla sport'],
        'articleorder' : ['benalla news','benalla sport','benalla news','benalla news']
    },
    "cobram": {
        'title'     : "Cobram",
        'template': 'partials/index/section-24.twig',
        'blogs' : ['cobram news','cobram sport'],
        'articleorder' : ['cobram news','cobram sport','cobram news','cobram news']
    },
    "seymour": {
        'title'     : "Seymour",
        'template': 'partials/index/section-06.twig',
        'blogs' : ['seymour news','seymour sport'],
        'articleorder' : ['seymour news','seymour news','seymour sport']
    },
    "rochester": {
        'title'     : "Rochester",
        'template': 'partials/index/section-12.twig',
        'blogs' : ['rochester news','rochester sport'],
        'articleorder' : ['rochester news','rochester sport','rochester news','rochester news']
    },
    "heathcote": {
        'title'     : "Heathcote",
        'template': 'partials/index/section-23.twig',
        'blogs' : ['heathcote news','heathcote sport'],
        'articleorder' : ['heathcote news','heathcote news','heathcote sport']
    },
    "tatura": {
        'title'     : "Tatura",
        'template': 'partials/index/section-06.twig',
        'blogs' : ['tatura news','tatura sport'],
        'articleorder' : ['tatura news','tatura news','tatura sport']
    },
    "yarrawonga": {
        'title'     : "Yarrawonga",
        'template': 'partials/index/section-12.twig',
        'blogs' : ['yarrawonga news','yarrawonga sport'],
        'articleorder' : ['yarrawonga news','yarrawonga news','yarrawonga sport','yarrawonga news']
    },
    "corowa": {
        'title'     : "Corowa",
        'template': 'partials/index/section-24.twig',
        'blogs' : ['corowa news','corowa sport'],
        'articleorder' : ['corowa news','corowa sport','corowa news','corowa news']
    },
    'country news': {
        'template'  : 'partials/index/section-11.twig',
        'title'     : 'News',
        'blogs' : ['country news']
    },
    'dairy': {
        'template'  : 'partials/index/section-27.twig',
        'title'     : 'Dairy',
        'template_params' : {
            'ad': 'mrec-4',
        },
        'blogs' : ['dairy']                                                                                  
    },
    "horticulture": {
        'title'     : "Horticulture",
        'template': 'partials/index/section-23.twig',
        'blogs' : ['horticulture']
    },
    "cropping": {
        'title'     : "Cropping",
        'template': 'partials/index/section-06.twig',
        'blogs' : ['cropping']
    },
    "livestock": {
        'title'     : "Livestock",
        'template': 'partials/index/section-12.twig',
        'blogs' : ['livestock']
    },
    "viticulture": {
        'title'     : "Viticulture",
        'template': 'partials/index/section-24.twig',
        'blogs' : ['viticulture']
    },
    "water": {
        'title'     : "Water",
        'template': 'partials/index/section-06.twig',
        'blogs' : ['water']
    },
    "management": {
        'title'     : "Management",
        'template': 'partials/index/section-12.twig',
        'blogs' : ['management']
    },
    "from the experts": {
        'title'     : "From The Experts",
        'template': 'partials/index/section-23.twig',
        'blogs' : ['from the experts']
    },
    "markets": {
        'title'     : "Markets",
        'template': 'partials/index/section-06.twig',
        'blogs' : ['markets']
    },
    "machinery & products": {
        'title'     : "Machinery & Products",
        'template': 'partials/index/section-12.twig',
        'blogs' : ['machinery & products']
    },
    "animal health": {
        'title'     : "Animal Health",
        'template': 'partials/index/section-24.twig',
        'blogs' : ['animal health']
    },
    'national': {
        'template'  : 'partials/index/section-11.twig',
        'title'     : 'National',
        'blogs' : ['national']
    },
    "national & world sport": {
        'title'     : "Sport",
        'template': 'partials/index/section-06.twig',
        'blogs' : ['national & world sport']
    },
    'world': {
        'template'  : 'partials/index/section-27.twig',
        'title'     : 'World',
        'blogs' : ['world']                                                                                  
    },
    "aap finance": {
        'title'     : "Finance",
        'template': 'partials/index/section-23.twig',
        'blogs' : ['aap finance']
    },
     "aap entertainment": {
        'title'     : "Entertainment",
        'template': 'partials/index/section-06.twig',
        'blogs' : ['aap entertainment']
    }
} 

%}








{# The following list of blogs are required for each site to load the feeds #}

{# *******************************************************
                        COMMON
******************************************************* #}
{% set blogFeeds = {
        "echuca news":          { "limit" : 1},
        "echuca sport":         { "limit" : 1},
        "echuca social":        { "limit" : 1},
        "echuca lifestyle":     { "limit" : 1},
        "echuca entertainment": { "limit" : 1},
        "deniliquin news":      { "limit" : 2},
        "deniliquin opinion":   { "limit" : 1},
        "deniliquin sport":     { "limit" : 1},
        "deniliquin entertainment": { "limit" : 1},
        "finley news":          { "limit" : 2},
        "finley sport":         { "limit" : 1},
        "kyabram news":         { "limit" : 2},
        "kyabram sport":        { "limit" : 1},
        "benalla news":         { "limit" : 3},
        "benalla sport":        { "limit" : 1},
        "cobram news":          { "limit" : 3},
        "cobram sport":         { "limit" : 1},
        "seymour news":         { "limit" : 2},
        "seymour sport":        { "limit" : 1},
        "rochester news":       { "limit" : 3},
        "rochester sport":      { "limit" : 1},
        "heathcote news":       { "limit" : 2},
        "heathcote sport":      { "limit" : 1},
        "tatura news":          { "limit" : 2},
        "tatura sport":         { "limit" : 1},
        "yarrawonga news":      { "limit" : 3},
        "yarrawonga sport":     { "limit" : 1},
        "corowa news":          { "limit" : 3},
        "corowa sport":         { "limit" : 1},

        "country news":         { "limit" : 5},
        "dairy":                { "limit" : 5},
        "horticulture":         { "limit" : 3},
        "cropping":             { "limit" : 3},
        "livestock":            { "limit" : 4},
        "viticulture":          { "limit" : 4},
        "water":                { "limit" : 3},
        "management":           { "limit" : 4},
        "from the experts":     { "limit" : 3},
        "markets":              { "limit" : 3},
        "machinery & products": { "limit" : 4},
        "animal health":        { "limit" : 4},

        "national":        { "limit" : 5},
        "national & world sport": { "limit" : 4},
        "world":                { "limit" : 5},
        "aap finance":          { "limit" : 3},
        "aap entertainment":    { "limit" : 4},
        "other news":           { "limit" : 4}
    }
%}

{# MAKE THIS INTO AN ARRAY WHEN WE EXPAND #}
{% if homeBlog == 'regional' %}
    {% set bannerSpots = [2,5,8] %}
    {% if site == ('shepparton' or 'shepp') %} 
        {%  set sectionOrder = ['echuca_0', 'deniliquin_0', 'finley', 'kyabram', 'benella', 'cobram', 'seymour', 'rochester', 'heathcote', 'tatura', 'yarrawonga', 'corowa'] %} 
    {% endif %}
{% elseif homeBlog == 'rural' %}
    {% set bannerSpots = [2,5,8] %}
    {%  set sectionOrder = ['country news', 'dairy', 'horticulture', 'cropping', 'livestock', 'viticulture', 'water', 'management', 'from the experts', 'markets', 'machinery & products', 'animal health'] %} 
{% elseif homeBlog == 'national & world' %}
    {% set bannerSpots = [] %}
    {%  set sectionOrder = ['national', 'national & world sport', 'world', 'aap finance', 'aap entertainment'] %} 
{% endif %}


{# *******************************************************
                Fetch all needed feeds
******************************************************* #}
{% for key, value in blogFeeds %}
    {% for blog in networkData.networkBlogs %}


        {# FOR DEV  #}
        {% if dev %}
            {% set blogFeeds = blogFeeds | merge({
                (key) : { 'feed' : articlesArr, 'link' : '#' } }) %}
        {% endif %}


        {# FOR PRODUCTION #}
        {% if not dev and blog.title | lower == key | lower %}

            {% set feed = _Blog.getBlogFeed({'limit': blogFeeds[key]['limit'], 'offset': 0, 'blogid':blog.guid}) %}

            {% set blogFeeds = blogFeeds | merge({
                (key) : {
                    'feed'      : feed,
                    'link'      : blog.link
                    }
                }) %}

        {% endif %}
    {% endfor %}
{% endfor %}











<main id="main" class="site-main" role="main" data-blog="{{ homeBlog }}">


        <section class="container">
            <div class="row">
                <div class="col-sm-9 header">
                    <div class="hk">
                        <h2>{{this.title}}</h2>
                        <p></p>
                    </div>
                </div>
            </div>
        </section>







    {# *******************************************************
                        RENDER SECTIONS
    ******************************************************* #}
    {% for pagesection in sectionOrder %}
        {% set params = {
            'section'   : pageSections[pagesection],
            'blogFeeds' : blogFeeds,
            'site'      : site,
            'dev'       : dev
        } %}
    
        {{this.render('render.twig', params) | raw}} 

        {% if loop.index in bannerSpots %}
            <div class="ad-container">
                <div class='advert-desktop advert-tablet' data-adsize="banner"></div>
                <div class='advert-mobile' data-adsize="mrec"></div>
            </div> 
        {% endif %}

    {% endfor %}



</main><!-- .site-main -->


