{{ set(this, 'title', _Blog.getBlogTitle()) }}
{% set networkData = _Network.getNetworkData() %}
{% set site        = networkData.title | lower | split(" ")[0]%}

{{this.registerJs("Acme.cards = CardController();")}}
{# {{this.registerJs("Acme.ads = Acme.InsertAds();")}} #}



{% set limit = 17 %}

{% set articlesArr = _Blog.getBlogFeed({'limit': limit, 'offset': 0}) %}
{% set articles = articlesArr.articles %}
{% set firstCount = articles | length %}

{# {{this.registerJs("Acme.ads = Acme.InsertAds();")}}#}
                                                     {# renders the card    fetch-limit      fetch-offset    infinite scroll #}
                                                     {#            ↑             ↑                 ↑            ↑            #}
{{this.registerJs("Acme.searchFeed = new Acme.View.articleFeed(Acme.cards, " ~ limit ~ ", " ~ firstCount ~ ", true);")}}



{% set popularArticles = _Article.getPopularArticles({ limit: 10, sortBy: 'VIEWS', scope: 'blog' }) %}


<!-- used to index each article as we loop over throughout the template -->
{% set articleCount = _AppHelper.getApplicationEnv() == 'DEV' ? 0 : 0 %}
{% set popCount = _AppHelper.getApplicationEnv() == 'DEV' ? 0 : 0 %}
{% set dev = _AppHelper.getApplicationEnv() == 'DEV' ? false : false %}


<main id="main" class="site-main section-page__main" role="main" data-article-limit="{{limit}}" data-article-count="{{articles | length}}">
    
    <div class="container">

        <section>
            <div class="row">
                <div class="col-sm-9 header">
                    <div class="hk">
                        <h2>{{this.title}}</h2>
                        <p></p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 col-sm-9 col-xs-9">
                   {% if articles[articleCount] %}
                       {{this.render('partials/_single-article.twig', {
                           article: articles[articleCount],
                           position: articleCount + 1,
                           imageSize: {width:640, height:400},
                           site: site,
                           containerClass: 'home-feature-sm home-feature-tablet home-feature-mobile'
                       }) | raw}}
                       {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
                   {% endif %}
                   

                </div>

                 <hr class="divide18 visible-sm-block visible-xs-block space-only">

                

                <div class="col-md-3 col-sm-9 sm-two-cols">
                    <div class="row">
                
                        <div class="ad-square col-md-9 col-sm-1" style="position:relative;height:250px;">
                            <div id='mrec-6' class='advert' style="float:left;"></div>
                        </div>                      
                        <hr class="divide visible-xs-block">   
                     {% if articles[articleCount] %}
                            <div class="col-sm-1 col-md-9 col-xs-9">
                                <hr class="divide24 visible-md-block visible-lg-block">                            
                                 {{this.render('partials/_single-article.twig', {
                                     article: articles[articleCount], 
                                     imageSize: {width:640, height:480},
                                     position: articleCount + 1,
                                     site: site,
                                     containerClass: 'feature-side card-sm-wide-tablet card-sm-wide-mobile'
                                 }) | raw}}
                                {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
                                <hr class="divide visible-xs-block">
                            </div>
                     {% endif %}              
                    </div>
                </div>
            </div>

            <div class="row row-space">

                {% set divider = ['divideright', 'divideright', ''] %}
                {% for i in 0..2 if articles[articleCount] %}
                    <div class="col-sm-3 col-md-3 col-xs-9">
                        {{this.render('partials/_single-article.twig', {
                            article: articles[articleCount], 
                            imageSize: {width:640, height:480},
                            position: articleCount + 1,
                            site: site,
                            containerClass: 'card-sm-wide card-sm-wide-tablet card-sm-wide-mobile ' ~ divider[i]
                        }) | raw}}
                        {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
                        <hr class="divide visible-xs-block">
                    </div>
                {% endfor %}

            </div>
        </section>

        <div class="ad-container mobad8">
            <div id='banner-3' class='advert'></div>
        </div>
    </div>

    <div class="container" >
        <section>
            <div class="row">
                <div class="col-sm-9">
                    <div class="row">
                        {% for i in 0..8 if articles[articleCount] %}

                            <div class="col-sm-3">
                                {{this.render('partials/_single-article.twig', {
                                    article: articles[articleCount], 
                                    imageSize: {width:190, height:160},
                                    position: articleCount + 1,
                                    site: site,                               
                                    containerClass: 'card-sm-wide card-sm-wide-tablet card-sm-wide-mobile'
                                }) | raw}}
                                <hr class="divide visible-xs-block">
                                <hr class="divide18 hidden-xs space-only">

                            </div>

                            {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>
        <section class="loadmore__section">
            <div class="row">
                {% if articles|length >= limit %}
                    {{ this.render('partials/ajaxarticles.twig', {
                        offset          : limit,
                        limit           : 12,
                        name            : "section-load",
                        non_pinned      : articlesArr.existingNonPinnedCount, 
                        card_class      : "col-sm-3 col-xs-12 card-sm card-sm-tablet card-sm-mobile row-space40",
                        container       : "mainAjaxArticlescardClass",
                        buttonClass     : "infinite",
                        ads             : "yes",
                        after           : '<hr class="divide18 visible-xs-block">'
                    }) | raw }}
                {% endif %}
               </div>
        </section>

    </div>
</main><!-- .site-main -->