{{ set(this, 'title', _Blog.getBlogTitle()) }}
{% set networkData = _Network.getNetworkData() %}
{% set blogData    = _Blog.getBlog() %}
{% set layout      = blogData.layout %}
{% set site        = networkData.title | lower | split(" ")[0]%}
{% set homeBlog    = blogData['title'] | lower %}



{{this.registerJs("Acme.cards = CardController();")}}

{% set templatePath = "window.Acme.templatePath = '" ~ networkData.templatePath ~ "';" %}
{{this.registerJs( templatePath )}}

{% set dev = _AppHelper.getApplicationEnv() == 'DEV' ? false : false %}

{% if dev %}
    {% set articlesArr = _Blog.getBlogFeed({'limit': 1, 'offset': 0}) %}
{% endif %}

{% set sectionOrder = [] %}



{#************************
 set additional sport regions here if they want panel pages for individual regional sports
 ************************* #}
{% set sportType = 'aap ' %}



{# *******************************************************
                GLOBAL SITE SECTIONS
              (each site can override)
******************************************************* #}

{% set pageSections =  {
    "section_0": {
        'template'  : 'partials/index/section-11.twig',
        'title'     : 'AFL',
        'blogs' : [(sportType ~ 'afl')]
    },
    "section_1": {
        'template'  : 'partials/index/section-27.twig',
        'title'     : 'Horse Racing',
        'blogs' : [(sportType ~ 'horse racing')]                                                                                  
    },
    "section_2": {
        'title'     : "Rugby",
        'template': 'partials/index/section-23.twig',
        'blogs' : [(sportType ~ 'rugby')]
    },
    "section_3": {
        'title'     : "Soccer",
        'template': 'partials/index/section-06.twig',
        'blogs' : [(sportType ~ 'soccer')]
    },
    "section_4": {
        'title'     : "Tennis",
        'template': 'partials/index/section-12.twig',
        'blogs' : [(sportType ~ 'tennis')]
    },
    "section_5": {
        'title'     : "Basketball",
        'template': 'partials/index/section-24.twig',
        'blogs' : [(sportType ~ 'basketball')]
    },
    "section_6": {
        'title'     : "Golf",
        'template': 'partials/index/section-06.twig',
        'blogs' : [(sportType ~ 'golf')]
    },
    "section_7": {
        'title'     : "Other Sport",
        'template': 'partials/index/section-12.twig',
        'blogs' : [(sportType ~ 'other sport')]
    }
} 

%}








{# The following list of blogs are required for each site to load the feeds #}

{# *******************************************************
                        COMMON
******************************************************* #}
{% set blogFeeds = {
        (sportType ~ 'afl')         :   { "limit" : 5},
        (sportType ~ 'horse racing'):   { "limit" : 5},
        (sportType ~ 'rugby')       :   { "limit" : 3},
        (sportType ~ 'soccer')      :   { "limit" : 3},
        (sportType ~ 'tennis')      :   { "limit" : 4},
        (sportType ~ 'basketball')  :   { "limit" : 4},
        (sportType ~ 'golf')        :   { "limit" : 3},
        (sportType ~ 'other sport') :   { "limit" : 4}
    }
%}

{# MAKE THIS INTO AN ARRAY WHEN WE EXPAND #}
{% set bannerSpots = [2,5] %}
{%  set sectionOrder = ['section_0', 'section_1', 'section_2', 'section_3', 'section_4', 'section_5', 'section_6', 'section_7'] %} 



{# *******************************************************
                Fetch all needed feeds
******************************************************* #}
{% for key, value in blogFeeds %}
    {% for blog in networkData.networkBlogs %}


        {# FOR DEV  #}
        {% if dev %}
            {% set blogFeeds = blogFeeds | merge({
                (key) : { 'feed' : articlesArr, 'link' : '#' } }) %}
        {% endif %}


        {# FOR PRODUCTION #}
        {% if not dev and blog.title | lower == key | lower %}

            {% set feed = _Blog.getBlogFeed({'limit': blogFeeds[key]['limit'], 'offset': 0, 'blogid':blog.guid}) %}

            {% set blogFeeds = blogFeeds | merge({
                (key) : {
                    'feed'      : feed,
                    'link'      : blog.link
                    }
                }) %}

        {% endif %}
    {% endfor %}
{% endfor %}











<main id="main" class="site-main" role="main" data-blog="{{ homeBlog }}">


        <section class="container">
            <div class="row">
                <div class="col-sm-9 header">
                    <div class="hk hk__segment">
                        <h2 class="{{site}}">{{this.title}}</h2>
                        <p></p>
                    </div>
                </div>
            </div>
        </section>







    {# *******************************************************
                        RENDER SECTIONS
    ******************************************************* #}
    {% for pagesection in sectionOrder %}
        {% set params = {
            'section'   : pageSections[pagesection],
            'blogFeeds' : blogFeeds,
            'site'      : site,
            'dev'       : dev
        } %}
    
        {{this.render('render.twig', params) | raw}} 

        {% if loop.index in bannerSpots %}
            <div class="ad-container hidden-xs">
                <div class='advert-desktop advert-tablet' data-adsize="banner"></div>
            </div> 
            <div class="ad-square col-xs-9 visible-xs-block">
                <div class="row"><hr class="divide"></div>
                <div class='advert-mobile' data-adsize="mrec"></div>
                <div class="row"><hr class="divide"></div>
            </div>
        {% endif %}

    {% endfor %}



</main><!-- .site-main -->


