{{ set(this, 'title', _Blog.getBlogTitle()) }}
{% set networkData = _Network.getNetworkData() %}

{{this.registerJs("Acme.CardController();")}}

{% set limit = 99 %}

{% set events = _Event.getEvents() %}

<!-- used to index each article as we loop over throughout the template -->
{% set eventCount = _AppHelper.getApplicationEnv() == 'DEV' ? 0 : 0 %}
{% set dev = _AppHelper.getApplicationEnv() == 'DEV' ? true : false %}


    <main id="main" class="site-main" role="main">
        <div class="container">
            <div class="col-lg-1 visible-lg-block"></div>
            <div class="col-lg-7 col-md-9 col-sm-9">
                <section>
                    <div class="row">
                        <div class="col-md-9 header events-heading">
                            <div class="hk site-events">
                                <h2>{{this.title}}</h2>
                                <p></p>
                                <a href="{{networkData.defaultBlogUrl}}/@event-form">Submit an event</a>
                            </div>
                        </div>
                    </div>
                </section>

                {% set monthDivider = '' %}

                <section class="middle">
                    <div class="row row-space maincards">
                        <div class="col-sm-9">
                            {% for i in 0..6 if events[eventCount] %}

                                {% set eventMonth = _AppHelper.getDateTimeBasedOnTimezone(events[eventCount].startDate, 'F') %}
                                {% if monthDivider != eventMonth %}
                                    <p class="month-divider">{{ eventMonth }}</p>
                                    {% set monthDivider = eventMonth %}
                                {% endif %}

                                {{this.render('partials/_single-event-list.twig', {
                                    event: events[eventCount], 
                                    position: eventCount + 1, 
                                    imageSize: {width:300},
                                    containerClass: 'card-event-list-rec card-event-list-tablet',
                                    site: site,
                                }) | raw}}
                                {% set eventCount = (dev) ? eventCount : eventCount + 1 %}
                            {% endfor %}
                        </div>
                    </div>
                </section>
            </div>
            <div class="col-lg-1 visible-lg-block"></div>            
        </div>
    </main><!-- .site-main -->