{{ set(this, 'title', _Blog.getBlogTitle()) }}
{% set networkData = _Network.getNetworkData() %}
{% set blogData    = _Blog.getBlog() %}
{% set layout      = blogData.layout %}
{% set site        = networkData.title | lower | split(" ")[0]%}
{% set homeBlog    = blogData['title'] | lower %}


{{this.registerJs("Acme.cards = CardController();")}}

{% set templatePath = "window.Acme.templatePath = '" ~ networkData.templatePath ~ "';" %}
{{this.registerJs( templatePath )}}

{% set dev = _AppHelper.getApplicationEnv() == 'DEV' ? true : false %}

{% if dev %}
    {% set articlesArr = _Blog.getBlogFeed({'limit': 1, 'offset': 0}) %}
{% endif %}

{% set sectionOrder = [] %}








{# *******************************************************
                GLOBAL SITE SECTIONS
              (each site can override)
******************************************************* #}

{% set pageSections =  {
    'section_0': {
        'title'         : 'Echuca',
        'blogs'         : ['echuca news', 'echuca sport', 'echuca social', 'echuca lifestyle', 'echuca entertainment'],
        'articleOrder'  : ['echuca news', 'echuca sport', 'echuca entertainment', 'echuca social', 'echuca lifestyle'],
        'template'      : 'partials/index/section-11.twig',
    },
    'section_1': {
        'title'         : 'Deniliquin',
        'blogs'         : ['deniliquin news', 'deniliquin opinion', 'deniliquin sport', 'deniliquin entertainment'],
        'articleOrder'  : ['deniliquin news', 'deniliquin sport', 'deniliquin sport', 'deniliquin opinion', 'deniliquin entertainment'],
        'template'      : 'partials/index/section-27.twig',
    },
    "section_2": {
        'title'         : "Finley",
        'blogs'         : ['finley news', 'finley sport'],
        'articleOrder'  : ['finley news', 'finley news', 'finley sport'],
        'template'      : 'partials/index/section-23.twig',
    },
    "section_3": {
        'title'         : "Kyabram",
        'blogs'         : ['kyabram news', 'kyabram sport'],
        'articleOrder'  : ['kyabram news', 'kyabram sport', 'kyabram sport'],
        'template'      : 'partials/index/section-06.twig',
    },
    "section_4": {
        'title'         : "Benalla",
        'blogs'         : ['benalla news', 'benalla sport'],
        'articleOrder'  : ['benalla news', 'benalla sport', 'benalla sport', 'benalla sport'],
        'template'      : 'partials/index/section-12.twig',
    },
    "section_5": {
        'title'         : "Cobram",
        'blogs'         : ['cobram news', 'cobram sport'],
        'articleOrder'  : ['cobram news', 'cobram news', 'cobram news', 'cobram sport'],
        'template'      : 'partials/index/section-24.twig',
    },
    "section_6": {
        'title'         : "Seymour",
        'blogs'         : ['seymour news', 'seymour sport'],
        'articleOrder'  : ['seymour news', 'seymour news', 'seymour sport'],
        'template'      : 'partials/index/section-06.twig',
    },
    "section_7": {
        'title'         : "Rochester",
        'blogs'         : ['rochester news', 'rochester sport'],
        'articleOrder'  : ['rochester news', 'rochester sport', 'rochester news', 'rochester news'],
        'template'      : 'partials/index/section-12.twig',
    },
    "section_8": {
        'title'         : "Heathcote",
        'blogs'         : ['heathcote news', 'heathcote sport'],
        'articleOrder'  : ['heathcote sport', 'heathcote news', 'heathcote news'],
        'template'      : 'partials/index/section-23.twig',
    },
    "section_9": {
        'title'         : "Tatura",
        'blogs'         : ['tatura news'],
        'template'      : 'partials/index/section-06.twig',
    },
    "section_10": {
        'title'         : "Yarrawonga",
        'blogs'         : ['yarrawonga news', 'yarrawonga sport'],
        'articleOrder'  : ['yarrawonga news', 'yarrawonga news', 'yarrawonga sport', 'yarrawonga sport'],
        'template'      : 'partials/index/section-12.twig',
    },
    "section_11": {
        'title'         : "Corowa",
        'blogs'         : ['corowa news', 'corowa sport'],
        'articleOrder'  : ['corowa news', 'corowa sport', 'corowa news', 'corowa news'],
        'template'      : 'partials/index/section-24.twig',
    }
} %}








{# The following list of blogs are required for each site to load the feeds #}

{# *******************************************************
                        COMMON
******************************************************* #}
{% set blogFeeds = {
        "echuca news":          { "limit" : 1},
        "echuca sport":         { "limit" : 1},
        "echuca social":        { "limit" : 1},
        "echuca lifestyle":     { "limit" : 1},
        "echuca entertainment": { "limit" : 1},

        "deniliquin news":      { "limit" : 2},
        "deniliquin opinion":   { "limit" : 1},
        "deniliquin sport":     { "limit" : 1},
        "deniliquin entertainment": { "limit" : 1},

        "finley news":          { "limit" : 2},
        "finley sport":         { "limit" : 1},

        "kyabram news":         { "limit" : 2},
        "kyabram sport":        { "limit" : 1},

        "benalla news":         { "limit" : 3},
        "benalla sport":        { "limit" : 1},
        "cobram news":          { "limit" : 3},
        "cobram sport":         { "limit" : 1},

        "seymour news":         { "limit" : 2},
        "seymour sport":        { "limit" : 1},

        "rochester news":       { "limit" : 3},
        "rochester sport":      { "limit" : 1},

        "heathcote news":       { "limit" : 2},
        "heathcote sport":      { "limit" : 1},

        "tatura news":          { "limit" : 2},
        "tatura sport":          { "limit" : 1},

        "yarrawonga news":      { "limit" : 3},
        "yarrawonga sport":     { "limit" : 1},

        "corowa news":          { "limit" : 3},
        "corowa sport":         { "limit" : 1}


    }
%}

{% set sectionOrder = ['section_0', 'section_1', 'section_2', 'section_3', 'section_4', 'section_5', 'section_6', 'section_7', 'section_8', 'section_9', 'section_10', 'section_11'] %}


{# *******************************************************
                Fetch all needed feeds
******************************************************* #}
{% for key, value in blogFeeds %}
    {% for blog in networkData.networkBlogs %}


        {# FOR DEV  #}
        {% if dev %}
            {% set blogFeeds = blogFeeds | merge({
                (key) : { 'feed' : articlesArr, 'link' : '#' } }) %}
        {% endif %}


        {# FOR PRODUCTION #}
        {% if not dev and blog.title | lower == key | lower %}

            {% set feed = _Blog.getBlogFeed({'limit': blogFeeds[key]['limit'], 'offset': 0, 'blogid':blog.guid}) %}

            {% set blogFeeds = blogFeeds | merge({
                (key) : {
                    'feed'      : feed,
                    'link'      : blog.link
                    }
                }) %}

        {% endif %}
    {% endfor %}
{% endfor %}











<main id="main" class="site-main" role="main">


        <section class="container">
            <div class="row">
                <div class="col-sm-9 header">
                    <div class="hk">
                        <h2>{{this.title}}</h2>
                        <p></p>
                    </div>
                </div>
            </div>
        </section>







    {# *******************************************************
                        RENDER SECTIONS
    ******************************************************* #}
    {% for pagesection in sectionOrder %}
        {% set params = {
            'section'   : pageSections[pagesection],
            'blogFeeds' : blogFeeds,
            'site'      : site,
            'dev'       : dev
        } %}
    
        {{this.render('render.twig', params) | raw}} 

        {% if loop.index == 2 %}
            <div class="ad-container mobad9">
                <div id='banner-3' class='advert'></div>
            </div> 
        {% elseif loop.index == 5 %}
            <div class="ad-container mobad9">
                <div id='banner-5' class='advert'></div>
            </div> 
        {% elseif loop.index == 8 %}
            <div class="ad-container mobad9">
                <div id='banner-7' class='advert'></div>
            </div> 
        {% endif %}

    {% endfor %}



</main><!-- .site-main -->


