{{ set(this, 'title', _Blog.getBlogTitle()) }}
{% set networkData = _Network.getNetworkData() %}
{% set blogData    = _Blog.getBlog() %}
{% set layout      = blogData.layout %}
{% set site        = networkData.title | lower | split(" ")[0]%}
{% set homeBlog    = blogData['title'] | lower %}



{{this.registerJs("Acme.cards = CardController();")}}

{% set templatePath = "window.Acme.templatePath = '" ~ networkData.templatePath ~ "';" %}
{{this.registerJs( templatePath )}}

{% set dev = _AppHelper.getApplicationEnv() == 'DEV' ? false : false %}

{% if dev %}
    {% set articlesArr = _Blog.getBlogFeed({'limit': 1, 'offset': 0}) %}
{% endif %}

{% set sectionOrder = [] %}








{# *******************************************************
                GLOBAL SITE SECTIONS
              (each site can override)
******************************************************* #}

{% set pageSections =  {
    'shepp': {
        'template'  : 'partials/index/section-11.twig',
        'title'     : 'Shepparton',
        'blogs' : ['shepp news','shepp sport','shepp social','shepp lifestyle','shepp entertainment'],
        'articleOrder' : ['shepp news','shepp sport','shepp entertainment','shepp social','shepp lifestyle'],
        'template_params' : {
            'link' : networkData.defaultBlogUrl ~ '/@shepparton'
        }
    },
    'echuca_0': {
        'template'  : 'partials/index/section-11.twig',
        'title'     : 'Echuca',
        'blogs'     : ['echuca news','echuca sport','echuca social','echuca lifestyle','echuca entertainment'],
        'articleOrder' : ['echuca news','echuca sport','echuca entertainment','echuca social','echuca lifestyle'],
        'template_params' : {
            'link' : networkData.defaultBlogUrl ~ '/@echuca'
        }
    },
    'echuca_1': {
        'template'  : 'partials/index/section-27.twig',
        'title'     : 'Echuca',
        'blogs' : ['echuca news','echuca sport','echuca social','echuca lifestyle','echuca entertainment'],
        'articleOrder' : ['echuca news','echuca sport','echuca social','chuca lifestyle','echuca entertainment'],
        'template_params' : {
            'link' : networkData.defaultBlogUrl ~ '/@echuca'
        }
    },
    'deniliquin_0': {
        'template'  : 'partials/index/section-27.twig',
        'title'     : 'Deniliquin',
        'blogs' : ['deniliquin news','deniliquin sport','deniliquin opinion','deniliquin entertainment'],
        'articleOrder' : ['deniliquin news','deniliquin sport','deniliquin news','deniliquin opinion','deniliquin entertainment'],
        'template_params' : {
            'link' : networkData.defaultBlogUrl ~ '/@deniliquin'
        }
    },
    "deniliquin_1": {
        'title'     : "Deniliquin",
        'template': 'partials/index/section-12.twig',
        'blogs' : ['deniliquin news','deniliquin sport','deniliquin opinion','deniliquin entertainment'],
        'articleOrder' : ['deniliquin news','deniliquin sport','deniliquin opinion','deniliquin entertainment'],
        'template_params' : {
            'link' : networkData.defaultBlogUrl ~ '/@deniliquin'
        }
    },
    "finley": {
        'title'     : "Finley",
        'template': 'partials/index/section-23.twig',
        'blogs' : ['finley news','finley sport'],
        'articleOrder' : ['finley news','finley news','finley sport'],
        'template_params' : {
            'link' : networkData.defaultBlogUrl ~ '/@finley'
        }
    },
    "kyabram": {
        'title'     : "Kyabram",
        'template': 'partials/index/section-06.twig',
        'blogs' : ['kyabram news','kyabram sport'],
        'articleOrder' : ['kyabram news','kyabram news','kyabram sport'],
        'template_params' : {
            'link' : networkData.defaultBlogUrl ~ '/@kyabram'
        }
    },
    "benalla": {
        'title'     : "Benalla",
        'template': 'partials/index/section-12.twig',
        'blogs' : ['benalla news','benalla sport'],
        'articleOrder' : ['benalla news','benalla sport','benalla news','benalla news'],
        'template_params' : {
            'link' : networkData.defaultBlogUrl ~ '/@benalla'
        }
    },
    "cobram": {
        'title'     : "Cobram",
        'template': 'partials/index/section-24.twig',
        'blogs' : ['cobram news','cobram sport'],
        'articleOrder' : ['cobram news','cobram sport','cobram news','cobram news'],
        'template_params' : {
            'link' : networkData.defaultBlogUrl ~ '/@cobram'
        }
    },
    "seymour": {
        'title'     : "Seymour",
        'template': 'partials/index/section-06.twig',
        'blogs' : ['seymour news','seymour sport'],
        'articleOrder' : ['seymour news','seymour news','seymour sport'],
        'template_params' : {
            'link' : networkData.defaultBlogUrl ~ '/@seymour'
        }
    },
    "rochester": {
        'title'     : "Rochester",
        'template': 'partials/index/section-12.twig',
        'blogs' : ['rochester news','rochester sport'],
        'articleOrder' : ['rochester news','rochester sport','rochester news','rochester news'],
        'template_params' : {
            'link' : networkData.defaultBlogUrl ~ '/@rochester'
        }
    },
    "heathcote": {
        'title'     : "Heathcote",
        'template': 'partials/index/section-23.twig',
        'blogs' : ['heathcote news','heathcote sport'],
        'articleOrder' : ['heathcote news','heathcote news','heathcote sport'],
        'template_params' : {
            'link' : networkData.defaultBlogUrl ~ '/@heathcote'
        }
    },
    "tatura": {
        'title'     : "Tatura",
        'template': 'partials/index/section-06.twig',
        'blogs' : ['tatura news','tatura sport'],
        'articleOrder' : ['tatura news','tatura news','tatura sport'],
        'template_params' : {
            'link' : networkData.defaultBlogUrl ~ '/@tatura'
        }
    },
    "yarrawonga": {
        'title'     : "Yarrawonga",
        'template': 'partials/index/section-12.twig',
        'blogs' : ['yarrawonga news','yarrawonga sport'],
        'articleOrder' : ['yarrawonga news','yarrawonga news','yarrawonga sport','yarrawonga news'],
        'template_params' : {
            'link' : networkData.defaultBlogUrl ~ '/@yarrawonga'
        }
    },
    "corowa": {
        'title'     : "Corowa",
        'template': 'partials/index/section-24.twig',
        'blogs' : ['corowa news','corowa sport'],
        'articleOrder' : ['corowa news','corowa sport','corowa news','corowa news'],
        'template_params' : {
            'link' : networkData.defaultBlogUrl ~ '/@corowa'
        }
    }
} 

%}








{# The following list of blogs are required for each site to load the feeds #}

{# *******************************************************
                        COMMON
******************************************************* #}
{% set blogFeeds = {
        "echuca news":          { "limit" : 1},
        "echuca sport":         { "limit" : 1},
        "echuca social":        { "limit" : 1},
        "echuca lifestyle":     { "limit" : 1},
        "echuca entertainment": { "limit" : 1},
        "deniliquin news":      { "limit" : 2},
        "deniliquin opinion":   { "limit" : 1},
        "deniliquin sport":     { "limit" : 1},
        "deniliquin entertainment": { "limit" : 1},
        "finley news":          { "limit" : 2},
        "finley sport":         { "limit" : 1},
        "kyabram news":         { "limit" : 2},
        "kyabram sport":        { "limit" : 1},
        "benalla news":         { "limit" : 3},
        "benalla sport":        { "limit" : 1},
        "cobram news":          { "limit" : 3},
        "cobram sport":         { "limit" : 1},
        "seymour news":         { "limit" : 2},
        "seymour sport":        { "limit" : 1},
        "rochester news":       { "limit" : 3},
        "rochester sport":      { "limit" : 1},
        "heathcote news":       { "limit" : 2},
        "heathcote sport":      { "limit" : 1},
        "tatura news":          { "limit" : 2},
        "tatura sport":         { "limit" : 1},
        "yarrawonga news":      { "limit" : 3},
        "yarrawonga sport":     { "limit" : 1},
        "corowa news":          { "limit" : 3},
        "corowa sport":         { "limit" : 1}
    }
%}

{# MAKE THIS INTO AN ARRAY WHEN WE EXPAND #}

    {% set bannerSpots = [2,5,8] %}
    {% if site == ('shepparton' or 'shepp') %} 
        {%  set sectionOrder = ['echuca_0', 'deniliquin_0', 'finley', 'kyabram', 'benalla', 'cobram', 'seymour', 'rochester', 'heathcote', 'tatura', 'yarrawonga', 'corowa'] %}
    {% else %}
    {%  set sectionOrder = ['shepp','echuca_1', 'deniliquin_1', 'finley', 'kyabram', 'benalla', 'cobram', 'seymour', 'rochester', 'heathcote', 'tatura', 'yarrawonga', 'corowa'] %}
    {% endif %}



{# *******************************************************
                Fetch all needed feeds
******************************************************* #}
{% for key, value in blogFeeds %}
    {% for blog in networkData.networkBlogs %}


        {# FOR DEV  #}
        {% if dev %}
            {% set blogFeeds = blogFeeds | merge({
                (key) : { 'feed' : articlesArr, 'link' : '#' } }) %}
        {% endif %}


        {# FOR PRODUCTION #}
        {% if not dev and blog.title | lower == key | lower %}

            {% set feed = _Blog.getBlogFeed({'limit': blogFeeds[key]['limit'], 'offset': 0, 'blogid':blog.guid}) %}

            {% set blogFeeds = blogFeeds | merge({
                (key) : {
                    'feed'      : feed,
                    'link'      : blog.link
                    }
                }) %}

        {% endif %}
    {% endfor %}
{% endfor %}











<main id="main" class="site-main" role="main" data-blog="{{ homeBlog }}">


        <section class="container">
            <div class="row">
                <div class="col-sm-9 header">
                    <div class="hk hk__segment">
                        <h2>{{this.title}}</h2>
                        <p></p>
                    </div>
                </div>
            </div>
        </section>







    {# *******************************************************
                        RENDER SECTIONS
    ******************************************************* #}
    {% for pagesection in sectionOrder %}
        {% set params = {
            'section'   : pageSections[pagesection],
            'blogFeeds' : blogFeeds,
            'site'      : site,
            'dev'       : dev
        } %}
    
        {{this.render('render.twig', params) | raw}} 

        {% if loop.index in bannerSpots %}
            <div class="ad-container hidden-xs">
                <div class='advert-desktop advert-tablet' data-adsize="banner"></div>
            </div> 
            <div class="ad-square visible-xs-block col-sm-9">
                <div class="row"><hr class="divide"></div>
                <div class='advert-mobile' data-adsize="mrec"></div>
            </div>
        {% endif %}

    {% endfor %}



</main><!-- .site-main -->


