
{% set limit = 20 %}
{% set articles = _Search.searchArticles({'limit': limit, 'offset': 0, 'search': search, 'sortBy': 'published'}) %}
{% set firstCount = articles | length %}

{% set networkData = _Network.getNetworkData() %}
{% set site = networkData.title | lower | split(" ")[0]%}




<!-- used to index each article as we loop over throughout the template -->
{% set articleCount = 0 %}


    <main id="main" class="site-main searchPage" role="main">

        <section class="card-group">
            <div class="container">

                <div class="row">
                    <div class="col-sm-12 col-md-9">
                        <h1>Search Results</h1>
                    </div>
                </div>

                <div class="row" style="padding-bottom:25px;">
                    <div class="col-sm-9 col-md-6">
                        <h2>{{ articles | length }} Results found for ‘{{ search }}’</h2>
                        {% for article in articles %}                                                                
                            {{this.render('partials/_single-article.twig', {
                                article: article, 
                                position: (articleCount+1), 
                                imageSuppress: true,
                                site: site,
                                containerClass: 'search search-tablet search-mobile'}) | raw}}
                            {% set articleCount = articleCount + 1 %}
                        {% endfor %}
                    </div>



                    <div class="col-sm-3 col-md-3">
                        <div class="ad-square" >
                            <div class='advert-desktop advert-tablet advert-mobile' data-adsize="mrec"></div>
                        </div>
                    </div>



                    <div id="loadmore_section" class="col-sm-9 col-md-6 {{site}}">
                        {% if articles|length >= 2 %}

                            {{ this.render('/partials/ajaxarticles_new.twig', {
                                name            : "section-load",
                                label           : "",
                                buttonClass     : "u-display-none",
                            }) | raw }}
                        {% endif %}
                    </div>




                </div><!-- .row-->
            </div><!-- .container-->
        </section><!-- .top-stories-->
    </main><!-- .site-main -->

<script>
    // main script is defered so event listener makes sure
    // defered script is loaded before this runs
    document.addEventListener("DOMContentLoaded", function(event) {
        
        Acme.loadMore = new Acme.View.articleFeed({
            model           : new Card(),
            container       : 'loadmore_section',
            infinite        : true,
            offset          : {{limit}},
            limit           : 12,
            loadtype        : "api/search",
            searchterm      : "{{search}}",
            name            : 'section-load',
            card_class      : 'search search-tablet search-mobile',
            non_pinned      : {{articleCount}}
        });


    });
</script>
