{# {{this.registerJs("CardController();")}} #}
{{this.registerJs("Acme.cards = CardController();")}}

{% set limit = 20 %}
{% set articles = _Search.searchArticles({'limit': limit, 'offset': 0, 'search': search, 'sortBy': 'published'}) %}
{% set firstCount = articles | length %}

{% set networkData = _Network.getNetworkData() %}

                                                     {# renders the card    fetch-limit      fetch-offset    infinite scroll #}
                                                     {#            ↑             ↑                 ↑            ↑            #}
{{this.registerJs("Acme.searchFeed = new Acme.View.articleFeed(Acme.cards, " ~ limit ~ ", " ~ firstCount ~ ", true);")}}


<!-- used to index each article as we loop over throughout the template -->
{% set articleCount = 0 %}


    <main id="main" class="site-main searchPage" role="main">

        <section class="card-group">
            <div class="container">

                <div class="row">
                    <div class="col-sm-12 col-md-9">
                        <h1>Search Results</h1>
                    </div>
                </div>

                <div class="row" style="padding-bottom:25px;">
                    <div class="col-sm-9 col-md-6">
                        <h2>{{ articles | length }} Results found for ‘{{ search }}’</h2>
                        {% for article in articles %}                                                                
                            {{this.render('partials/_single-article.twig', {
                                article: article, 
                                position: (articleCount+1), 
                                imageSuppress: true,
                                containerClass: 'search search-tablet search-mobile'}) | raw}}
                            {% set articleCount = articleCount + 1 %}
                        {% endfor %}
                    </div>
                    <div class="col-sm-3 col-md-3">
                        <div class="ad-square" >
                            <div class="card__announcement-image google_ad google_ad_mrec text-center" id='div-gpt-ad-mrec-1'>
                                <script type='text/javascript'>
                                    googletag.cmd.push(function() { googletag.display('div-gpt-ad-mrec-1'); });
                                </script>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-9 col-md-6">
                        {% if articles|length >= limit %}
                        {{ this.render('partials/ajaxarticles.twig', {
                            offset      : limit,
                            limit       : 12, 
                            label       : "Show more",
                            card_class  : "search search-tablet search-mobile",
                            container   : "mainAjaxArticles",
                            loadtype    : "api/search",
                            searchTerm  : search
                        }) | raw }}
                        {% endif %}
                    </div>




                </div><!-- .row-->
            </div><!-- .container-->
        </section><!-- .top-stories-->
    </main><!-- .site-main -->

