{{ set(this, 'title', _Blog.getBlogTitle()) }}
{% set networkData = _Network.getNetworkData() %}


{{this.registerJs("CardController();")}}

{% set limit = 17 %}

{% set articlesArr = _Blog.getBlogFeed({'limit': limit, 'offset': 0}) %}
{% set articles = articlesArr.articles %}

{% set popularArticles = _Article.getPopularArticles({ limit: 10, sortBy: 'VIEWS', scope: 'blog' }) %}


<!-- used to index each article as we loop over throughout the template -->
{% set articleCount = _AppHelper.getApplicationEnv() == 'DEV' ? 0 : 0 %}
{% set popCount = _AppHelper.getApplicationEnv() == 'DEV' ? 0 : 0 %}
{% set dev = _AppHelper.getApplicationEnv() == 'DEV' ? true : false %}


    <main id="main" class="site-main" role="main">
        
        <div class="container">

            <section>
                <div class="row">
                    <div class="col-sm-9 header">
                        <div class="hk">
                            <h2>{{this.title}}</h2>
                            <p></p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                       {% if articles[articleCount] %}
                           {{this.render('partials/_single-article.twig', {
                               article: articles[articleCount],
                               position: articleCount + 1,
                               imageSize: {width:900},
                               containerClass: 'home-feature-sm home-feature-mobile'
                           }) | raw}}
                           {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
                       {% endif %}
            

                    </div>

                    <div class="col-sm-3">
                    
                        <div class="ad-square" style="margin-bottom:30px;"></div>

                         {% if articles[articleCount] %}
                             {{this.render('partials/_single-article.twig', {
                                 article: articles[articleCount], 
                                 imageSize: {width:160, height:190},
                                 position: articleCount + 1,
                                 containerClass: 'feature-side feature-side-tablet feature-side-mobile'
                             }) | raw}}

                            <hr class="divide visible-xs-block">

                            {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
                         {% endif %}
               
            

                    </div>
                </div>

                <div class="row row-space">

                    {% set divider = ['divideright', 'divideright', ''] %}
                    {% for i in 0..2 if articles[articleCount] %}
                        {{this.render('partials/_single-article.twig', {
                            article: articles[articleCount], 
                            imageSize: {width:160, height:190},
                            position: articleCount + 1,
                            containerClass: 'col-sm-3 feature-side feature-side-tablet feature-side-mobile ' ~ divider[i]
                        }) | raw}}
                        {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
                        <hr class="divide visible-xs-block">
                    {% endfor %}

                </div>
            </section>






            <section class="">
                <div class="row">
                    {% set split = ['split', 'split', 'clearfixed'] %}
                    {% for i in 0..2 if articles[articleCount] %}
                        {{this.render('partials/_single-article.twig', {
                            article: articles[articleCount], 
                            imageSize: {width:600, height:320},
                            containerClass: 'col-sm-3 card-sm-wide card-sm-wide-mobile ' ~ split[i]
                        }) | raw}}
                        {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
                    {% endfor %}

                </div>
            </section>




        </div>


        <div class="ad-container">
            <section class="advert advert-padding" style="background:gray;height:200px;"></section>
        </div>

        <div class="container">
            <section class="">
                <div class="row">
                    <div class="col-sm-6" style="margin-top:-35px;">
                        <div class="row">
                            {% set cardspace = ['', 'row-space40', 'row-space40'] %}
                            {% for i in 0..8 if articles[articleCount] %}

                                {% if i == 0 %}
                                    <div class="col-sm-3" style="padding-top:35px;">
                                {% else %}
                                    <div class="col-sm-3">
                                {% endif %}
                                    {{this.render('partials/_single-article.twig', {
                                        article: articles[articleCount], 
                                        imageSize: {width:190, height:160},
                                        containerClass: 'card-sm card-sm-mobile ' ~cardspace[i]
                                    }) | raw}}
                                    <hr class="divide visible-xs-block">
                                    <hr class="divide18 visible-md-block visible-lg-block space-only">

                                </div>

                                {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
                            {% endfor %}
                        </div>

                        {{ this.render('partials/ajaxarticles.twig', {
                            limit: limit, 
                            non_pinned: articlesArr.existingNonPinnedCount, 
                            articles: articles,
                            card_style: "card-sm card-sm-mobile row-space40",
                            container:"mainAjaxArticles",
                            border: "visible"
                        }) | raw }}

                    </div>  


                    <div class="col-sm-3 split trending">
                       <h2>Trending stories</h2>

                        {% for i in 0..3 if popularArticles[popCount] %}
                            {{this.render('partials/_single-article.twig', {
                                article: popularArticles[popCount], 
                                imageSize: {width:190, height:160},
                                containerClass: 'feature-side feature-side-tablet feature-side-mobile'
                            }) | raw}}

                            {% set popCount = (dev) ? popCount : popCount + 1 %}

                            <hr class="divide18 visible-md-block visible-lg-block">

                        {% endfor %}

                    </div>

                    <div class="col-sm-3">
                        <div class="ad-square clearfixed"></div>
                    </div>

                </div>

        </div>


    </main><!-- .site-main -->