{{ set(this, 'title', _Blog.getBlogTitle()) }}
{% set networkData = _Network.getNetworkData() %}


{{this.registerJs("CardController();")}}

{% set limit = 30 %}

{% set articlesArr = _Blog.getBlogFeed({'limit': limit, 'offset': 0}) %}
{% set articles = articlesArr.articles %}


<!-- used to index each article as we loop over throughout the template -->
{% set articleCount = _AppHelper.getApplicationEnv() == 'DEV' ? 0 : 0 %}
{% set dev = _AppHelper.getApplicationEnv() == 'DEV' ? true : false %}






    <main id="main" class="site-main" role="main">
        
        <div class="container">

            <section>
                <div class="row">
                    <div class="col-sm-9 header">
                        <div class="hk">
                            <h2>{{this.title}}</h2>
                            <p></p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                       {% if articles[articleCount] %}
                           {{this.render('partials/_single-article.twig', {
                               article: articles[articleCount],
                               position: articleCount + 1,
                               imageSize: {width:630},
                               containerClass: 'home-feature-sm home-feature-mobile'
                           }) | raw}}
                           {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
                       {% endif %}
            

                    </div>

                    <div class="col-sm-3">
                    
                        <div class="ad-square" style="margin-bottom:30px;"></div>

                         {% if articles[articleCount] %}
                             {{this.render('partials/_single-article.twig', {
                                 article: articles[articleCount], 
                                 imageSize: {width:80, height:95},
                                 position: articleCount + 1,
                                 containerClass: 'feature-side feature-side-tablet feature-side-mobile'
                             }) | raw}}

                            <hr class="divide visible-xs-block">

                            {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
                         {% endif %}
               
            

                    </div>
                </div>

                <div class="row row-space">

                    {% set divider = ['divideright', 'divideright', ''] %}
                    {% for i in 0..2 if articles[articleCount] %}
                        {{this.render('partials/_single-article.twig', {
                            article: articles[articleCount], 
                            imageSize: {width:80, height:95},
                            position: articleCount + 1,
                            containerClass: 'col-sm-3 feature-side feature-side-tablet feature-side-mobile ' ~ divider[i]
                        }) | raw}}
                        {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
                        <hr class="divide visible-xs-block">
                    {% endfor %}

                </div>
            </section>






            <section class="">
                <div class="row">
                    {% set split = ['split', 'split', 'clearfixed'] %}
                    {% for i in 0..2 if articles[articleCount] %}
                        {{this.render('partials/_single-article.twig', {
                            article: articles[articleCount], 
                            imageSize: {width:300, height:160},
                            containerClass: 'col-sm-3 card-sm-wide card-sm-wide-mobile ' ~ split[i]
                        }) | raw}}
                        {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
                    {% endfor %}

                </div>
            </section>




            <section class="advert" style="background:gray;height:200px;"></section>






            <section class="">
                <div class="row">
                    <div class="col-sm-2 split">
                        {% set cardspace = ['', 'row-space40', 'row-space40'] %}
                        {% for i in 0..2 if articles[articleCount] %}
                            {{this.render('partials/_single-article.twig', {
                                article: articles[articleCount], 
                                imageSize: {width:190, height:160},
                                containerClass: 'card-sm card-sm-mobile ' ~cardspace[i]
                            }) | raw}}
                            <hr class="divide visible-xs-block">

                            {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
                        {% endfor %}
                    </div>


                    <div class="col-sm-2">
                        {% set cardspace = ['', 'row-space40', 'row-space40'] %}

                        {% for i in 0..2 if articles[articleCount] %}
                            {{this.render('partials/_single-article.twig', {
                                article: articles[articleCount], 
                                imageSize: {width:190, height:160},
                                containerClass: 'card-sm card-sm-mobile ' ~cardspace[i]
                            }) | raw}}
                            <hr class="divide visible-xs-block">

                            {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
                        {% endfor %}
                    </div>



                    <div class="col-sm-2 split">
                        {% set cardspace = ['', 'row-space40', 'row-space40'] %}

                        {% for i in 0..2 if articles[articleCount] %}
                            {{this.render('partials/_single-article.twig', {
                                article: articles[articleCount], 
                                imageSize: {width:190, height:160},
                                containerClass: 'card-sm card-sm-mobile ' ~cardspace[i]
                            }) | raw}}
                            <hr class="divide visible-xs-block">

                            {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
                        {% endfor %}
                    </div>


                    <div class="col-sm-3 split">
                        {% for i in 0..3 if articles[articleCount] %}
                            {{this.render('partials/_single-article.twig', {
                                article: articles[articleCount], 
                                imageSize: {width:80, height:95},
                                containerClass: 'feature-side feature-side-tablet feature-side-mobile'
                            }) | raw}}

                            {% set articleCount = (dev) ? articleCount : articleCount + 1 %}

                            <hr class="divide24 visible-md-block visible-lg-block">
                            <hr class="divide visible-xs-block visible-sm-block">

                        {% endfor %}

                    </div>


                    <div class="ad-square col-sm-3 clearfixed"></div>

                </div>


        </div>


    </main><!-- .site-main -->