{{ set(this, 'title', _Blog.getBlogTitle()) }}
{% if (networkData is empty) %}
    {% set networkData = _Network.getNetworkData() %} 
    {% set cache = setCache("networkData", networkData, 500) %} 
{% endif %}


{% set site     = networkData.title | lower | split(" ")[0]%}
{% set blogData = _Blog.getBlog() %}


{% set limit = 25 %}

{% set articlesArr = _Blog.getBlogFeed({'limit': limit, 'offset': 0}) %}
{% set articles = articlesArr.articles %}
{% set firstCount = articles | length %}




{% set popularArticles = getCache("popularArticles") %}
{% if (popularArticles is empty) %}
{% set popularArticles = _Article.getPopularArticles({ limit: 4, scope: 'network' }) %} 
    {% set cache = setCache("popularArticles", popularArticles, 500) %} 
{% endif %}

<!-- used to index each article as we loop over throughout the template -->
{% set articleCount = _AppHelper.getApplicationEnv() == 'DEV' ? 0 : 0 %}
{% set popCount = _AppHelper.getApplicationEnv() == 'DEV' ? 0 : 0 %}
{% set dev = _AppHelper.getApplicationEnv() == 'DEV' ? false : false %}


{# Remove "AAP" from the section title unless "AAP" is the only word #}
{% set title = this.title %}
{% set splitTitle = title | split(" ") %}
{% if splitTitle | length > 1 and splitTitle[0] | lower == 'aap' %}
    {% set title = splitTitle | slice(1, length) | join(" ") %}
{% endif %}

{% set dev = true %}
{% set articlelock = false %}



<main id="main" class="site-main section-page__main" role="main" data-article-limit="{{limit}}" data-article-count="{{articles | length}}">
    
    <div class="container">


        <section>
            <div class="row">
                <div class="col-12  u-margin-bottom-30">
                    <div class="c-section-header">
                        <h2 class="c-section-header__h2 c-section-header__h2--more {{site}}">{{title}}</h2>
                    </div>
                </div>
            </div>



            <div class="row">
                <div class="col-12 col-lg-9">
                    <div class="row">
                        <div class="col-12 col-md-8">

                            {% if articles[articleCount] %}
                                {{this.render('partials/_single-article.twig', {
                                    imageSize       : {width:640, height:445},
                                    position        : articleCount + 1,
                                    lazyload        : false,
                                    article         : articles[articleCount],
                                    site            : site,
                                    dev             : dev,
                                    cardId          : "one",
                                    containerClass  : 'card-100-mobile card-100-tablet card-100-desktop-sm card-100-desktop-lg'
                                }) | raw}}
                                {% set articleCount = (articlelock) ? articleCount : articleCount + 1 %}
                            {% endif %}

                            <hr class="divide20-25 d-block d-lg-none" data-tag="pawn">

                        </div>

                        <div class="col-md-4 col-lg-4">
                            <div class="row">
                                {% if articles[articleCount] %}
                                    <div class="col-6 col-md-12 col-lg-12 u-mobile-padding-right-7">
                                        {{this.render('partials/_single-article.twig', {
                                            imageSize       : {width:235},
                                            position        : articleCount + 1,
                                            lazyload        : false,
                                            article         : articles[articleCount],
                                            site            : site,
                                            dev             : dev,
                                            cardId          : "two",
                                            containerClass  : 'card-102-mobile card-102-tablet card-102-desktop-sm card-102-desktop-lg'
                                        }) | raw}}
                                        {% set articleCount = (articlelock) ? articleCount : articleCount + 1 %}
                                        
                                        <hr class="divide20-25 d-none d-md-block" data-tag="rook">
                                    </div>
                                {% endif %}


                                {% if articles[articleCount] %}
                                <div class="col-6 col-md-12 col-lg-12 u-mobile-padding-left-7">
                                    {{this.render('partials/_single-article.twig', {
                                        imageSize       : {width:235},
                                        styleType       : "image-both",
                                        article         : articles[articleCount],
                                        position        : articleCount + 1,
                                        lazyload        : false,
                                        site            : site,
                                        dev             : dev,
                                        cardId          : "three",
                                        containerClass  : 'card-102-mobile card-102-tablet card-101-desktop-sm card-101-desktop-lg'
                                    }) | raw}}
                                    {% set articleCount = (articlelock) ? articleCount : articleCount + 1 %}
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>

                    <hr class="divide20-25 d-block d-md-none" data-tag="knight">

                </div>

                <div class="col-12 col-lg-3">

                    <div class="row">
                        <div class="col-12 col-md-6 col-lg-12 d-block d-md-none d-lg-block u-mobile-margin-bottom-30 u-desktop-margin-bottom-30">
                            <div class="ad-square mrec-min-height" data-view="Apple">
                                <div class='advert-desktop desktop-mrec' data-adsize="mrec"></div>
                                <div class='advert-tablet tablet-mrec' data-adsize="mrec"></div>
                                <div class='advert-mobile mobile-mrec' data-adsize="mrec"></div>
                            </div>
                        </div>


                        {% if articles[articleCount] %}
                        <div class="col-12 col-md-6 col-lg-12 u-tablet-margin-top-20 u-tablet-clear-both">
                            {{this.render('partials/_single-article.twig', {
                                imageSize       : {width:235},
                                position        : articleCount + 1,
                                styleType       : "image-both",
                                lazyload        : false,
                                article         : articles[articleCount],
                                site            : site,
                                dev             : dev,
                                cardId          : "four",
                                containerClass  : 'card-101-mobile card-101-tablet card-102-desktop-sm card-102-desktop-lg'
                            }) | raw}}
                            {% set articleCount = (articlelock) ? articleCount : articleCount + 1 %}
                            <hr class="divide20-25 d-block d-md-none" data-tag="knight">
                        </div>
                        {% endif %}


                        <div class="col-12 col-md-6 col-lg-12 d-none d-md-block d-lg-none">
                            <div class="ad-square mrec-min-height u-tablet-margin-top-20" data-view="Apple">
                                <div class='advert-desktop desktop-mrec' data-adsize="mrec"></div>
                                <div class='advert-tablet tablet-mrec' data-adsize="mrec"></div>
                                <div class='advert-mobile mobile-mrec' data-adsize="mrec"></div>
                            </div>
                        </div>

                    </div>
                </div>


                <div class="col-12">
                    <hr class="divide20-25 d-none d-md-block" data-tag="colonal">
                </div>

            </div>

            <div class="row">
                <div class="col-12">
                    <div class="ad-square banner-min-height banner-min-height u-desktop-margin-bottom-20" data-view="Apple">
                        <div class='advert-desktop desktop-banner' data-adsize="banner"></div>
                        <div class='advert-tablet tablet-banner' data-adsize="banner"></div>
                        <div class='advert-mobile mobile-banner' data-adsize="banner"></div>
                    </div>

                    <hr class="divide30-25" data-tag="bishop">

                </div>
            </div>






            <div class="row" data-tag="couch">
                <div class="col-12 col-lg-9">
                    <div class="row">
                        {% if articles[articleCount] %}
                        <div class="col-6 col-md-6 col-lg-4 u-mobile-padding-right-7">
                            {{this.render('partials/_single-article.twig', {
                                imageSize       : {width:235},
                                position        : articleCount + 1,
                                lazyload        : false,
                                article         : articles[articleCount],
                                site            : site,
                                dev             : dev,
                                cardId          : "five",
                                containerClass  : 'card-102-mobile card-102-tablet card-102-desktop-sm card-102-desktop-lg'
                            }) | raw}}
                            {% set articleCount = (articlelock) ? articleCount : articleCount + 1 %}
                            
                            <hr class="divide20-25 d-block d-lg-none">
                        </div>
                        {% endif %}


                        {% if articles[articleCount] %}
                        <div class="col-6 col-md-6 col-lg-4 u-mobile-padding-left-7">
                            {{this.render('partials/_single-article.twig', {
                                imageSize       : {width:235},
                                position        : articleCount + 1,
                                lazyload        : false,
                                article         : articles[articleCount],
                                site            : site,
                                dev             : dev,
                                cardId          : "six",
                                containerClass  : 'card-102-mobile card-102-tablet card-102-desktop-sm card-102-desktop-lg'
                            }) | raw}}
                            {% set articleCount = (articlelock) ? articleCount : articleCount + 1 %}
                            
                            <hr class="divide20-25 d-none d-md-block d-lg-none">
                        </div>
                        {% endif %}


                        {% if articles[articleCount] %}
                        <div class="col-6 col-md-6 col-lg-4 u-mobile-padding-right-7">
                            {{this.render('partials/_single-article.twig', {
                                imageSize       : {width:235},
                                position        : articleCount + 1,
                                lazyload        : false,
                                article         : articles[articleCount],
                                site            : site,
                                dev             : dev,
                                cardId          : "seven",
                                containerClass  : 'card-102-mobile card-102-tablet card-102-desktop-sm card-102-desktop-lg'
                            }) | raw}}
                            {% set articleCount = (articlelock) ? articleCount : articleCount + 1 %}
                            
                        </div>
                        {% endif %}

                        <div class="col-12 d-block d-md-none">
                            <hr class="divide20-25">
                        </div>




                        <div class="col-12 col-md-6 col-lg-4 u-mobile-margin-bottom-30">
                            <div class="ad-square mrec-min-height d-block d-lg-none" data-view="raspberry">
                                <div class='advert-desktop desktop-mrec' data-adsize="mrec"></div>
                                <div class='advert-tablet tablet-mrec' data-adsize="mrec"></div>
                                <div class='advert-mobile mobile-mrec' data-adsize="mrec"></div>
                            </div>
                        </div>


                    </div>

                    {# Trending tablet #}
                    <div class="row u-tablet-margin-top-30  d-none d-md-block d-lg-none">
                        <div class="col-12 col-md-12 col-lg-3" data-tag="trending tablet">
                        
                            <div class="c-section-header u-margin-bottom-20">
                                <a class="{{site}}" href="{{link}}">
                                    <h2 class="c-section-header__h2">Trending News tablet</h2>
                                </a>
                            </div>

                            <div class="row">
                                {% for i in 0..3 %}
                                    <div class="col-12 col-md-6 col-lg-12">

                                        <hr class="divide20-25 d-none d-lg-block">

                                        {% if i > 1 %}
                                            <hr class="divide20-25 d-none d-md-block d-lg-block">
                                        {% endif %}



                                        {{this.render('partials/_single-article.twig', {
                                            imageSize       : {width:95},
                                            styleType       : "image-bottom",
                                            article         : popularArticles[i],
                                            site            : site,
                                            dev             : dev,
                                            cardId          : "trending" ~ i,
                                            containerClass  : 'card-101-mobile card-101-tablet card-101-desktop-sm card-101-desktop-lg'
                                        }) | raw}}


                                        {# {% if i > 1 %}
                                            <hr class="divide20-25 d-none d-md-block d-lg-block">
                                        {% endif %} #}


                                    </div>
                                {% endfor %}
                                    <div class="col-12">
                                        <hr class="divide20-25 d-none d-md-block d-lg-block">
                                    </div>
                            </div>
                        
                        </div>
                    </div>



                    <div class="row" data-tag="table">
                        {% for i in 0..5 if articles[articleCount] %}
                            {% set mobilePadding = (i % 2 == 0) ? "u-mobile-padding-right-7" : "u-mobile-padding-left-7" %}
                            
                            
                            {% if i % 2 == 0 and i != 0 %}
                                <div class="col-12 d-block d-md-none">
                                    <hr class="divide20-25">
                                </div>
                            {% endif %}

                            <div class="col-6 col-md-4 col-lg-4 {{mobilePadding}}">

                                <hr class="divide20-25 d-none d-lg-block">

                                {% if i > 2 %}
                                    <hr class="divide20-25 d-none d-md-block d-lg-none">
                                {% endif %}

                                {{this.render('partials/_single-article.twig', {
                                    imageSize       : {width:235},
                                    position        : articleCount + 1,
                                    lazyload        : false,
                                    article         : articles[articleCount],
                                    site            : site,
                                    dev             : dev,
                                    cardId          : "twenty"~i,
                                    containerClass  : 'card-102-mobile card-102-tablet card-102-desktop-sm card-102-desktop-lg'
                                }) | raw}}
                                {% set articleCount = (articlelock) ? articleCount : articleCount + 1 %}
                                
                            </div>

                        {% endfor %}
                    </div>
                </div>




                {# Trending desktop #}
                <div class="col-12 col-lg-3 d-block d-md-none d-lg-block" data-tag="trending">
                    
                    <div class="ad-square mrec-min-height u-desktop-margin-bottom-40 d-none d-md-block" data-view="Cranberry">
                        <div class='advert-desktop desktop-mrec' data-adsize="mrec"></div>
                        <div class='advert-tablet tablet-mrec' data-adsize="mrec"></div>
                        <div class='advert-mobile mobile-mrec' data-adsize="mrec"></div>
                    </div>






                    <div class="c-section-header u-mobile-margin-top-30 u-margin-bottom-20">
                        <a class="{{site}}" href="{{link}}">
                            <h2 class="c-section-header__h2">Trending News</h2>
                        </a>
                    </div>

                    <div class="row">
                        {% for i in 0..3 %}
                            <div class="col-12 col-md-6 col-lg-12">
                                {{this.render('partials/_single-article.twig', {
                                    imageSize       : {width:95},
                                    styleType       : "image-bottom",
                                    article         : popularArticles[i],
                                    site            : site,
                                    dev             : dev,
                                    cardId          : "trending" ~ i,
                                    containerClass  : 'card-101-mobile card-101-tablet card-101-desktop-sm card-101-desktop-lg'
                                }) | raw}}
                                {% if i < 3 %}
                                    <hr class="divide20-25">
                                {% endif %}
                            </div>
                        {% endfor %}

                    </div>

                </div>


            </div>



            <div class="row" data-tag="bench">
                {% for i in 0..3 if articles[articleCount] %}
                    {% set mobilePadding = (i % 2 == 0) ? "u-mobile-padding-right-7" : "u-mobile-padding-left-7" %}

                    <div class="col-6 col-md-6 col-lg-3 {{mobilePadding}}">

                        <hr class="divide20-25">


                        {{this.render('partials/_single-article.twig', {
                            imageSize       : {width:235},
                            position        : articleCount + 1,
                            lazyload        : false,
                            article         : articles[articleCount],
                            site            : site,
                            dev             : dev,
                            cardId          : "bell"~i,
                            containerClass  : 'card-102-mobile card-102-tablet card-102-desktop-sm card-102-desktop-lg'
                        }) | raw}}
                        {% set articleCount = (articlelock) ? articleCount : articleCount + 1 %}
                        
                    </div>
                {% endfor %}
            </div>




            <div class="row">
                {% for i in 0..7 if articles[articleCount] %}
                    <div class="col-12 col-md-6 col-lg-3">

                        <hr class="divide20-25">


                        {{this.render('partials/_single-article.twig', {
                            imageSize       : {width:235},
                            position        : articleCount + 1,
                            styleType       : "image-bottom",
                            article         : articles[articleCount],
                            site            : site,
                            dev             : dev,
                            cardId          : "eight"~i,
                            containerClass  : 'card-101-mobile card-101-tablet card-101-desktop-sm card-101-desktop-lg'
                        }) | raw}}
                        {% set articleCount = (articlelock) ? articleCount : articleCount + 1 %}
                        
                    </div>
                {% endfor %}
            </div>





        <section class="row" id="loadmore_section" class="loadmore__section {{site}}"></section>
        
        <section class="loadmore__section {{site}}">
            {# {% if articles|length >= limit %} #}
                {{ this.render('/partials/ajaxarticles_new.twig', {
                    name            : "section-load",
                    label           : "",
                    buttonClass     : "u-display-none",
                }) | raw }}
            {# {% endif %} #}
        </section>


</main>


<script>
    // main script is defered so event listener makes sure
    // defered script is loaded before this runs
    document.addEventListener("DOMContentLoaded", function(event) {

        Acme.loadMore = new Acme.View.articleFeed({
            model           : new Card(),
            container       : 'loadmore_section',
            infinite        : true,
            offset          : {{limit}},
            limit           : 12,
            name            : 'section-load',
            blogid          : "{{ blogData['guid'] }}",
            card_class      : 'card-101-mobile card-101-tablet card-101-desktop-sm card-101-desktop-lg',
            ads             : true,
            beforeEach      : '<div class="col-12 col-md-6 col-lg-3"><hr class="divide20-25">',
            afterEach       : '</div>',
            non_pinned      : {{articleCount}}
        });


    });
</script>
