{{ set(this, 'title', _Blog.getBlogTitle()) }}
{% set networkData = _Network.getNetworkData() %}


{{this.registerJs("Acme.cardController = Acme.CardController();")}}
{{this.registerJs("Acme.SectionController();")}}

{% set limit = 17 %}

{% set articlesArr = _Blog.getBlogFeed({'limit': limit, 'offset': 0}) %}
{% set articles = articlesArr.articles %}

{% set popularArticles = _Article.getPopularArticles({ limit: 10, sortBy: 'VIEWS', scope: 'blog' }) %}


<!-- used to index each article as we loop over throughout the template -->
{% set articleCount = _AppHelper.getApplicationEnv() == 'DEV' ? 0 : 0 %}
{% set popCount = _AppHelper.getApplicationEnv() == 'DEV' ? 0 : 0 %}
{% set dev = _AppHelper.getApplicationEnv() == 'DEV' ? true : false %}


<main id="main" class="site-main" role="main" data-article-limit="{{limit}}" data-article-count="{{articles | length}}">
    
    <div class="container">

        <section>
            <div class="row">
                <div class="col-sm-9 header">
                    <div class="hk">
                        <h2>{{this.title}}</h2>
                        <p></p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 col-sm-9 col-xs-9">
                   {% if articles[articleCount] %}
                       {{this.render('partials/_single-article.twig', {
                           article: articles[articleCount],
                           position: articleCount + 1,
                           imageSize: {width:900},
                           containerClass: 'home-feature-sm home-feature-mobile'
                       }) | raw}}
                       {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
                   {% endif %}
        

                </div>

                <hr class="divide18 visible-sm-block visible-xs-block space-only col-sm-9">

                <div class="col-md-3 sm-two-cols">
                    <div class="row">
                
                        <div class="ad-square visible-md-block visible-lg-block col-sm-1 col-md-9" style="margin-bottom:15px;position:relative;">
                            <div class="card__announcement-image google_ad google_ad_mrec text-center" id='div-gpt-ad-mrec-1'>
                                <script type='text/javascript'>
                                    googletag.cmd.push(function() { googletag.display('div-gpt-ad-mrec-1'); });
                                </script>
                            </div>
                        </div>

                     {% if articles[articleCount] %}
                            <div class="col-sm-1 col-md-9 col-xs-9">
                                <hr class="divide18 visible-md-block visible-lg-block">                            
                                 {{this.render('partials/_single-article.twig', {
                                     article: articles[articleCount], 
                                     imageSize: {width:160, height:190},
                                     position: articleCount + 1,
                                     containerClass: 'feature-side feature-side-tablet card-sm-mobile '
                                 }) | raw}}
                                {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
                                <hr class="divide visible-xs-block">
                            </div>
                     {% endif %}

                    <!-- extra story for tablet, mobile -->
                     {% if articles[articleCount] %}
                            <div class="col-sm-1 col-md-9 col-xs-9 visible-sm-block visible-xs-block">
                                 {{this.render('partials/_single-article.twig', {
                                     article: articles[articleCount], 
                                     imageSize: {width:160, height:190},
                                     position: articleCount + 1,
                                     containerClass: 'feature-side feature-side-tablet card-sm-mobile divideright'
                                 }) | raw}}
                            </div>
                     {% endif %}

                    </div>
                </div>
            </div>

            <div class="row row-space sm-two-cols">

                {% set divider = ['visible-lg-block visible-md-block divideright', 'divideright', ''] %}
                {% for i in 0..2 if articles[articleCount] %}
                    <div class="col-sm-1 col-md-3 col-xs-9">
                        {{this.render('partials/_single-article.twig', {
                            article: articles[articleCount], 
                            imageSize: {width:160, height:190},
                            position: articleCount + 1,
                            containerClass: 'feature-side feature-side-tablet card-sm-mobile ' ~ divider[i]
                        }) | raw}}
                        {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
                        <hr class="divide visible-xs-block">
                    </div>
                {% endfor %}

            </div>
        </section>



        <section class="">
                <div class="row">
                        {% for i in 0..2 if articles[articleCount] %}
                            <div class="col-md-3 col-sm-3 col-xs-9 ">
                                {{this.render('partials/_single-article.twig', {
                                    article: articles[articleCount], 
                                    imageSize: {width:600, height:320},
                                    containerClass: 'card-sm-wide card-sm-wide-mobile'
                                }) | raw}}
                                <hr class="divide visible-xs-block">                    
                                {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
                            </div>
                        {% endfor %}
                </div>
        </section>
    </div>

    <div class="container">
        <section>
            <div class="row">
                <div class="col-md-6 col-sm-5 row" style="margin-top:35px;">
                    {% for i in 0..8 if articles[articleCount] %}

                        <div class="col-md-3 col-sm-9">
                            {{this.render('partials/_single-article.twig', {
                                article: articles[articleCount], 
                                imageSize: {width:190, height:160},
                                containerClass: 'card-sm feature-side-tablet card-sm-wide-mobile ' ~cardspace[i]
                            }) | raw}}
                            <hr class="divide visible-xs-block">
                            <hr class="divide18 visible-md-block visible-lg-block space-only">
                            <hr class="divide18 visible-sm-block">

                        </div>

                        {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
                    {% endfor %}

                    {{ this.render('partials/ajaxarticles.twig', {
                        offset: limit,
                        limit: 12,
                        non_pinned: articlesArr.existingNonPinnedCount, 
                        articles: articles,
                        card_style: "card-sm card-sm-mobile row-space40",
                        container:"mainAjaxArticles",
                        buttonClass: "infinite",
                        border: "visible"
                    }) | raw }}

                </div>

                <div class="col-md-3 col-sm-4 split trending" style="margin-top:20px;">
                   <h2>Trending stories</h2>

                    {% for i in 0..3 if popularArticles[popCount] %}
                        {{this.render('partials/_single-article.twig', {
                            article: popularArticles[popCount], 
                            imageSize: {width:190, height:160},
                            containerClass: 'feature-side feature-side-tablet card-sm-mobile'
                        }) | raw}}

                        {% set popCount = (dev) ? popCount : popCount + 1 %}

                        <hr class="divide18">

                    {% endfor %}

                    <div class="ad-large-vert visible-sm-block" style="position:absolute;">
                        <div id='div-gpt-ad-halfpage-ss' class="google_ad">
                            <script type='text/javascript'>
                                googletag.cmd.push(function() { googletag.display('div-gpt-ad-halfpage-ss'); });
                            </script>
                        </div>
                    </div>


                </div>

                <div class="col-md-3 visible-xs-block visible-md-block visible-lg-block">
                    <div class="ad-square clearfixed">
                        <div class="card__announcement-image google_ad google_ad_mrec text-center" id='div-gpt-ad-mrec-2'>
                            <script type='text/javascript'>
                                googletag.cmd.push(function() { googletag.display('div-gpt-ad-mrec-2'); });
                            </script>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main><!-- .site-main -->