{% set networkData = _Network.getNetworkData() %}
{% set site        = networkData.title | lower | split(" ")[0]%}

<main class="site-main">
    {{ set(this, 'title', 'User Profile') }}

    {% set profileImage =_Media.getMediaUrl(userDetails.media, 500, 500, {crop: 'thumb', gravity: 'face', type:'user'} )%}
    {{this.registerJs("$('.loginModal').loginModal({});")}}

    {% set myFollowers = _User.getFollowers(userDetails.guid) %}
    {% set myFollowings = _User.getFollowings(userDetails.guid) %}
    {% set myBlogs = _User.getBlogsFollowedByUser(userDetails.guid) %}

    <!-- Begin Container -->
    <section class="container">
        <div class="row">
            <!-- Begin User Profile -->
            <div class="col-profile-left col-sm-4 col-xs-12">
                <!-- Begin User Profile Sidebar -->
                <div class="profile-sidebar">
                    <div class="userprofile-sidebar-inner">
                        <img src="{{profileImage}}" class="img-responsive">
                        <div class="inner-descr">
                            <h2 class="user-name">{{Html.encode(userDetails.firstname)}} {{Html.encode(userDetails.lastname)}}</h2>
                            

                            <p class="bio">{{Html.decode(userDetails.bio) | raw}}</p>
                            <div class="user-social">
                                <a href="mailto:{{userDetails.email}}" class="share-icon email-icon" style="padding-left: 12px;"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- //End User Profile Sidebar -->
            </div>


            <div class="col-profile-right col-sm-8 col-xs-12 profile-details">
            
                {# there are no blogs on dairy news #}
                {% if 'dairy' not in (networkData.title | lower) %}
                    {{this.render('partials/user-profile/_user_blogs.twig', {userOwnerBlogs : userOwnerBlogs}) | raw }} 
                {% endif %}

                {{this.render('partials/user-profile/_recent_articles.twig', {
                    myArticles : myArticles, 
                    site:site,
                    articleCount: 0 }) | raw }}

            </div>
        </div>
    </section>
    <!-- //End Container -->
</main>
