{{ set(this, 'title', 'User Profile') }}

{% set networkData = _Network.getNetworkData() %}
{% set site        = networkData.title | lower | split(" ")[0]%}

{% set limit = 20 %}

{% set firstCount = userArticles | length %}

{{this.registerJs("Acme.cards = CardController();")}}

                                                     {# renders the card    fetch-limit      fetch-offset    infinite scroll #}
                                                     {#            ↑             ↑                 ↑            ↑            #}
{{this.registerJs("Acme.searchFeed = new Acme.View.articleFeed(Acme.cards, " ~ limit ~ ", " ~ firstCount ~ ", true);")}}







{% set profileImage =_Media.getMediaUrl(user.media, 500, 500, {crop: 'thumb', gravity: 'face', type:'user'} )%}
{{this.registerJs("$('.loginModal').loginModal({});")}}

<main class="site-main">

    <!-- Begin Container -->
    <section class="container">
        <div class="row">
            <!-- Begin User Profile -->
            <div class="col-profile-left col-sm-4 col-xs-12">
                <!-- Begin User Profile Sidebar -->
                <div class="profile-sidebar">
                    <div class="userprofile-sidebar-inner">
                        <img src="{{profileImage}}" class="img-responsive">
                        <div class="inner-descr">
                            <h2 class="user-name">{{Html.encode(user.firstname)}} {{Html.encode(user.lastname)}}</h2>
                            

                            <p class="bio">{{Html.decode(user.bio) | raw}}</p>
                            <div class="user-social">
                                <a href="mailto:{{user.email}}" class="share-icon email-icon" style="padding-left: 12px;"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- //End User Profile Sidebar -->
            </div>


            <div class="col-profile-right col-sm-8 col-xs-12 profile-details">
                <div class="row">
                    <div class="col-sm-9 section-header">

                        {% for i in 0..17 if userArticles[i] %}

                            <div class="col-md-3 col-sm-9">
                                {{this.render('partials/_single-article.twig', {
                                    article: userArticles[i], 
                                    imageSize: {width:190, height:160},
                                    site:site,
                                    containerClass: 'card-sm feature-side-tablet card-sm-wide-mobile'
                                }) | raw}}
                                <hr class="divide18 visible-md-block visible-lg-block space-only">
                            </div>
                        {% endfor %}

{#                         {% for i in 0..19 %}
                            {% if userArticles[i] %}                                                                
                                {{this.render('partials/_single-article.twig', {
                                    article: userArticles[articleCount], 
                                    position: (articleCount+1), 
                                    containerClass: 'col-sm-6 col-md-3 card-vr s360x215 userpost'
                                }) | raw}}
                                {% set articleCount = articleCount + 1 %}
                            {% endif %}
                        {% endfor %}
 #}                    </div>
                </div>


                <section style="margin-top:55px;">
                    <div class="row">
                        <div class="col-md-9">
                            {% if userArticles|length >= limit %}
                                {{ this.render('partials/ajaxarticles.twig', {
                                    offset          : limit,
                                    limit           : 12,
                                    name            : "user-load",
                                    loadtype        : 'user',
                                    card_class      : "card-sm feature-side-tablet card-sm-wide-mobile",
                                    container       : "mainAjaxArticlescardClass",
                                    buttonClass     : "infinite",
                                    before          : '<div class="col-md-3 col-sm-9">',
                                    after           : '<hr class="divide18 visible-md-block visible-lg-block space-only"></div>'
                                }) | raw }}
                            {% endif %}
                      </div>
                    </div>
                </section>
            </div>
        </div>
    </section>
    <!-- //End Container -->
</main>
