{{ set(this, 'title', 'User Profile') }}

{% set networkData = _Network.getNetworkData() %}
{% set site        = networkData.title | lower | split(" ")[0]%}

{% set limit = 18 %}


{% set profileImage =_Media.getMediaUrl(user.media, 220, 190, {crop: 'thumb', gravity: 'face', type:'user'} )%}

<main class="site-main">

    <!-- Begin Container -->
    <section class="container">
        <div class="row u-margin-top-60">
            <!-- Begin User Profile -->
            <div class="col-profile-left col-12 col-md-3 ">
                <!-- Begin User Profile Sidebar -->
                <div class="profile-sidebar">
                    <img src="{{profileImage}}" class="profile-sidebar__img img-responsive">
                    <div class="profile-sidebar__bio-container">
                        <h2 class="profile-sidebar__name">{{Html.encode(user.firstname)}} {{Html.encode(user.lastname)}}</h2>
                        

                        <p class="profile-sidebar__bio">{{Html.decode(user.bio) | raw}}</p>
                        <div class="profile-sidebar__social">
                            <a href="mailto:{{user.email}}" class="share-icon email-icon" style="padding-left: 12px;"></a>
                        </div>
                    </div>
                </div>
                <!-- //End User Profile Sidebar -->
            </div>


            <div class="col-profile-right col-12 col-md-8 profile-details">
                <div id="loadmore_section"  class="row">
                    {% for i in 0..17 if userArticles[i] %}

                        <div class="col-6 col-md-6 col-lg-4">
                            {{this.render('partials/_single-article.twig', {
                                article: userArticles[i], 
                                imageSize: {width:190, height:160},
                                site:site,
                                containerClass: 'card-102-mobile card-102-tablet card-102-desktop-sm card-102-desktop-lg'
                            }) | raw}}
                            <hr class="divide20-25 ">
                        </div>
                        

                    {% endfor %}

                </div>


                <section style="margin-top:55px;">
                    <div class="row">
                        <div class="col-12 col-lg-9">
                            {% if userArticles|length >= limit %}

                                {{ this.render('partials/ajaxarticles_new.twig', {
                                    name            : "user-load",
                                    label           : "",
                                    buttonClass     : "u-display-none",
                                }) | raw }}

                            {% endif %} 
                      </div>
                    </div>
                </section>
            </div>
        </div>
    </section>
    <!-- //End Container -->
</main>


<script>
    // main script is defered so event listener makes sure
    // defered script is loaded before this runs'
    //var blogLoadmore = true;
    document.addEventListener("DOMContentLoaded", function(event) {

        Acme.loadMore = new Acme.View.articleFeed({
            model           : new Card(),
            infinite        : true,
            container       : 'loadmore_section',
            offset          : {{limit}},
            limit           : {{limit}},
            beforeEach      : '<div class="col-6 col-md-6 col-lg-4">',
            afterEach       : '<hr class="divide20-25"></div>',
            loadtype        : 'user_articles',
            name            : 'user-load',
            card_class      : 'card-102-mobile card-102-tablet card-102-desktop-sm card-102-desktop-lg',
            non_pinned      : {{ userArticles|length }}
        });

    });
</script>
