{% set articleCount = 0 %}

<section>
    <div class="row" data-template="panel-10">
        <div class="col-sm-12">
            <div class="c-section-header  u-margin-top-30">
                <a class="{{site}}" href="{{link}}">
                    <h2 class="c-section-header__h2 {{site}}">{{title}}</h2>
                </a>
            </div>
        </div>
    </div>

    <div class="row u-margin-top-30">

        <div class="col-sm-12 col-md-6">
            <div class="row">
                {% for i in 0..1 if articles[articleCount] %}
                    <div class="col-sm-6">
                    {{this.render('../_single-article.twig', {
                        article         : articles[articleCount],
                        imageSize       : {width:300, height:200},
                        site            : site,
                        containerClass  : 'card-105-mobile card-105-tablet card-105-desktop-sm card-105-desktop-lg'
                    }) | raw}}
                    {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
                    {% if i < 2 %}
                        <hr class="divide25-30 visible-sm-block">
                    {% endif %}
                   </div>
                {% endfor %}
            </div>
        </div>


        <div class="col-sm-12 col-md-6">
            <div class="row">
                {% for i in 0..1 if articles[articleCount] %}
                    <div class="col-sm-6">
                    {{this.render('../_single-article.twig', {
                        article         : articles[articleCount],
                        imageSize       : {width:300, height:200},
                        site            : site,
                        containerClass  : 'card-105-mobile card-105-tablet card-105-desktop-sm card-105-desktop-lg'
                    }) | raw}}
                    {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
                   </div>
                {% endfor %}
            </div>
        </div>
    </div>

</section>
