{% set articleCount = 0 %}


<div class="col-sm-12 col-md-9">
    <div class="row u-margin-bottom-30 " data-template="panel-11">

        <div class="col-sm-12">
            <div class="c-section-header  u-margin-top-30">
                <a class="{{site}}" href="{{link}}">
                    <h2 class="c-section-header__h2 {{site}}">{{title}}</h2>
                </a>
            </div>
        </div>
    </div>

    <div class="row">

        {% for i in 0..2 if articles[articleCount] %}
            <div class="col-sm-4 col-md-4">
                {{this.render('../_single-article.twig', {
                    article         : articles[articleCount],
                    site            : site,
                    containerClass  : 'card-103-mobile card-103-tablet card-103-desktop-sm card-103-desktop-lg'
                }) | raw}}
                {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
                {% if i < 2 %}
                    <hr class="divide25-30 visible-xs-block">
                {% endif %}
            </div>
        {% endfor %}
    </div>


    <div class="row">
        <div class="col-sm-12">
            <hr class="divide25-30">
        </div>
    </div>

    <div class="row">
        {% for i in 0..1 if articles[articleCount] %}
            {% set pushClass = '' %}
            {% set marginClass = '' %}
            {% if i == 0 %}
                {% set pushClass = "u-desktop-borderElem--right" %}
                {% set marginClass = "u-desktop-padding-right-20" %}
            {% endif %}
            {% if i == 1 %}
                {#{% set pushClass="col-sm-offset-1" %}#}
                {% set marginClass = "u-desktop-padding-left-30" %}
            {% endif %}
            <div class="col-sm-6 {{pushClass}} {{marginClass}}">
                {{this.render('../_single-article.twig', {
                    article         : articles[articleCount],
                    imageSize       : {width:90, height:90},
                    imageSource     : 'author',
                    site            : site,
                    containerClass  : 'card-106-mobile card-106-tablet card-106-desktop-sm card-106-desktop-lg'
                }) | raw}}
                {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
                {% if i < 1 %}
                    <hr class="divide25-30 visible-xs-block">
                {% endif %}
            </div>

        {% endfor %}

    </div>
</div>



