{% set articleCount = 0 %}
{% set cardIndex = 1 %}
{% set dev = true %}
{% set articlelock = false %}

<div class="row">
    <div class="col-sm-12">


        <div class="row u-margin-bottom-20" data-template="panel-18">
            <div class="col-sm-12">
                <div class="c-section-header">
                    <a class="{{site}}" href="{{link}}">
                        <h2 class="c-section-header__h2 {{site}}">{{title}}</h2>
                    </a>
                </div>
            </div>
        </div>




        <div class="row" data-template="panel-18">

            <div class="col-sm-12 col-md-6">
                <div class="row">
                    <div class="col-sm-6 col-md-6">


                        <div class="row">
                            {# Cards 1,2,3 #}
                            {% for i in 0..2 if articles[articleCount] %}
                                {% set dividerClass = "" %}
                                {% set mobileColumn = "" %}
                                {% set mobileCard = "card-101-mobile" %}

                                {% if i == 2 %}
                                    {% set dividerClass = "u-mobile-clear-both" %}
                                {% endif %}
                                {% if i < 2 %}
                                    {% set mobileColumn = "col-xs-6" %}
                                    {% set mobileCard = "card-102-mobile "%}
                                {% endif %}

                                <div class="{{mobileColumn}} {{dividerClass}} col-sm-12">
                                    {{this.render('../_single-article.twig', {
                                        article         : articles[articleCount],
                                        styleType       : "image-bottom",
                                        position        : cardIndex,
                                        imageSize       : {width:95, height:95},
                                        site            : site,
                                        dev             : dev,
                                        cardId          : "one" ~ i,
                                        containerClass  : mobileCard ~ ' card-101-tablet card-101-desktop-sm card-101-desktop-lg'
                                    }) | raw}}
                                    {% set articleCount = (articlelock) ? articleCount : articleCount + 1 %}
                                    {% set cardIndex = cardIndex + 1 %}

                                    {% if loop.index != 3  %}
                                        <hr class="divide20-25 hidden-xs">
                                    {% endif %}
                                    {% if loop.index == 3  %}
                                        <hr class="divide20-25 visible-xs-block visible-sm-block">
                                    {% endif %}
                                </div>

                                {% if loop.index == 2  %}
                                    <div class="col-xs-12">
                                        <hr class="divide20-25 visible-xs-block">
                                    </div>
                                {% endif %}

                            {% endfor %}

                        </div>
                    </div>







                    <div class="col-sm-6 col-md-6">
                        <div class="row">
                            {# Cards 4,5,6 #}
                            {% for i in 0..2 if articles[articleCount] %}
                                {% set mobilePadding = ["u-mobile-padding-right-7", "u-mobile-padding-left-7", ""] %}

                                {% set dividerClass = "" %}
                                {% set mobileColumn = "" %}
                                {% set mobileCard = "card-101-mobile" %}

                                {% if i == 2 %}
                                    {% set dividerClass = "u-mobile-clear-both" %}
                                {% endif %}
                                {% if i < 2 %}
                                    {% set mobileColumn = "col-xs-6" %}
                                    {% set mobileCard = "card-102-mobile "%}
                                {% endif %}

                                <div class="{{mobileColumn}} {{dividerClass}} col-sm-12 {{mobilePadding[i]}}">
                                    {{this.render('../_single-article.twig', {
                                        article         : articles[articleCount],
                                        position        : cardIndex,
                                        styleType       : "image-bottom",
                                        imageSize       : {width:95, height:95},
                                        site            : site,
                                        dev             : dev,
                                        cardId          : "two" ~ i,
                                        containerClass  : mobileCard ~ ' card-101-tablet card-101-desktop-sm card-101-desktop-lg'
                                    }) | raw}}
                                    {% set articleCount = (articlelock) ? articleCount : articleCount + 1 %}
                                    {% set cardIndex = cardIndex + 1 %}

                                    {% if loop.index != 3  %}
                                        <hr class="divide20-25 hidden-xs">
                                    {% endif %}
                                    {% if loop.index == 3  %}
                                        <hr class="divide20-25 visible-xs-block visible-sm-block">
                                    {% endif %}
                                </div>

                                {% if loop.index == 2  %}
                                    <div class="col-xs-12">
                                        <hr class="divide20-25 visible-xs-block">
                                    </div>
                                {% endif %}

                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>














            <div class="col-sm-12 col-md-6">
                <div class="row">

                    <div class="col-sm-6 col-md-6">
                        <div class="row">
                            {# Cards 7,8,9 #}
                            {% for i in 0..2 if articles[articleCount] %}
                                {% set mobilePadding = ["u-mobile-padding-right-7", "u-mobile-padding-left-7", ""] %}

                                {% set dividerClass = "" %}
                                {% set mobileColumn = "" %}
                                {% set mobileCard = "card-101-mobile" %}

                                {% if i == 2 %}
                                    {% set dividerClass = "u-mobile-clear-both" %}
                                {% endif %}
                                {% if i < 2 %}
                                    {% set mobileColumn = "col-xs-6" %}
                                    {% set mobileCard = "card-102-mobile "%}
                                {% endif %}

                                <div class="{{mobileColumn}} {{dividerClass}} col-sm-12 {{mobilePadding[i]}}">
                                    {{this.render('../_single-article.twig', {
                                        article         : articles[articleCount],
                                        styleType       : "image-bottom",
                                        position        : cardIndex,
                                        imageSize       : {width:95, height:95},
                                        site            : site,
                                        dev             : dev,
                                        cardId          : "three" ~ i,
                                        containerClass  : mobileCard ~ ' card-101-tablet card-101-desktop-sm card-101-desktop-lg'
                                    }) | raw}}
                                    {% set articleCount = (articlelock) ? articleCount : articleCount + 1 %}
                                    {% set cardIndex = cardIndex + 1 %}

                                    {% if loop.index != 3  %}
                                        <hr class="divide20-25 hidden-xs">
                                    {% endif %}
                                    {% if loop.index == 3  %}
                                        <hr class="divide20-25 visible-xs-block">
                                    {% endif %}
                                </div>

                                {% if loop.index == 2  %}
                                    <div class="col-xs-12">
                                        <hr class="divide20-25 visible-xs-block">
                                    </div>
                                {% endif %}

                            {% endfor %}
                        </div>
                    </div>



                    <div class="col-sm-6 col-md-6">
                        <div class="row">
                            {# Cards 10, 11, 12 #}
                            {% for i in 0..2 if articles[articleCount] %}
                                {% set mobilePadding = ["u-mobile-padding-right-7", "u-mobile-padding-left-7", ""] %}
                                {% set dividerClass = "" %}
                                {% set mobileColumn = "" %}
                                {% set mobileCard = "card-101-mobile" %}

                                {% if i == 2 %}
                                    {% set dividerClass = "u-mobile-clear-both" %}
                                {% endif %}
                                {% if i < 2 %}
                                    {% set mobileColumn = "col-xs-6" %}
                                    {% set mobileCard = "card-102-mobile "%}
                                {% endif %}

                                <div class="{{mobileColumn}} {{dividerClass}} col-sm-12 {{mobilePadding[i]}}">
                                    {{this.render('../_single-article.twig', {
                                        article         : articles[articleCount],
                                        styleType       : "image-bottom",
                                        position        : cardIndex,
                                        imageSize       : {width:95, height:95},
                                        site            : site,
                                        dev             : dev,
                                        cardId          : "four" ~ i,
                                        containerClass  : mobileCard ~ ' card-101-tablet card-101-desktop-sm card-101-desktop-lg'
                                    }) | raw}}
                                    {% set articleCount = (articlelock) ? articleCount : articleCount + 1 %}
                                    {% set cardIndex = cardIndex + 1 %}

                                    {% if loop.index != 3  %}
                                        <hr class="divide20-25 hidden-xs">
                                    {% endif %}
                                </div>

                                {% if loop.index == 2  %}
                                    <div class="col-xs-12">
                                        <hr class="divide20-25 visible-xs-block">
                                    </div>
                                {% endif %}

                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
