{% set articleCount = 0 %}

<section>
    <div class="row" data-template="panel-10">
        <div class="col-sm-12">
            <div class="c-section-header  u-margin-top-30">
                <a class="{{site}}" href="{{link}}">
                    <h2 class="c-section-header__h2 {{site}}">{{title}}</h2>
                </a>
            </div>
        </div>
    </div>

    <div class="row u-margin-top-30">

        {% for i in 0..3 if articles[articleCount] %}
            <div class="col-sm-6 col-md-3">
            {{this.render('../_single-article.twig', {
                article         : articles[articleCount], 
                imageSize       : {width:300, height:160},
                site            : site,
                containerClass  : 'card-105-mobile card-105-tablet card-105-desktop-sm card-105-desktop-lg'
            }) | raw}}
            {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
            {% if i < 2 %}
                <hr class="divide25-40 visible-sm-block">
            {% endif %}
           </div> 
        {% endfor %}

    </div>
</section>