{% set dev = false %}
{% set articlelock = false %}


<div class="row">

    <div class="col-sm-12">

        <div class="row u-margin-bottom-20" data-template="panel-20">
            <div class="col-sm-12">
                <div class="c-section-header">
                    <a class="{{site}}" href="{{link}}">
                        <h2 class="c-section-header__h2 {{site}}">{{title}}</h2>
                    </a>
                </div>
            </div>
        </div>



        <div class="row" data-template="panel-20">
            
            <div class="col-sm-6 col-md-3">
                <div class="row">

                    <div class="col-xs-6 col-sm-12 col-md-12 u-mobile-padding-right-7">
                        {{this.render('../_single-article.twig', {
                            article         : articles[0],
                            position        : 1,
                            imageSize       : {width:300, height:235},
                            site            : site,
                            dev             : dev,
                            cardId          : "one",
                            containerClass  : "card-102-mobile card-112-tablet card-102-desktop-sm card-102-desktop-lg"
                        }) | raw}}
                        <hr class="divide20-25 hidden-xs">
                    </div>


                    {# card 2 on MOBILE #}
                    <div class="col-xs-6 col-sm-12 col-md-12 visible-xs-block u-mobile-padding-left-7">
                        {{this.render('../_single-article.twig', {
                            article         : articles[1],
                            position        : 2,
                            imageSize       : {width:300, height:235},
                            site            : site,
                            dev             : dev,
                            cardId          : "two",
                            containerClass  : "card-102-mobile card-112-tablet card-102-desktop-sm card-102-desktop-lg"
                        }) | raw}}
                        <hr class="divide20-25 hidden-xs">
                    </div>



                    {# cards 3 on TABLET #}
                    <div class="col-sm-12 col-md-12 visible-sm-block">
                        {{this.render('../_single-article.twig', {
                            article         : articles[2],
                            position        : 3,
                            imageSize       : {width:300, height:235},
                            site            : site,
                            dev             : dev,
                            cardId          : "three",
                            containerClass  : "card-102-mobile card-112-tablet card-102-desktop-sm card-102-desktop-lg"
                        }) | raw}}

                        <hr class="divide20-25 hidden-xs">
                    </div>

                    {# cards 5 on TABLET #}
                    <div class="col-sm-12 col-md-12 visible-sm-block">
                        {{this.render('../_single-article.twig', {
                            article         : articles[4],
                            position        : 5,
                            styleType       : "image-bottom",
                            imageSize       : {width:95, height:95},
                            site            : site,
                            dev             : dev,
                            cardId          : "four",
                            containerClass  : "card-101-mobile card-101-tablet card-101-desktop-sm card-101-desktop-lg"
                        }) | raw}}

                        <hr class="divide20-25 hidden-xs">
                    </div>


                    {# cards 7 on TABLET #}
                    <div class="col-sm-12 col-md-12 visible-sm-block">
                        {{this.render('../_single-article.twig', {
                            article         : articles[6],
                            position        : 7,
                            styleType       : "image-bottom",
                            imageSize       : {width:95, height:95},
                            site            : site,
                            dev             : dev,
                            cardId          : "five",
                            containerClass  : "card-101-mobile card-101-tablet card-101-desktop-sm card-101-desktop-lg"
                        }) | raw}}
                    </div>


                    {# cards 5 on DESKTOP #}
                    <div class="col-sm-12 col-md-12 hidden-xs hidden-sm">
                        {{this.render('../_single-article.twig', {
                            article         : articles[4],
                            position        : 5,
                            styleType       : "image-bottom",
                            imageSize       : {width:95, height:95},
                            site            : site,
                            dev             : dev,
                            cardId          : "six",
                            containerClass  : "card-101-mobile card-101-tablet card-101-desktop-sm card-101-desktop-lg"
                        }) | raw}}
                    </div>
                </div>

                <div class="row visible-xs-block">
                    <div class="col-xs-12">
                        <hr class="divide20-25">
                    </div>
                </div>

            </div>







            <div class="col-sm-6 col-md-3">
                <div class="row">
                    {# cards 2 #}
                    <div class="col-sm-12 col-md-12 hidden-xs" data-wtd="fuck">
                        {{this.render('../_single-article.twig', {
                            article         : articles[1],
                            position        : 2,
                            imageSize       : {width:300, height:235},
                            site            : site,
                            dev             : dev,
                            cardId          : "seven",
                            containerClass  : "card-102-mobile card-112-tablet card-102-desktop-sm card-102-desktop-lg"
                        }) | raw}}
                        <hr class="divide20-25 hidden-xs">
                    </div>
                    
                    {# card 3 on MOBILE #}
                    <div class="col-xs-6 col-sm-12 col-md-12 visible-xs-block u-mobile-padding-right-7">
                        {{this.render('../_single-article.twig', {
                            article         : articles[2],
                            position        : 3,
                            imageSize       : {width:300, height:235},
                            site            : site,
                            dev             : dev,
                            cardId          : "eight",
                            containerClass  : "card-102-mobile card-112-tablet card-102-desktop-sm card-102-desktop-lg"
                        }) | raw}}
                        <hr class="divide20-25 hidden-xs">
                    </div>

                    {# cards 4 on MOBILE/TABLET #}
                    <div class="col-xs-6 col-sm-12 col-md-12 hidden-md hidden-lg u-mobile-padding-left-7">
                        {{this.render('../_single-article.twig', {
                            article         : articles[3],
                            position        : 4,
                            site            : site,
                            dev             : dev,
                            cardId          : "nine",
                            containerClass  : "card-102-mobile card-112-tablet card-102-desktop-sm card-102-desktop-lg"
                        }) | raw}}
                        <hr class="divide20-25 hidden-xs">
                    </div>



                    {# card 6 on TABLET #}
                    <div class="col-sm-12 col-md-12 visible-sm-block">
                        {{this.render('../_single-article.twig', {
                            article         : articles[5],
                            position        : 6,
                            styleType       : "image-bottom",
                            imageSize       : {width:95, height:95},
                            site            : site,
                            dev             : dev,
                            cardId          : "ten",
                            containerClass  : "card-101-mobile card-101-tablet card-101-desktop-sm card-101-desktop-lg"
                        }) | raw}}
                        <hr class="divide20-25 hidden-xs">
                    </div>

                    {# card 8 on TABLET #}
                    <div class="col-sm-12 col-md-12 visible-sm-block" data-w="wow">
                        {{this.render('../_single-article.twig', {
                            article         : articles[7],
                            position        : 8,
                            styleType       : "image-bottom",
                            imageSize       : {width:95, height:95},
                            site            : site,
                            dev             : dev,
                            cardId          : "eleven",
                            containerClass  : "card-101-mobile card-101-tablet card-101-desktop-sm card-101-desktop-lg"
                        }) | raw}}
                    </div>



                    {# card 6 on DESKTOP #}
                    <div class="col-sm-12 col-md-12 hidden-xs hidden-sm">
                        {{this.render('../_single-article.twig', {
                            article         : articles[5],
                            position        : 6,
                            styleType       : "image-bottom",
                            imageSize       : {width:95, height:95},
                            site            : site,
                            dev             : dev,
                            cardId          : "twelve",
                            containerClass  : "card-101-mobile card-101-tablet card-101-desktop-sm card-101-desktop-lg"
                        }) | raw}}
                    </div>
                </div>
                <div class="row visible-xs-block">
                    <div class="col-xs-12">
                        <hr class="divide20-25">
                    </div>
                </div>

            </div>











            <div class="col-sm-6 col-md-3 hidden-sm">
                <div class="row">

                    <div class="col-sm-12 col-md-12 hidden-xs">
                        {{this.render('../_single-article.twig', {
                            article         : articles[2],
                            position        : 3,
                            imageSize       : {width:300, height:235},
                            site            : site,
                            dev             : dev,
                            cardId          : "thirteen",
                            containerClass  : "card-102-mobile card-112-tablet card-102-desktop-sm card-102-desktop-lg"
                        }) | raw}}
                        <hr class="divide20-25 hidden-xs">
                    </div>
                    
                    <div class="col-sm-12 col-md-12 visible-xs-block">
                        {{this.render('../_single-article.twig', {
                            article         : articles[4],
                            position        : 5,
                            styleType       : "image-bottom",
                            imageSize       : {width:95, height:95},
                            site            : site,
                            dev             : dev,
                            cardId          : "fouteen",
                            containerClass  : "card-101-mobile card-101-tablet card-101-desktop-sm card-101-desktop-lg"
                        }) | raw}}
                        <hr class="divide20-25">
                    </div>


                    <div class="col-sm-12 col-md-12 visible-xs-block">
                        {{this.render('../_single-article.twig', {
                            article         : articles[5],
                            position        : 6,
                            styleType       : "image-bottom",
                            imageSize       : {width:95, height:95},
                            site            : site,
                            dev             : dev,
                            cardId          : "fifteen",
                            containerClass  : "card-101-mobile card-101-tablet card-101-desktop-sm card-101-desktop-lg"
                        }) | raw}}
                        <hr class="divide20-25">
                    </div>



                    <div class="col-sm-12 col-md-12">
                        {{this.render('../_single-article.twig', {
                            article         : articles[6],
                            position        : 7,
                            styleType       : "image-bottom",
                            imageSize       : {width:95, height:95},
                            site            : site,
                            dev             : dev,
                            cardId          : "sixteen",
                            containerClass  : "card-101-mobile card-101-tablet card-101-desktop-sm card-101-desktop-lg"
                        }) | raw}}
                        <hr class="divide20-25 visible-xs-block">

                    </div>
                </div>
            </div>








            <div class="col-sm-6 col-md-3 hidden-sm">
                <div class="row">

                    <div class="col-sm-12 col-md-12 hidden-xs">
                        {{this.render('../_single-article.twig', {
                            article         : articles[3],
                            position        : 4,
                            imageSize       : {width:300, height:235},
                            site            : site,
                            dev             : dev,
                            cardId          : "seventeen",
                            containerClass  : "card-102-mobile card-112-tablet card-102-desktop-sm card-102-desktop-lg"
                        }) | raw}}
                        <hr class="divide20-25 hidden-xs">
                    </div>
                    
                    <div class="col-sm-12 col-md-12">
                        {{this.render('../_single-article.twig', {
                            article         : articles[7],
                            position        : 8,
                            styleType       : "image-bottom",
                            imageSize       : {width:95, height:95},
                            site            : site,
                            dev             : dev,
                            cardId          : "eighteen",
                            containerClass  : "card-101-mobile card-101-tablet card-101-desktop-sm card-101-desktop-lg"
                        }) | raw}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="ad-square u-margin-top-30  u-desktop-margin-top-40">
    <div class='advert-desktop  desktop-banner' data-adsize="banner"></div>
    <div class='advert-tablet  tablet-banner' data-adsize="banner"></div>
    <div class='advert-mobile  mobile-banner' data-adsize="banner"></div>
</div>