{% set articleCount = 0 %}
{% set articlelock = false %}

<section>
    <div class="row" data-template="panel-27">
        <div class="col-sm-12">
            <div class="c-section-header">
                <a class="{{site}} c-section-header__link" href="{{link}}">
                    <h2 class="c-section-header__h2 {{site}}">{{title}}</h2>
                    {% if admin %}
                        <p class="c-section-header__panel-name">Panel 27</p>
                    {% endif %}
                </a>
            </div>
        </div>
    </div>

    <div class="row u-margin-top-20" style="display:flex;flex-wrap:wrap">

        {% for i in 0..3 if articles[articleCount] %}
            <div class="col-sm-6 col-md-3">

                {% if i > 1 %}
                    <hr class="divide20-25  visible-sm-block">
                {% endif %}


                {{this.render('../_single-article.twig', {
                    styleType       : "image-bottom",
                    position        : articleCount + 1,
                    swap            : false,
                    cardId          : "panel26" ~ 1,
                    article         : articles[articleCount],
                    imageSize       : {width:300, height:200},
                    site            : site,
                    dev             : dev,
                    containerClass  : 'card-107-mobile card-107-tablet card-107-desktop-sm card-107-desktop-lg'
                }) | raw}}
                {% set articleCount = (articlelock) ? articleCount : articleCount + 1 %}

            </div>
        {% endfor %}
    </div>

</section>
