{% set articleCount = 0 %}
{% set cardIndex = 1 %}

{% set config = _Network.getThemeConfig() %}

{% set dev = true %}
{% set articleLock = false %}


{% set popularArticles = getCache("popularArticles") %}
{% if (popularArticles is empty) %}
    {% set popularArticles = _Article.getPopularArticles({ limit: 5, scope: 'network', interval: 24 }) %}
    {% set cache = setCache("popularArticles", popularArticles, 500) %}
{% endif %}

{% set Newsletter = "" %}
{% set Cblock = _ContentBlock.get({"title" : "Newsletter"}) %}
{% if Cblock %}
    {% set Newsletter = Cblock['content'] %}
{% endif %}




<section class=""  data-template="panel 01">
    <div class="row">

        {# COLUMN 1  --  THE CENTER COLUMN ON DESKTOP #}
        <div class="col-12 col-md-12 col-lg-6 order-lg-2">
            <div class="row">


                {# <div class="col-12 d-none d-md-block d-lg-none">
                    {{this.render('../../partials/buylocal.twig', {
                        networkData: networkData
                    }) | raw}}
                </div> #}


                <div class="col-12 col-md-8 col-lg-12 ">

                    {# CARD 1 #}
                    {% if articles[articleCount] %}
                        {{this.render('../_single-article.twig', {
                            imageSize       : {width:640, height:445},
                            position        : cardIndex,
                            lazyload        : false,
                            article         : articles[articleCount],
                            site            : site,
                            swap            : false,
                            dev             : dev,
                            cardId          : "one",
                            containerClass  : 'card-100-mobile card-100-tablet card-100-desktop-sm card-100-desktop-lg'
                        }) | raw}}
                        {% set articleCount = (articleLock) ? articleCount : articleCount + 1 %}
                        {% set cardIndex = cardIndex + 1 %}
                        <hr class="divide20-25 d-block d-md-none d-lg-block" data-tag="malcom">

                    {% endif %}
                </div>

                {# COLUMN 1#}
                <div class="col-12 col-md-4 col-lg-12">
                    <div class="row">
                        <div class="col-6 col-md-12 col-lg-6 u-mobile-padding-right-7">

                            {# CARD 2 #}
                            {{this.render('../_single-article.twig', {
                                imageSize       : {width:235},
                                position        : cardIndex,
                                lazyload        : false,
                                article         : articles[articleCount],
                                site            : site,
                                swap            : false,
                                dev             : dev,
                                cardId          : "two",
                                containerClass  : 'card-102-mobile card-102-tablet card-102-desktop-sm card-102-desktop-lg'
                            }) | raw}}
                            {% set articleCount = (articleLock) ? articleCount : articleCount + 1 %}
                            {% set cardIndex = cardIndex + 1 %}
                            <hr class="divide20-25 d-none d-md-block d-lg-none" data-tag="princton">
                        </div>


                        <div class="col-6 col-md-12 col-lg-6 d-none d-lg-block">
                            {# CARD 3  DESKTOP #}

                            {% if articles[articleCount] %}
                                {{this.render('../_single-article.twig', {
                                    imageSize       : {height:235},
                                    position        : cardIndex,
                                    lazyload        : false,
                                    article         : articles[articleCount],
                                    site            : site,
                                    swap            : false,
                                    dev             : dev,
                                    cardId          : "three desk",
                                    containerClass  : 'card-102-mobile card-102-tablet card-102-desktop-sm card-102-desktop-lg'
                                }) | raw}}

                                {# {% set articleCount = (articleLock) ? articleCount : articleCount + 1 %}
                                {% set cardIndex = cardIndex + 1 %} #}
                            {% endif %}

                        </div>


                        <div class="col-6 col-md-12 col-lg-6 d-block d-md-block d-lg-none u-mobile-padding-left-7">

                            {% if articles[articleCount] %}
                                {{this.render('../_single-article.twig', {
                                    imageSize       : {height:235},
                                    position        : cardIndex,
                                    lazyload        : false,
                                    article         : articles[articleCount],
                                    site            : site,
                                    swap            : false,
                                    dev             : dev,
                                    cardId          : "three tablet",
                                    containerClass  : 'card-102-mobile card-102-tablet card-102-desktop-sm card-102-desktop-lg'
                                }) | raw}}
                                {% set articleCount = (articleLock) ? articleCount : articleCount + 1 %}
                                {% set cardIndex = cardIndex + 1 %}

                                <hr class="divide20-25 d-none d-lg-block" data-tag="jb">
                            {% endif %}
                        </div>


                    </div>

                </div>

                <div class="col-12 d-none d-md-block d-lg-none">
                    <hr class="divide20-25" data-tag="willem">
                </div>

                <div class="col-12 u-mobile-margin-top-30 u-mobile-margin-bottom-30 visible-xs-block">
                    <div class="ad-square" data-view="mobile-mrec">
                        <div class='advert-mobile  mobile-mrec' data-adsize="mrec"></div>
                    </div>
                </div>



                {# COLUMN 2 #}
                <div class="col-12 col-md-6 col-lg-6 ">
                    {# CARD 3  DESKTOP #}

                    {# {% if articles[articleCount] %}
                        {{this.render('../_single-article.twig', {
                            imageSize       : {height:235},
                            position        : cardIndex,
                            lazyload        : false,
                            article         : articles[articleCount],
                            site            : site,
                            swap            : false,
                            dev             : dev,
                            cardId          : "five",
                            containerClass  : 'card-102-mobile card-102-tablet card-102-desktop-sm card-102-desktop-lg d-none d-lg-block'
                        }) | raw}}

                        {% set articleCount = (articleLock) ? articleCount : articleCount + 1 %}
                        {% set cardIndex = cardIndex + 1 %}
                    {% endif %} #}

                </div>

            </div>


        </div>

























        {# COLUMN 2 -- COLUMN 1 ON DESKTOP #}
        <div class="col-12 col-lg-3 order-lg-1 ">

            <div class="row">
                    {# CARDS 6,7 #}
                    <div class="col-12 col-md-6 col-lg-12">
                        {{this.render('../_single-article.twig', {
                            imageSize       : {width:95},
                            styleType       : "image-bottom",
                            position        : cardIndex,
                            lazyload        : false,
                            article         : articles[articleCount],
                            site            : site,
                            swap            : false,
                            dev             : dev,
                            cardId          : "eight "~ i,
                            containerClass  : 'card-101-mobile card-101-tablet card-101-desktop-sm card-101-desktop-lg'
                        }) | raw}}
                        {% set articleCount = (articleLock) ? articleCount : articleCount + 1 %}
                        {% set cardIndex = cardIndex + 1 %}
                        <hr class="divide20-25" data-tag="harold">
                    </div>


                    <div class="col-12 col-md-6 col-lg-12">
                        {{this.render('../_single-article.twig', {
                            imageSize       : {width:95},
                            styleType       : "image-bottom",
                            position        : cardIndex,
                            lazyload        : false,
                            article         : articles[articleCount],
                            site            : site,
                            swap            : false,
                            dev             : dev,
                            cardId          : "eight "~ i,
                            containerClass  : 'card-101-mobile card-101-tablet card-101-desktop-sm card-101-desktop-lg'
                        }) | raw}}
                        {% set articleCount = (articleLock) ? articleCount : articleCount + 1 %}
                        {% set cardIndex = cardIndex + 1 %}
                        <hr class="d-none d-md-block d-lg-none divide20-25" data-tag="price">
                    </div>


            </div>

            <div class="row">


                {# ************ MOST POPULAR DESKTOP ************   #}
                <div class="col-12 col-md-6 col-lg-12">
                    <div class="c-section-header u-margin-top-30 d-block d-md-none d-lg-block">
                        <h2 class="c-section-header__h2 {{site}}">Most popular</h2>
                    </div>
                    <div class="leaderboard u-margin-top-13 d-block d-md-none d-lg-block">
                    {% for i in 0..4 if popularArticles[i] %}
                        {{this.render('../_single-article.twig', {
                            article         : popularArticles[i],
                            imageSuppress   : true,
                            swap            : false,
                            containerClass  : 'card-109-mobile card-109-tablet card-109-desktop-sm card-109-desktop-lg ' ~ site,
                            site            : site
                        }) | raw}}
                        <hr class="divide11-11">
                    {% endfor %}
                    </div>
                    {# ************ END ************   #}

                        {# {% if paymeter == true and pianoSubscribe == true %} #}
                    <div class="click-subscribe
                        d-block
                        d-md-none
                        d-lg-block
                        {# visible-xs-block
                        visible-md-block
                        visible-lg-block #}
                        u-mobile-margin-top-30
                        u-mobile-margin-bottom-30
                        u-desktop-margin-top-30"
                        data-view="desktop/mobile">

                        <h4 class="click-subscribe__title">Stories about people you <br />know told by people you trust</h4>
                        <p class="click-subscribe__p">Subscribe to the news that <br class="d-none d-lg-block" /> matters to you</p>
                        {#<button class="click-subscribe__button">Subscribe now</button>#}
                        <a class="click-subscribe__button" href="javascript:void(0);" onclick="window.location.href=('{{networkData.defaultBlogUrl}}/membership?redirect='+encodeURIComponent(window.location.href));">
                            Subscribe
                        </a>
                    </div>
                        {# {% endif %}   #}


                    {# <div class="row d-block d-md-none">
                        <div class="col-12">
                            {{this.render('../../partials/buylocal.twig', {
                                networkData: networkData
                            }) | raw}}
                        </div>
                    </div> #}

                    {# <hr class="divide20-25 visible-sm-block"> #}


                </div>
            </div>
        </div>

























        {# COLUMN 3 #}
        <div class="col-12 col-md-12 col-lg-3 order-lg-3">
            <div class="row u-margin-bottom-30 d-none d-lg-block">
                <div class="col-sm-1 col-md-12 ">
                    <div class="weather j-weather-panel {{site}}"></div>
                    <div class="weather-dropdown j-weather-panel-dropdown hidden {{site}}"></div>
                    <hr class="divide10  d-none d-md-block d-lg-none" style="margin-top: 50px;">
                </div>
            </div>

            <div class="row">


                {# <div class="col-12 d-none d-lg-block">
                    {{this.render('../../partials/buylocal.twig', {
                        networkData: networkData
                    }) | raw}}
                </div> #}

                <div class="col-12 col-md-6 col-lg-12">


                    {{this.render('../_single-article.twig', {
                        imageSize       : {width:312, height: 235},
                        position        : cardIndex,
                        lazyload        : false,
                        article         : articles[articleCount],
                        site            : site,
                        swap            : false,
                        dev             : dev,
                        cardId          : "tenfour" ~ 1,
                        containerClass  : 'card-101-mobile card-101-tablet card-101-desktop-sm card-101-desktop-lg'
                    }) | raw}}
                    {% set articleCount = (articlelock) ? articleCount : articleCount + 1 %}
                    {% set cardIndex = cardIndex + 1 %}

                    <hr class="divide20-25">



                    {# CARDS 9, 10 #}
                    {{this.render('../_single-article.twig', {
                        imageSize       : {width:95},
                        styleType       : "image-bottom",
                        position        : cardIndex,
                        lazyload        : false,
                        article         : articles[articleCount],
                        site            : site,
                        swap            : false,
                        dev             : dev,
                        cardId          : "ten" ~ 1,
                        containerClass  : 'card-101-mobile card-101-tablet card-101-desktop-sm card-101-desktop-lg'
                    }) | raw}}
                    {% set articleCount = (articlelock) ? articleCount : articleCount + 1 %}
                    {% set cardIndex = cardIndex + 1 %}

                    <hr class="divide20-25">

                    <div class="ad-square mrec-min-height d-md-none d-lg-block u-mobile-no-margin-top u-desktop-margin-top-30 u-desktop-margin-bottom-30" data-view="desktop-mrec">
                        <div class='advert-desktop  desktop-mrec' data-adsize="mrec"></div>
                        <div class='advert-tablet  tablet-mrec' data-adsize="mrec"></div>
                        <div class='advert-mobile  mobile-mrec' data-adsize="mrec"></div>
                    </div>

                    <hr class="divide20-25 d-md-none d-lg-block">



                    {{this.render('../_single-article.twig', {
                        imageSize       : {width:95},
                        styleType       : "image-bottom",
                        position        : cardIndex,
                        lazyload        : false,
                        article         : articles[articleCount],
                        site            : site,
                        swap            : false,
                        dev             : dev,
                        cardId          : "ten" ~ 2,
                        containerClass  : 'card-101-mobile card-101-tablet card-101-desktop-sm card-101-desktop-lg'
                    }) | raw}}
                    {% set articleCount = (articlelock) ? articleCount : articleCount + 1 %}
                    {% set cardIndex = cardIndex + 1 %}

                    {# <hr class="divide20-25 hidden-sm"> #}



                    <div class="click-subscribe u-tablet-margin-top-30 d-none d-md-block d-lg-none" data-view="tablet">
                        <h4 class="click-subscribe__title">Stories about people you <br />know told by people you trust</h4>
                        <p class="click-subscribe__p">Subscribe to the news that matters to you</p>
                        <button class="click-subscribe__button">Subscribe now</button>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-12">


                    <div class="ad-square d-none d-md-block d-lg-none u-margin-bottom-20 u-mobile-no-margin-top u-desktop-no-margin-top" data-view="tablet-mrec">
                        <div class='advert-desktop desktop-mrec' data-adsize="mrec"></div>
                        <div class='advert-tablet tablet-mrec' data-adsize="mrec"></div>
                        <div class='advert-mobile mobile-mrec' data-adsize="mrec"></div>
                    </div>




                {# ************ MOST POPULAR TABLET ************   #}
                    <div class="c-section-header u-tablet-margin-top-30 d-none d-md-block d-lg-none">
                        <h2 class="c-section-header__h2 {{site}}">Most popular</h2>
                    </div>
                    <div class="leaderboard u-margin-top-13 u-tablet-margin-bottom-30 d-none d-md-block d-lg-none">
                    {% for i in 0..4 if popularArticles[i] %}
                        {{this.render('../_single-article.twig', {
                            article         : popularArticles[i],
                            imageSuppress   : true,
                            swap            : false,
                            containerClass  : 'card-109-mobile card-109-tablet card-109-desktop-sm card-109-desktop-lg ' ~ site,
                            site            : site
                        }) | raw}}
                        <hr class="divide11-11" data-tag="bishop">

                    {% endfor %}
                    </div>
                    {# ************ END ************   #}

                </div>
            </div>
        </div>

    </div>

    <hr class="divide20-25">

    <div class="row">
            {% for i in 0..1 if articles[i] %}
                {% set hidden = "" %}
                {% if i == 2 %}
                    {% set hidden = 'd-md-none d-lg-block' %}
                {% endif %}
                <div class="col-12 col-md-6 col-lg-4">
                    {# CARDS 8, 9 #}
                    {{this.render('../_single-article.twig', {
                        imageSize       : {height: 112, width:190},
                        position        : cardIndex,
                        styleType       : "image-bottom",
                        lazyload        : false,
                        article         : articles[articleCount],
                        site            : site,
                        swap            : false,
                        dev             : dev,
                        cardId          : "twelve " ~ i,
                        containerClass  : 'card-104-mobile card-101-tablet card-104-desktop-sm card-104-desktop-lg ' ~ hidden
                    }) | raw}}

                    <hr class="divide20-25  d-block d-md-none"  data-tag="kelsi">

                    {% set articleCount = (articleLock) ? articleCount : articleCount + 1 %}
                    {% set cardIndex = cardIndex + 1 %}
                </div>
            {% endfor %}



            <div class="col-12 col-md-6 col-lg-4">
                {# CARD 10 #}
                {{Newsletter | raw}}
            </div>



    </div>
    <hr class="d-none d-lg-block divide20-25" data-tag="fulla">
</section>


<div class="ad-square u-margin-top-30 u-mobile-no-margin-top u-desktop-no-margin-top">
    <div class='advert-desktop  desktop-banner' data-adsize="banner"></div>
    <div class='advert-tablet  tablet-banner' data-adsize="banner"></div>
    <div class='advert-mobile  mobile-mrec' data-adsize="mrec"></div>
</div>
