{% set articleCount = 0 %}
{% set articlelock = false %}

<section>
    <div class="row" data-template="panel-21">
        <div class="col-12">
            <div class="c-section-header">
                <a class="{{site}} c-section-header__link" href="{{link}}">
                    <h2 class="c-section-header__h2 c-section-header__h2--more {{site}}">{{title}}</h2>
                    {% if admin %}
                        <p class="c-section-header__panel-name">Panel 21</p>
                    {% endif %}
                </a>
            </div>
        </div>
    </div>




    <div class="row u-margin-top-20">
        <div class="col-12 col-lg-9">
            <div class="row">
                <div class="col-12 col-md-8">

                    {% if articles[articleCount] %}
                    {{this.render('../_single-article.twig', {
                            imageSize       : {width:640, height:445},
                            position        : articleCount + 1,
                            swap            : false,
                            article         : articles[articleCount],
                            site            : site,
                            dev             : dev,
                            cardId          : "one",
                            containerClass  : 'card-100-mobile card-100-tablet card-100-desktop-sm card-100-desktop-lg'
                        }) | raw}}
                        {% set articleCount = (articlelock) ? articleCount : articleCount + 1 %}
                    {% endif %}

                    <hr class="divide20-25 d-block d-md-none" data-tag="pawn">

                </div>


                <div class="col-12 col-md-4">

                    <div class="row">


                        {% if articles[articleCount] %}
                            <div class="col-6 col-md-12 u-mobile-padding-right-7">
                                {{this.render('../_single-article.twig', {
                                    imageSize       : {width:235},
                                    position        : articleCount + 1,
                                    lazyload        : false,
                                    article         : articles[articleCount],
                                    site            : site,
                                    dev             : dev,
                                    cardId          : "two",
                                    containerClass  : 'card-102-mobile card-102-tablet card-102-desktop-sm card-102-desktop-lg'
                                }) | raw}}
                                {% set articleCount = (articlelock) ? articleCount : articleCount + 1 %}
                                
                                <hr class="divide20-25 d-none d-md-block" data-tag="rook">
                            </div>
                        {% endif %}


                        {% if articles[articleCount] %}
                            <div class="col-6 col-md-12 u-mobile-padding-left-7">
                                {{this.render('../_single-article.twig', {
                                    imageSize       : {width:235},
                                    styleType       : "image-both",
                                    article         : articles[articleCount],
                                    position        : articleCount + 1,
                                    lazyload        : false,
                                    site            : site,
                                    dev             : dev,
                                    cardId          : "three",
                                    containerClass  : 'card-102-mobile card-102-tablet card-101-desktop-sm card-101-desktop-lg'
                                }) | raw}}
                                {% set articleCount = (articlelock) ? articleCount : articleCount + 1 %}
                            </div>
                        {% endif %}
                    </div>
                </div>

                <div class="col-12  d-none d-md-block d-lg-none">
                    <hr class="divide20-25" data-tag="knight">
                </div>



            </div>

            <hr class="divide20-25 d-block d-md-none" data-tag="knight">

        </div>

        <div class="col-12 col-lg-3">

            <div class="row">



                {% if articles[articleCount] %}
                <div class="col-12 col-md-6 col-lg-12">
                    {{this.render('../_single-article.twig', {
                        imageSize       : {width:235},
                        position        : articleCount + 1,
                        styleType       : "image-both",
                        lazyload        : false,
                        article         : articles[articleCount],
                        site            : site,
                        dev             : dev,
                        cardId          : "four",
                        containerClass  : 'card-101-mobile card-101-tablet card-102-desktop-sm card-102-desktop-lg'
                    }) | raw}}
                    {% set articleCount = (articlelock) ? articleCount : articleCount + 1 %}
                    <hr class="divide20-25 d-block d-md-none" data-tag="knight">
                </div>
                {% endif %}


                {% if articles[articleCount] %}
                    <div class="col-12 col-md-6 col-lg-12">
                        <hr class="divide20-25 d-none d-lg-block" data-tag="knight">

                        {{this.render('../_single-article.twig', {
                            imageSize       : {width:235},
                            position        : articleCount + 1,
                            styleType       : "image-both",
                            lazyload        : false,
                            article         : articles[articleCount],
                            site            : site,
                            dev             : dev,
                            cardId          : "four",
                            containerClass  : 'card-101-mobile card-101-tablet card-101-desktop-sm card-101-desktop-lg'
                        }) | raw}}
                        {% set articleCount = (articlelock) ? articleCount : articleCount + 1 %}
                    </div>
                {% endif %}

            </div>
        </div>


    </div>

</section>




