{% set articleCount = 0 %}
{% set cardIndex = 0 %}

{% set config = _Network.getThemeConfig() %}

{% set layout = layout is defined ? layout : false %}

{% set sectionLabel = blogData['additionalInfo']['sectionlabel'] is defined and 
                      blogData['additionalInfo']['sectionlabel'] != '' 
                            ? blogData['additionalInfo']['sectionlabel'] 
                            : 'Feature' %}
{% set dev = true %}

{% set popularArticles = _Article.getPopularArticles({ limit: 5, scope: 'network', interval: 24 }) %}

<div class="row">
    <div class="container hidden-md hidden-lg u-tablet-margin-top-10 ">
        <div class="weather j-weather-panel u-tablet-float-right {{site}}"></div>
        <div class="weather-dropdown hidden j-weather-panel-dropdown {{site}}"></div>
    </div>
    <div class="col-sm-12 visible-sm-block"><hr class="divide10"></div>
</div>



<section class=""  data-template="panel 01">
    <div class="row u-border-blue">

        {# COLUMN 1  --  THE CENTER COLUMN ON DESKTOP #}
        <div class="col-xs-12 col-sm-12 col-md-6 col-md-push-3">
            <div class="row u-border-blue">
                <div class="col-xs-12 col-sm-8 col-md-12 u-border-red">
                    {% if articles[0] %}                                                                
                        {{this.render('../_single-article.twig', {
                            imageSize       : {width:640, height:400},
                            position        : 1, 
                            lazyload        : false,
                            article         : articles[0], 
                            site            : site,
                            swap            : false,
                            dev             : dev,
                            containerClass  : 'card-100-mobile card-100-tablet card-100-desktop-sm card-100-desktop-lg'
                        }) | raw}}
                        {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
                        {% set cardIndex = cardIndex + 1 %}
                        <hr class="divide25-40 visible-md-block visible-lg-block">

                    {% endif %}
                </div>

                {# COLUMN 1#} 
                <div class="col-xs-6 col-sm-4 col-md-6 u-border-red">
                    {{this.render('../_single-article.twig', {
                        imageSize       : {width:235},
                        position        : 2, 
                        lazyload        : false,
                        article         : articles[1],
                        site            : site,
                        swap            : false,
                        dev             : dev,
                        containerClass  : 'card-102-mobile card-102-tablet card-102-desktop-sm card-102-desktop-lg'
                    }) | raw}}

                    {# {% set articleCount = (dev) ? articleCount : articleCount + 1 %} #}
                    {# {% set cardIndex = cardIndex + 1 %} #}
                    <hr class="divide25-40 visible-md-block visible-lg-block">


                    {{this.render('../_single-article.twig', {
                        imageSize       : {width:95},
                        position        : 4, 
                        lazyload        : false,
                        article         : articles[4],
                        template        : "altimage",
                        site            : site,
                        swap            : false,
                        dev             : dev,
                        containerClass  : 'card-101-mobile card-102-tablet card-101-desktop-sm card-101-desktop-lg'
                    }) | raw}}

                    {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
                    {% set cardIndex = cardIndex + 1 %}
                    <hr class="divide25-40 visible-md-block visible-lg-block">

                </div>


                {# COLUMN 2 #}
                <div class="col-xs-6 col-md-6 u-border-red">
                    {% if articles[articleCount] %}
                        {{this.render('../_single-article.twig', {
                            imageSize       : {width:235},
                            position        : 3, 
                            lazyload        : false,
                            article         : articles[3],
                            site            : site,
                            swap            : false,
                            dev             : dev,
                            containerClass  : 'card-102-mobile card-102-tablet card-102-desktop-sm card-102-desktop-lg'
                        }) | raw}}

                        {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
                        {% set cardIndex = cardIndex + 1 %}
                        <hr class="divide25-40 visible-md-block visible-lg-block">
                    {% endif %}

                    {% if articles[articleCount] %}
                        {{this.render('../_single-article.twig', {
                            imageSize       : {width:95},
                            position        : 5, 
                            lazyload        : false,
                            article         : articles[5],
                            template        : "altimage",
                            site            : site,
                            swap            : false,
                            dev             : dev,
                            containerClass  : 'card-101-mobile card-101-tablet card-101-desktop-sm card-101-desktop-lg'
                        }) | raw}}

                        {# {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
                        {% set cardIndex = cardIndex + 1 %} #}
                        <hr class="divide25-40 visible-md-block visible-lg-block">
                    {% endif %}


                </div>

            </div>


        </div>

























        {# COLUMN 2 -- COLUMN 1 ON DESKTOP #}
        <div class="col-xs-12 col-sm-12 col-md-3 col-md-pull-6 u-border-red">

            {% for i in 6..8 if articles[i] %}

                {{this.render('../_single-article.twig', {
                    imageSize       : {width:95},
                    position        : i, 
                    lazyload        : false,
                    article         : articles[i],
                    template        : "altimage",
                    site            : site,
                    swap            : false,
                    dev             : dev,
                    containerClass  : 'card-101-mobile card-101-tablet card-101-desktop-sm card-101-desktop-lg'
                }) | raw}}
                {# {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
                {% set cardIndex = cardIndex + 1 %} #}
                {% if loop.index != 3  %}
                    <hr class="divide25-40 visible-md-block visible-lg-block">
                {% endif %}

            {% endfor %}


            {# ************ MOST POPULAR ************   #}
            <div class="c-section-header u-margin-top-30">
                <h2 class="c-section-header__h2 {{site}}">Most popular</h2>
            </div>
            <div class="leaderboard u-margin-top-13">
            {% for i in 0..4 if popularArticles[i] %}
                {{this.render('../_single-article.twig', {
                    article         : popularArticles[i], 
                    imageSuppress   : true,
                    swap            : false,
                    containerClass  : 'card-109-mobile card-109-tablet card-109-desktop-sm card-109-desktop-lg ' ~ site,
                    site            : site
                }) | raw}}
                {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
                {% set cardIndex = cardIndex + 1 %}
                <hr class="divide11-11 visible-md-block visible-lg-block">

            {% endfor %} 
            </div>
            {# ************ END ************   #}
        </div>


























        {# COLUMN 3 #}
        <div class="col-xs-12 col-sm-12 col-md-3">
            <div class="row u-margin-bottom-30 u-border-blue">
                <div class="col-sm-1 col-md-12 hidden-xs hidden-sm u-desktop-indent-left-20">
                    <div class="weather j-weather-panel {{site}}"></div>
                    <div class="weather-dropdown j-weather-panel-dropdown hidden {{site}}"></div>
                    <hr class="divide10 visible-sm-block" style="margin-top: 50px;">
                </div>
            </div>


            {% for i in 9..10 if articles[i] %}
                {{this.render('../_single-article.twig', {
                    imageSize       : {width:95},
                    position        : i, 
                    lazyload        : false,
                    article         : articles[i],
                    template        : "altimage",
                    site            : site,
                    swap            : false,
                    dev             : dev,
                    containerClass  : 'card-101-mobile card-101-tablet card-101-desktop-sm card-101-desktop-lg'
                }) | raw}}


                {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
                {% set cardIndex = cardIndex + 1 %}
                <hr class="divide25-40 visible-md-block visible-lg-block">
            {% endfor %}

            <div class="ad-square u-margin-top-30 u-mobile-no-margin-top u-desktop-no-margin-top">
                <div class='advert-desktop' data-adsize="mrec"></div>
                {#<script async id="soft-point-banner" src="https://viztrade.com/api/banner.js?inventory=59"></script> #}
                <div class='advert-tablet' data-adsize="banner"></div>
                <div class='advert-mobile' data-adsize="mrec"></div>
            </div>
            <hr class="divide25-40 visible-md-block visible-lg-block">

            {% if articles[11] %}

                {{this.render('../_single-article.twig', {
                    imageSize       : {width:95},
                    position        : 11, 
                    lazyload        : false,
                    article         : articles[11],
                    template        : "altimage",
                    site            : site,
                    swap            : false,
                    dev             : dev,
                    containerClass  : 'card-101-mobile card-101-tablet card-101-desktop-sm card-101-desktop-lg'
                }) | raw}}


                {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
                {% set cardIndex = cardIndex + 1 %}
                <hr class="divide25-40 visible-md-block visible-lg-block">
            {% endif %}


        </div>


    </div>
</section>


