{% set articleCount = 0 %}

<div class="col-sm-12 col-md-6">

    <div class="row u-margin-bottom-30" data-template="panel-16">

        <div class="col-sm-12">
            <div class="c-section-header  u-margin-top-30">
                <a class="{{site}}" href="{{link}}">
                    <h2 class="c-section-header__h2 {{site}}">{{title}}</h2>
                </a>
            </div>
        </div>
    </div>

    <div class="row" data-template="panel-16">
        <div class="col-sm-6">
            {{this.render('../_single-article.twig', {
                article         : articles[articleCount],
                imageSize       : {width:300, height:197},
                site            : site,
                containerClass  : 'card-107-mobile card-107-tablet card-107-desktop-sm card-107-desktop-lg'
            }) | raw}}
            <hr class="divide25-40 visible-xs-block">
        </div>

        <div class="col-sm-6">
            <div class="ad-square   u-mobile-no-margin-top u-desktop-no-margin-top" data-view="tablet-mrec">
                <div class='advert-desktop  desktop-mrec' data-adsize="mrec"></div>
                <div class='advert-tablet  tablet-mrec' data-adsize="mrec"></div>
                <div class='advert-mobile  mobile-mrec' data-adsize="mrec"></div>
            </div>
        </div>
    </div>
</div>
