{% set articleCount = 0 %}
{% set cardIndex = 1 %}

<div class="row">
    <div class="col-sm-12">
        <div class="row u-margin-bottom-30" data-template="panel-19">

            <div class="col-sm-12">
                <div class="c-section-header  u-margin-top-30">
                    <a class="{{site}}" href="{{link}}">
                        <h2 class="c-section-header__h2 {{site}}">{{title}}</h2>
                    </a>
                </div>
            </div>
        </div>
    
        <div class="row" data-template="panel-19">
            <div class="col-sm-12 col-md-6">
                <div class="row">
                    <div class="col-sm-8 col-md-12">
                        {{this.render('../_single-article.twig', {
                            article         : articles[articleCount], 
                            position        : cardIndex,
                            imageSize       : {width:470, height:445},
                            site            : site,
                            containerClass  : 'card-100-mobile card-100-tablet card-100-desktop-sm card-100-desktop-lg'
                        }) | raw}}
                        {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
                        {% set cardIndex = cardIndex + 1 %}
                        <hr class="divide25-40 hidden-sm">
                    </div>


                {% for i in 0..1 if articles[articleCount] %}
                    <div class="col-sm-4 col-md-6">                    
                        {{this.render('../_single-article.twig', {
                            article         : articles[articleCount], 
                            position        : cardIndex,
                            imageSize       : {width:300, height:235},
                            site            : site,
                            containerClass  : 'card-102-mobile card-102-tablet card-102-desktop-sm card-102-desktop-lg'
                        }) | raw}}
                        {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
                        {% set cardIndex = cardIndex + 1 %}
                    </div>
                {% endfor %}
                </div>
                
                <div class="col-sm-12 visible-sm-block">
                    <hr class="divide25-40 visible-sm-block">
                </div>
            </div>


            <div class="col-sm-6 col-md-3">
                <div class="row">
                {% for i in 0..3 if articles[articleCount] %}
                    <div class="col-sm-12">
                        {{this.render('../_single-article.twig', {
                            article         : articles[articleCount], 
                            position        : cardIndex,
                            imageSize       : {width:95, height:95},
                            styleType       : "image-bottom",
                            site            : site,
                            containerClass  : 'card-101-mobile card-101-tablet card-101-desktop-sm card-101-desktop-lg'
                        }) | raw}}
                        {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
                        {% set cardIndex = cardIndex + 1 %}

                        {% if loop.index != 4  %}
                            <hr class="divide25-40">
                        {% endif %}
                    </div>
                {% endfor %}
                </div>
            </div>



            <div class="col-sm-6 col-md-3">
                
                <div class="row">


                    <div class="col-sm-12 ad-square  visible-sm-block u-tablet-margin-bottom-20" data-view="desktop-mrec">
                        <div class='advert-tablet  tablet-mrec' data-adsize="mrec"></div>
                    </div>


                {% for i in 0..2 if articles[articleCount] %}
                    <div class="col-sm-12">




                        {{this.render('../_single-article.twig', {
                            article         : articles[articleCount], 
                            position        : cardIndex,
                            styleType       : "image-bottom",
                            imageSize       : {width:95, height:95},
                            site            : site,
                            containerClass  : 'card-101-mobile card-101-tablet card-101-desktop-sm card-101-desktop-lg'
                        }) | raw}}
                        {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
                        {% set cardIndex = cardIndex + 1 %}

                        {% if loop.index != 3  %}
                            <hr class="divide25-40">
                        {% endif %}
                    </div>
                {% endfor %}
                </div>
            </div>

        </div>
    </div>
</div>