{% set articleCount = 0 %}

<div class="col-sm-12 col-md-6">

    <div class="row u-margin-bottom-30" data-template="panel-15">
    
        <div class="col-sm-12">
            <div class="c-section-header  u-margin-top-30">
                <a class="{{site}}" href="{{link}}">
                    <h2 class="c-section-header__h2 {{site}}">{{title}}</h2>
                </a>
            </div>
        </div>
    </div>

    <div class="row" data-template="panel-15">

        {% for i in 0..1 if articles[articleCount] %}
            <div class="col-xs-6">
                {{this.render('../_single-article.twig', {
                    article         : articles[articleCount], 
                    imageSize       : {width:300, height:197},
                    site            : site,
                    containerClass  : 'card-107-mobile card-107-tablet card-107-desktop-sm card-107-desktop-lg'
                }) | raw}}
                {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
            </div> 
            
        {% endfor %}

    </div>
</div>