{% set articleCount = 0 %}




<div class="col-sm-12 col-md-3" data-panel="panel-12">
    <div class="row u-margin-bottom-30">
        <div class="col-sm-12">
            <div class="c-section-header">
                <a class="{{site}}" href="{{link}}">
                    <h2 class="c-section-header__h2 {{site}}">{{title}}</h2>
                </a>
            </div>
        </div>
    </div>
    <div class="row ">
        <div class="col-xs-12 col-sm-6 col-md-12">
            <div class="row">
            {% for i in 0..1 if articles[articleCount] %}
                <div class="col-xs-6 col-sm-6 col-md-6">

                    {{this.render('../_single-article.twig', {
                        article         : articles[articleCount],
                        imageSizes      : {
                            "mobile"  : {height:210, width:0},
                            "tablet"  : {height:222, width:167},
                            "desktop" : {height:190, width:145},
                        },
                        logs: true,
                        site            : site,
                        containerClass  : 'card-110-mobile card-110-tablet card-110-desktop-sm card-110-desktop-lg'
                    }) | raw}}
                    {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
                </div>
            {% endfor %}
            </div>
        </div>



        <div class="col-xs-12 col-sm-6 col-md-12">
            <div class="newsletter-iframe-container" style="display: flex;flex-direction: column;overflow: hidden;margin: 0 -15px;padding: 0 15px;">
                <iframe src="{{config['newsletter']}}" class="newsletter-iframe" id="newsletter-iframe" style="flex-grow: 1;border: none;margin: 0;padding: 0;height: 95px;"></iframe>
            </div>
        </div>
    </div>

</div>
