{% set articleCount = 0 %}
<div class="row">

    <div class="col-sm-12">

        <div class="row u-margin-bottom-30" data-template="panel-17">

            <div class="col-sm-12">
                <div class="c-section-header  u-margin-top-30">
                    <a class="{{site}}" href="{{link}}">
                        <h2 class="c-section-header__h2 {{site}}">{{title}}</h2>
                    </a>
                </div>
            </div>
        </div>

        <div class="row" data-template="panel-17">
            <div class="col-sm-12 col-md-6">
                <div class="row">
                    {% for i in 0..1 if articles[articleCount] %}
                            <div class="col-xs-6 col-md-6">
                            {{this.render('../_single-article.twig', {
                                article         : articles[articleCount],
                                template        : 'property_card',
                                imageSize       : {width:300, height:197},
                                networkData     : networkData,
                                site            : site,
                                containerClass  : 'card-108-mobile card-108-tablet card-108-desktop-sm card-108-desktop-lg'
                            }) | raw}}
                            {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
                            {% if i < 2 %}
                                <hr class="divide25-40 visible-sm-block">
                            {% endif %}
                        </div>

                    {% endfor %}
                    <hr class="divide25-40 visible-xs-block">
                </div>
            </div>


            <div class="cols-sm-12 col-md-6">
                <div class="row">
                    {% for i in 0..1 if articles[articleCount] %}
                        <div class="col-xs-6 col-md-6">
                            {{this.render('../_single-article.twig', {
                                article         : articles[articleCount],
                                template        : 'property_card',
                                imageSize       : {width:300, height:197},
                                networkData     : networkData,
                                site            : site,
                                containerClass  : 'card-108-mobile card-108-tablet card-108-desktop-sm card-108-desktop-lg'
                            }) | raw}}
                            {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
