<section class="middle">
    <div class="row">
        <div class="col-sm-3 col-md-2 most-popular">
            <h2>Most popular</h2>

            {% for i in 0..4 if popularArticles[i] %}
                    {{this.render('partials/_single-article.twig', {
                        article: popularArticles[i], 
                        imageSuppress: true, 
                        containerClass: 'card-popular'
                    }) | raw}}
            {% endfor %}
        </div>

        <hr class="divide visible-xs-block">

        <div class="col-sm-3 col-md-2">
            {% if articles[articleCount] %}
                {{this.render('partials/_single-article.twig', {
                    article: articles[articleCount], 
                    position: articleCount + 1, 
                    imageSize: {width:190},
                    containerClass: 'card-sm card-sm-mobile'
                }) | raw}}
                {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
                <hr class="divide visible-xs-block">

            {% endif %}
        </div>


        <div class="col-sm-3 col-md-2">

            {% if articles[articleCount] %}
                {{this.render('partials/_single-article.twig', {
                    article: articles[articleCount], 
                    position: articleCount + 1, 
                    imageSize: {width:190},
                    containerClass: 'card-sm card-sm-mobile'
                }) | raw}}
                {% set articleCount = (dev) ? articleCount : articleCount + 1 %}

            {% endif %}
        </div>


        <div class="col-sm-9 col-md-3 addSpaceMobile">
            <div class="ad-square" style="margin-top:30px;">
                <div class="card__announcement-image google_ad google_ad_mrec text-center" id='div-gpt-ad-mrec-3'>
                    <script type='text/javascript'>
                        googletag.cmd.push(function() { googletag.display('div-gpt-ad-mrec-3'); });
                    </script>
                </div>
            </div>
        </div>
    </div>
        

    <div class="row row-space">
        <div class="col-sm-3">
            {% if articles[articleCount] %}
                {{this.render('partials/_single-article.twig', {
                    article: articles[articleCount], 
                    position: articleCount + 1, 
                    imageSize: {width:300},
                    containerClass: 'card-sm-wide card-sm-mobile'
                }) | raw}}
                {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
                
                <hr class="divide visible-xs-block">

            {% endif %}
        </div>


        <div class="col-sm-3">
            {% if articles[articleCount] %}
                {{this.render('partials/_single-article.twig', {
                    article: articles[articleCount], 
                    position: articleCount + 1, 
                    imageSize: {width:300},
                    containerClass: 'card-sm-wide card-sm-mobile'
                }) | raw}}
                {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
                <hr class="divide visible-xs-block">

            {% endif %}


        </div>
        <div class="col-sm-3">
            {% for i in 0..1 if articles[articleCount] %}
                {{this.render('partials/_single-article.twig', {
                    article: articles[articleCount], 
                    position: articleCount + 1, 
                    imageSize: {width:95},
                    containerClass: 'feature-side feature-side-tablet card-sm-mobile'
                }) | raw}}
                {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
                

                {% if i == 0 %}
                    <hr class="divide">
                {% endif %}
            {% endfor %}

        </div>
    </div>

</section>