{% set articleCount = 0 %}



<section class="row">
    <div class="col-sm-9 section-header">
        <p><a class="{{site}}" href="{{link}}">View All</a></p>
        <div class="hk">
            <h2>{{ title }}</h2>
            <p></p>
        </div>
    </div>

    <div class="col-md-4 col-sm-5 col-xs-9">
        {% if articles[articleCount] %}
            {{this.render('../_single-article.twig', {
                article: articles[articleCount], 
                imageSize: {width:414, height:255},
                site: site,
                containerClass: 'home-feature-xs home-feature-tablet home-feature-mobile'
            }) | raw}}
            {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
        {% endif %}

        <hr class="divide visible-xs-block space-only">

    </div>

    <div class="col-md-2 col-sm-4 col-xs-9">
        {% if articles[articleCount] %}
            {{this.render('../_single-article.twig', {
                article: articles[articleCount], 
                imageSize: {width:300},
                site: site,
                containerClass: 'card-sm feature-side-tablet card-sm-mobile'
            }) | raw}}
            {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
            <hr class="divide visible-xs-block visible-sm-block">

        {% endif %}

    </div>
        
    {% for i in 0..1 if articles[articleCount] %}
        <div class="col-md-3 col-sm-4 col-xs-9">
        {{this.render('../_single-article.twig', {
            article: articles[articleCount], 
            imageSize: {width:300, height:160},
            site: site,
            containerClass: 'feature-side feature-side-tablet card-sm-mobile'
        }) | raw}}
        {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
        {% if i == 1 %}
            <div class="row visible-xs-block">
                <hr class="divide">
            </div>
        {% else %}
            <hr class="divide">
        {% endif %}
        </div>
    {% endfor %}
</section>