{% set articleCount = 0 %}
{% set cardIndex = 1 %}

<div class="row">
    <div class="col-sm-9 section-header">
        <p><a href="{{link}}">View All</a></p>
        <div class="hk">
            <h2>{{ title }}</h2>
            <p></p>
        </div>
    </div>
</div>


        
{# ********************
        ROW 1
******************** #}
<div class="row sm-two-cols">

{# ***********  ROW 1 COL 1  ***************
                -----------
                  * |   |      
                ----------- 
#}
    {# Card 1 #}
    <div class="col-sm-1 col-md-4 col-xs-9">
        {% if articles[articleCount] %}
            {{this.render('../_single-article.twig', {
                article         : articles[articleCount], 
                imageSize       : {width:414, height:255},
                site            : site,
                swap            : false,
                dev             : dev,
                position        : cardIndex,
                containerClass  : 'home-feature-xs home-feature-xs-tablet home-feature-mobile'
            }) | raw}}
            {% set articleCount = (dev) ? articleCount : sectionCount + 1 %}
            {% set cardIndex = cardIndex + 1 %}
        {% endif %}

        <hr class="divide visible-xs-block space-only">
    </div>




{# ***********  ROW 1 COL 2  ***************
                -----------
                    | * |      
                ----------- 
#}
    {# Card 2 #}
    <div class="col-xs-9 col-sm-1 col-md-3 ">
    
        {% if articles[articleCount] %}
            
            {{this.render('../_single-article.twig', {
                article         : articles[articleCount], 
                imageSize       : {width:300},
                site            : site,
                swap            : false,
                dev             : dev,
                position        : cardIndex,
                containerClass  : 'card-sm-wide feature-side-tablet card-sm-mobile'
            }) | raw}}
            {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
            {% set cardIndex = cardIndex + 1 %}
            
            <hr class="divide visible-xs-block visible-sm-block">
        {% endif %}
    </div>



{# ***********  ROW 1 COL 3  ***************
                -----------
                    |   | *     
                ----------- 
#}
    {# Card 3 #}
    <div class="col-xs-9 col-sm-1 col-md-2 ">
        {% if articles[articleCount] %}

            {{this.render('../_single-article.twig', {
                article         : articles[articleCount], 
                imageSize       : {width:195},
                site            : site,
                swap            : false,
                dev             : dev,
                position        : cardIndex,
                containerClass  : 'card-sm feature-side-tablet card-sm-mobile'
            }) | raw}}
            {% set articleCount = (dev) ? 0 : articleCount + 1 %}
            {% set cardIndex = cardIndex + 1 %}
            <hr class="divide visible-xs-block visible-sm-block">

        {% endif %}

    </div>
</div>







{# ********************
        ROW 2
******************** #}

<div class="row u-desktop-margin-top-40 sm-two-cols">

{# ***********  ROW 2 COL 1  ***************
                -----------
                   *   |     
                ----------- 
#}

    {# Card 4,5,6 #}
    {% for i in 0..2 if articles[articleCount] %}
        <div class="col-md-2 col-sm-1 col-xs-9">
            {{this.render('../_single-article.twig', {
                article         : articles[articleCount], 
                imageSize       : {width:195},
                site            : site,
                swap            : false,
                dev             : dev,
                position        : cardIndex,
                containerClass  : 'card-sm feature-side-tablet card-sm-mobile'
            }) | raw}}
            {% set articleCount = (dev) ? 0 : articleCount + 1 %}
            {% set cardIndex = cardIndex + 1 %}
            <hr class="divide visible-xs-block visible-sm-block">
        </div>
    {% endfor %}



{# ***********  ROW 2 COL 2  ***************
                -----------
                       | *    
                ----------- 
#}

    {# Card 7 #}
    <div class="col-xs-9 col-sm-1 col-md-3">
        {% if articles[articleCount] %}
            {{this.render('../_single-article.twig', {
                article         : articles[articleCount], 
                imageSize       : {width:300},
                site            : site,
                swap            : false,
                dev             : dev,
                position        : cardIndex,
                containerClass  : 'card-sm-wide feature-side-tablet card-sm-mobile'
            }) | raw}}
            {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
            {% set cardIndex = cardIndex + 1 %}
            
            <hr class="divide visible-xs-block visible-sm-block">
        {% endif %}

    </div>
</div>






{# ********************
        ROW 3
******************** #}

<div class="row u-desktop-margin-top-40">
    
{# ***********  ROW 3 COL 1,2  *************** #}
{# 
    -----------
     * | * |     
    ----------- 
#}
    <div class="col-md-6 col-sm-9">
        <div class="row sm-two-cols">

            {# Cards 8,9,10,11 #}
            {# {% set classes= ['4','5','5','5'] %} #}
            {% for i in 0..3 if articles[articleCount] %}
                <div class="col-xs-9 col-sm-1 col-md-3 desktop-split">
                    {% set theDivider = [' divideright','',' divideright',''] %}
                    {{this.render('../_single-article.twig', {
                        article         : articles[articleCount], 
                        imageSize       : {width:80, height:90},
                        site            : site,
                        swap            : false,
                        dev             : dev,
                        position        : cardIndex,
                        containerClass  : 'feature-side feature-side-tablet card-sm-mobile' 
                    }) | raw}}
                    {% set articleCount = (dev) ? 0 : articleCount + 1 %}
                    {% set cardIndex = cardIndex + 1 %}
                    {% if i == 1 %}
                            <hr class="divide18 hidden-xs hidden-sm">
                            <hr class="divide visible-xs-block visible-sm-block">
                        </div>
                        <div class="col-sm-1 visible-sm-block">
                                <div class='advert-tablet' data-adsize="mrec"></div>
                        </div>
                        <hr class="divide visible-sm-block">
                    {% elseif i == 2 %}
                            <hr class="divide visible-xs-block visible-sm-block">
                        </div>
                    {% elseif i == 0 %}
                            <hr class="divide18 hidden-xs hidden-sm">
                            <hr class="divide visible-xs-block">
                        </div>
                    {% elseif i == 3 %}
                            <div class="row">
                                <hr class="divide visible-xs-block">
                            </div>
                            <hr class="divide visible-sm-block">
                        </div>
                        {# <hr class="divide10 visible-sm-block col-sm-9 space-only"> #}
                    {% endif %} 
                    
                                        
            {% endfor %}
        </div>
    </div>



{# ***********  ROW 3 COL 3  *************** 
                -----------
                   |   | *    
                ----------- 
#}
    <div class="col-md-3 col-xs-9 ad-square hidden-sm">
            <div class='advert-desktop advert-mobile' data-adsize="mrec"></div>
    </div>
    
</div>







{# ********************
        ROW 4
******************** #}

<div class="row u-desktop-margin-top-15 sm-two-cols">
    <hr class="divide visible-xs-block">
    


{# ***********  ROW 4 COL 1  ***************
                -----------
                 * |   |     
                ----------- 
#}
    {# Card 12 #}
    <div class="col-sm-1 col-md-3 col-xs-9">

        {% if articles[articleCount] %}
                
            {{this.render('../_single-article.twig', {
                article         : articles[articleCount], 
                imageSize       : {width:300},
                site            : site,
                swap            : false,
                dev             : dev,
                position        : cardIndex,
                containerClass  : 'card-sm-wide card-sm-wide-tablet card-sm-mobile'
            }) | raw}}
            {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
            {% set cardIndex = cardIndex + 1 %}
            
            <hr class="divide visible-xs-block">
        {% endif %}

    </div>


{# ***********  ROW 4 COL 2,3  ***************
                -----------
                   | * | *   
                ----------- 
#}
    {# Cards 13,14,15,16 #}
    {% for i in 0..3 if articles[articleCount] %}

        {# {% set classes= ['4','4', '5', '4'] %} #}

        <div class="col-xs-9 col-sm-1 col-md-3 ">

            {{this.render('../_single-article.twig', {
                article         : articles[articleCount], 
                imageSize       : {width:80, height:90},
                site            : site,
                swap            : false,
                dev             : dev,
                position        : cardIndex,
                containerClass  : 'feature-side feature-side-tablet card-sm-mobile '
            }) | raw}}
            {% set articleCount = (dev) ? 0 : articleCount + 1 %}
            {% set cardIndex = cardIndex + 1 %}

            {% if i < 2 %}
                <hr class="divide18 hidden-xs">
                <hr class="divide visible-xs-block">
            {% elseif i == 3 %}
                <div class="row visible-xs-block">
                    <hr class="divide">
                </div>
            {% else %}
                <hr class="divide visible-xs-block">
            {% endif %}
        </div>                         
    {% endfor %}

</div>

