{% set articleCount = 0 %}

{% set date = date() %}
{% set events = _Event.getEvents({"limit": 4, "start_date": date.date | split(" ")[0]}) %}



<section class="row" data-template="section-09">
    <div class="col-sm-9 section-header">
        <p><a class="{{site}}" href="{{link}}">View All</a></p>
        <div class="hk">
            <h2>{{ title }}</h2>
            <p></p>
        </div>
    </div>

   

    <div>    
        
        <div class="col-sm-6">
            <div class="row sm-two-cols">
                {% for i in 0..2 if articles[articleCount] %}
                    {% set tabCard = [' card-sm-tablet',' feature-side-tablet',' feature-side-tablet'] %}
                    <div class="col-md-3 col-sm-1">
                    {{this.render('../_single-article.twig', {
                        article: articles[articleCount], 
                        imageSize: {width:192, height: 160},
                        site: site,
                        containerClass: 'card-sm card-sm-mobile' ~ tabCard[i]
                    }) | raw}}
                    {% set articleCount = (dev) ? 0 : articleCount + 1 %}
                    <hr class="divide visible-xs-block">
                    {% if i == 1 %}<hr class="divide visible-sm-block">{% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>






        <div class="col-sm-3 mini-events">
            <a class=" {{ site }}" href="{{networkData.defaultBlogUrl}}/@events">View All</a>
                <a href="{{networkData.defaultBlogUrl}}/@events"><h2 class="">EVENTS</h2></a>
            {% for i in 3..0 if events[i] %}
                {{this.render('../_single-event.twig', {
                    event: events[i],
                    imageSize: {width: 37, height: 37},
                    site: site,
                    containerClass: 'card-event card-event-tablet card-event-mobile'
                }) | raw}}
                    <hr class="divide12">
            {% endfor %}
            
        </div>
    </div>
    </section>
