{% set articleCount = 0 %}
{% set cardIndex = 1 %}

<div class="row">
    <div class="col-sm-9 section-header">
        <p><a href="{{link}}">View All</a></p>
        <div class="hk">
            <h2>{{ title }}</h2>
            <p></p>
        </div>
    </div>
</div>




{# ********************
        ROW 1
******************** #}

<div class="row">
    <div class="col-xs-9 col-sm-9 col-md-6">
        
        {% if articles[articleCount] %}                                                                
            {{this.render('../_single-article.twig', {
                article         : articles[articleCount], 
                imageSize       : {width:640, height:400},
                site            : site,
                swap            : false,
                dev             : dev,
                position        : cardIndex,
                containerClass  : 'home-feature home-feature-tablet home-feature-mobile'
            }) | raw}}
            {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
            {% set cardIndex = cardIndex + 1 %}

        {% endif %}




        {# ********************
                ROW 2
        ******************** #}

        <div class="row u-margin-top-30">
            {% for i in 0..1 if articles[articleCount] %}
                {% set theDivider = [' divideright',''] %}
                    
                {% if i == 0 %}
                    <div class="col-sm-5 col-xs-9">
                {% else %}
                    <div class="col-sm-4 col-xs-9">
                {% endif %}
                
                    {{this.render('../_single-article.twig', {
                        article         : articles[articleCount],
                        imageSize       : {width:95},
                        site            : site,
                        swap            : false,
                        dev             : dev,
                        position        : cardIndex,
                        containerClass  : 'feature-side feature-side-tablet card-sm-mobile' ~ theDivider[i]
                    }) | raw}}
                    {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
                    {% set cardIndex = cardIndex + 1 %}
                    <hr class="divide visible-xs-block">
                </div>
            {% endfor %}
        </div>



        {# ********************
                ROW 3
        ******************** #}

        <div class="row u-margin-top-40 u-mobile-no-margin-top">
            {% if articles[articleCount] %}     
                <div class="col-sm-6 col-xs-9">
                    {{this.render('../_single-article.twig', {
                        article         : articles[articleCount],
                        imageSize       : {width:414, height:255},
                        site            : site,
                        swap            : false,
                        dev             : dev,
                        position        : cardIndex,
                        containerClass  : 'home-feature-xs home-feature-tablet home-feature-mobile'
                    }) | raw}}
                    {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
                    {% set cardIndex = cardIndex + 1 %}
                    <hr class="divide visible-xs-block">
                </div>
            {% endif %}



            {% if articles[articleCount] %}     
                <div class="col-sm-3 col-xs-9">
                    {{this.render('../_single-article.twig', {
                        article         : articles[articleCount],
                        imageSize       : {width:195},
                        site            : site,
                        swap            : false,
                        dev             : dev,
                        position        : cardIndex,
                        containerClass  : 'card-sm card-sm-tablet card-sm-mobile'
                    }) | raw}}
                    {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
                    {% set cardIndex = cardIndex + 1 %}
                    <div class="row">
                        <hr class="divide visible-xs-block">
                    </div>
                </div>
            {% endif %}
        </div>

    </div>







{# ********************
        Column 2
******************** #}
    <div class="col-xs-9 col-sm-9 col-md-3 sm-two-cols">
        <div class="row">
            <div class="col-sm-9 ad-square u-margin-bottom-30 u-mobile-no-margin-bottom">
                 <div id='{{ ad }}' class='advert'></div>
            </div>

            <hr class="divide visible-xs-block">

            {% for i in 0..3 if articles[articleCount] %}
                <div class="col-sm-9 col-xs-9">
                    {{this.render('../_single-article.twig', {
                        article         : articles[articleCount],
                        imageSize       : {width:95},
                        site            : site,
                        swap            : false,
                        dev             : dev,
                        position        : cardIndex,
                        containerClass  : 'feature-side feature-side-tablet card-sm-mobile'
                    }) | raw}}
                    {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
                    {% set cardIndex = cardIndex + 1 %}

                    {% if i < 3 %}
                        <hr class="divide visible-xs-block">
                        <hr class="divide24 hidden-xs">                               
                    {% endif %}
                </div>

            {% endfor %}
        </div>
    </div>
</div>