{% set articleCount = 0 %}

<section class="row">
    <div class="col-sm-9 section-header">
        <p><a class="{{site}}" href="{{link}}">View All</a></p>
        <div class="hk">
            <h2>{{ title }}</h2>
            <p></p>
        </div>
    </div>


    {% for i in 0..2 if articles[articleCount] %}
        <div class="col-sm-3 col-md-2 col-xs-9">
                {{this.render('../_single-article.twig', {
                article: articles[articleCount], 
                imageSize: {width:300},
                site: site,
                containerClass: 'card-sm card-sm-tablet card-sm-mobile'
            }) | raw}}
                    <hr class="divide visible-xs-block">
            {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
        </div>
    {% endfor %}




    <div class="col-md-3 col-sm-9 sm-two-cols u-tablet-margin-top-30">

        <div class="row">
            {% for i in 0..1 if articles[articleCount] %}
                <div class="col-md-9 col-sm-1 col-xs-9">
                    {{this.render('../_single-article.twig', {
                        article: articles[articleCount], 
                        imageSize: {width:300},
                        site: site,
                        containerClass: 'feature-side feature-side-tablet card-sm-mobile'
                    }) | raw}}
                    {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
                    
                    {% if i == 1 %}
                        <hr class="divide visible-xs-block">
                    {% else %}
                        <hr class="divide hidden-sm">
                    {% endif %}
                </div>
            {% endfor %}
        </div>

    </div>
</section>