{% set articleCount = 0 %}
    
<section class="row">
    <div class="col-sm-9 section-header">
        <p><a href="{{articles.link}}">View All</a></p>
        <div class="hk">
            <h2>{{ title }}</h2>
            <p></p>
        </div>
    </div>

    <div class="col-md-9 col-sm-9">
        <div class="row">
            <div class="col-sm-4 col-xs-9">
                {% if articles.feed.articles[articleCount] %}
                    {{this.render('../_single-article.twig', {
                        article: articles.feed.articles[articleCount], 
                        imageSize: {width:414, height:255},
                        site: site,
                        containerClass: 'home-feature-xs home-feature-tablet home-feature-mobile'
                    }) | raw}}
                    {% set articleCount = (dev) ? articleCount : sectionCount + 1 %}
                {% endif %}

                <hr class="divide visible-xs-block space-only">
            </div>
            <div class="col-md-3 col-xs-9">
         
                {% if articles.feed.articles[articleCount] %}
                   
                    {{this.render('../_single-article.twig', {
                        article:        articles.feed.articles[articleCount], 
                        imageSize:      {width:300},
                        site:           site,
                        containerClass: 'card-sm-wide card-sm-wide-tablet card-sm-mobile'
                    }) | raw}}
                    {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
                    
                   <hr class="divide visible-xs-block">
                {% endif %}
            </div>
            <div class="col-md-2 col-sm-3 col-xs-9">
                {% if articles.feed.articles[articleCount] %}


                    {{this.render('../_single-article.twig', {
                        article:        articles.feed.articles[articleCount], 
                        imageSize:      {width:300},
                        site:           site,
                        containerClass: 'card-sm card-sm-tablet card-sm-mobile'
                    }) | raw}}
                    {% set articleCount = (dev) ? 0 : articleCount + 1 %}
                    <hr class="divide visible-xs-block">

                {% endif %}

            </div>
        </div>
    </div>
    <div class="col-md-9 col-sm-9">
        <div class="row u-margin-top-40">
            {% for i in 0..2 if articles.feed.articles[articleCount] %}
                <div class="col-md-2 col-sm-3 col-xs-9">
                    {{this.render('../_single-article.twig', {
                        article:        articles.feed.articles[articleCount], 
                        imageSize:      {width:300},
                        site:           site,
                        containerClass: 'card-sm card-sm-tablet card-sm-mobile'
                    }) | raw}}
                    {% set articleCount = (dev) ? 0 : articleCount + 1 %}
                    <hr class="divide visible-xs-block">
                </div>
            {% endfor %}
            <div class="col-sm-3 col-xs-9">
                 {% if articles.feed.articles[articleCount] %}
                       
                        {{this.render('../_single-article.twig', {
                            article:        articles.feed.articles[articleCount], 
                            imageSize:      {width:300},
                            site:           site,
                            containerClass: 'card-sm-wide card-sm-wide-tablet card-sm-mobile'
                        }) | raw}}
                        {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
                        
                       <hr class="divide visible-xs-block">
                    {% endif %}
            </div>
        </div>
    </div>
    <div class="col-md-9 col-sm-9">
        <div class="row u-margin-top-40">
            {% for i in 0..2 if articles.feed.articles[articleCount] %}
                <div class="col-md-2 col-sm-3 col-xs-9">
                    {{this.render('../_single-article.twig', {
                        article:        articles.feed.articles[articleCount], 
                        imageSize:      {width:300},
                        site:           site,
                        containerClass: 'card-sm card-sm-tablet card-sm-mobile'
                    }) | raw}}
                    {% set articleCount = (dev) ? 0 : articleCount + 1 %}
                    <hr class="divide visible-xs-block">
                </div>
            {% endfor %}
            <div class="col-sm-3 ad-square">
                 <div id='{{ ad }}' class='advert'></div>
            </div>
        </div>
    </div>

    <div class="col-md-9 col-sm-9">
        <div class="row u-margin-top-40">
            <div class="col-sm-3 col-xs-9">
                {% if articles.feed.articles[articleCount] %}
                       
                    {{this.render('../_single-article.twig', {
                        article:        articles.feed.articles[articleCount], 
                        imageSize:      {width:300},
                        site:           site,
                        containerClass: 'card-sm-wide card-sm-wide-tablet card-sm-mobile'
                    }) | raw}}
                    {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
                    
                   <hr class="divide visible-xs-block">
                {% endif %}
            </div>
            {% for i in 0..3 if articles.feed.articles[articleCount] %}
                <div class="col-md-3 col-sm-3 col-xs-9">
                    {% set theDivider = [' divideright','',' divideright',''] %}
                    {{this.render('../_single-article.twig', {
                        article:        articles.feed.articles[articleCount], 
                        imageSize:      {width:300},
                        site:           site,
                        containerClass: 'feature-side feature-side-tablet card-sm-mobile' ~ theDivider[i]
                    }) | raw}}
                    {% set articleCount = (dev) ? 0 : articleCount + 1 %}
                    <hr class="divide visible-xs-block">
                    <hr class="divide15 hidden-xs space-only">
                </div>
            {% endfor %}
        </div>
    </div>

</section>