{% set articleCount = 0 %}

<section class="row" data-section="23">
    <div class="col-sm-12 col-xs-12 section-header">
        <p><a class="{{site}}" href="{{link}}">View All</a></p>
        <div class="hk">
            <h2>{{ title }}</h2>
            <p></p>
        </div>
    </div>


    <div class="col-md-2 col-sm-12 col-xs-12 sm-two-cols">
        <div class="row">
            {% if articles[articleCount] %}
                    {{this.render('../_single-article.twig', {
                    article: articles[articleCount], 
                    imageSize: {width:300},
                    site: site,
                    containerClass: 'col-sm-1 col-md-12 card-sm card-sm-wide-tablet card-sm-mobile'
                }) | raw}}
                         <div class="col-xs-12 visible-xs-block"><hr class="divide"></div>
                {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
            {% endif %}
            <div class="col-sm-1 visible-sm-block">
                <div class="ad-square">
                    <div class='advert-tablet' data-adsize="mrec"></div>
                </div>
            </div>
        </div>
    </div>


    <div class="col-sm-12 col-md-4 col-xs-12 two-cols u-tablet-margin-top-30">
        <div class="row">
            {% if articles[articleCount] %}
                <div class="col-md-1 col-sm-1 col-xs-12">
                    {{this.render('../_single-article.twig', {
                    article: articles[articleCount], 
                    imageSize: {width:300},
                    site: site,
                    containerClass: 'card-sm feature-side-tablet card-sm-mobile'
                }) | raw}}
                        <hr class="divide visible-xs-block">
                {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
                </div>
            {% endif %}



            {% if articles[articleCount] %}
                <div class="col-md-1 col-sm-1 col-xs-12">
                        {{this.render('../_single-article.twig', {
                        article: articles[articleCount], 
                        imageSize: {width:300},
                        site: site,
                        containerClass: 'card-sm feature-side-tablet card-sm-mobile'
                    }) | raw}}
                        <div class="row">
                            <hr class="divide visible-xs-block">
                        </div>
                    {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
                </div>
            {% endif %}
        </div>
    </div>

    <div class="col-md-3 hidden-sm col-xs-12">
        <div class="ad-square">
            <div class='advert-desktop advert-mobile' data-adsize="mrec"></div>
        </div>
    </div>
</section>