{% set articleCount = 0 %}
{% set cardIndex = 1 %}

<div class="row">
    <div class="col-sm-9 section-header">
        <p><a href="{{link}}">View All</a></p>
        <div class="hk">
            <h2>{{ title }}</h2>
            <p></p>
        </div>
    </div>
</div>




{# ********************
        ROW 1
******************** #}

<div class="row">
    <div class="col-xs-9 col-sm-9 col-md-6">
        
        {# Card 1 #}
        {% if articles[articleCount] %}                                                                
            {{this.render('../_single-article.twig', {
                article         : articles[articleCount], 
                imageSize       : {width:640, height:400},
                site            : site,
                swap            : false,
                dev             : dev,
                position        : cardIndex,
                containerClass  : 'home-feature home-feature-tablet home-feature-mobile'
            }) | raw}}
            {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
            {% set cardIndex = cardIndex + 1 %}

        {% endif %}




        {# ********************
                ROW 2
        ******************** #}

        <div class="row u-margin-top-30 two-cols-tablet-up">

            {# Cards 2,3 #}
            {% for i in 0..1 if articles[articleCount] %}
                    
                
                    <div class="col-sm-1 col-xs-9">
                    {{this.render('../_single-article.twig', {
                        article         : articles[articleCount],
                        imageSize       : {width:95},
                        site            : site,
                        swap            : false,
                        dev             : dev,
                        position        : cardIndex,
                        containerClass  : 'feature-side feature-side-tablet card-sm-mobile'
                    }) | raw}}
                    {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
                    {% set cardIndex = cardIndex + 1 %}
                    <hr class="divide visible-xs-block visible-sm-block">
                    <hr class="divide15 visible-md-block visible-lg-block space-only">
                </div>
            {% endfor %}
        </div>



        {# ********************
                ROW 3
        ******************** #}

        <div class="row two-cols-tablet ">


            {# Cards 4 #}
            {% if articles[articleCount] %}     
                <div class="col-sm-1 col-md-6 col-xs-9">
                    {{this.render('../_single-article.twig', {
                        article         : articles[articleCount],
                        imageSize       : {width:414, height:255},
                        site            : site,
                        swap            : false,
                        dev             : dev,
                        position        : cardIndex,
                        containerClass  : 'home-feature-xs feature-side-tablet home-feature-mobile'
                    }) | raw}}
                    {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
                    {% set cardIndex = cardIndex + 1 %}
                    <hr class="divide visible-xs-block">
                </div>
            {% endif %}


            {# Cards 5 #}
            {% if articles[articleCount] %}     
                <div class="col-sm-1 col-md-3 col-xs-9">
                    {{this.render('../_single-article.twig', {
                        article         : articles[articleCount],
                        imageSize       : {width:195},
                        site            : site,
                        swap            : false,
                        dev             : dev,
                        position        : cardIndex,
                        containerClass  : 'card-sm feature-side-tablet card-sm-mobile'
                    }) | raw}}
                    {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
                    {% set cardIndex = cardIndex + 1 %}
                    <div class="row">
                        <hr class="divide visible-xs-block">
                    </div>
                    <hr class="divide visible-sm-block">
                </div>
            {% endif %}
        </div>

    </div>







{# ********************
        Column 2
******************** #}
    <div class="col-xs-9 col-sm-9 col-md-3">
        <div class="row sm-two-cols">
            <div class="col-md-9 col-sm-1 col-xs-9 ad-square">
                 <div class='advert-desktop advert-mobile advert-tablet' data-adsize="mrec"></div>
                 <hr class="divide15 visible-lg-block visible-md-block space-only">
            </div>

            <hr class="divide visible-xs-block col-xs-9">
            <hr class="divide15 visible-lg-block visible-md-block space-only">


            {# Cards 6,7,8,9 #}
            {% for i in 0..3 if articles[articleCount] %}
                <div class="col-md-9 col-sm-1 col-xs-9">
                    {{this.render('../_single-article.twig', {
                        article         : articles[articleCount],
                        imageSize       : {width:95},
                        site            : site,
                        swap            : false,
                        dev             : dev,
                        position        : cardIndex,
                        containerClass  : 'feature-side feature-side-tablet card-sm-mobile'
                    }) | raw}}
                    {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
                    {% set cardIndex = cardIndex + 1 %}

                    {% if i < 2 %}
                        <hr class="divide visible-xs-block">
                        <hr class="divide24 hidden-xs">
                    {% elseif i == 2 %}
                        <hr class="divide visible-xs-block">
                        <hr class="divide24 hidden-xs hidden-sm">
                    {% endif %}
                </div>

            {% endfor %}
        </div>
    </div>
</div>