{% set articleCount = 0 %}
    
<section class="row">
    <div class="col-sm-9 section-header">
        <p><a href="{{link}}">View All</a></p>
        <div class="hk">
            <h2>{{ title }}</h2>
            <p></p>
        </div>
    </div>

    <div class="col-md-9 col-sm-9">
        <div class="row">
            <div class="col-sm-9 col-md-6">
                {% if articles[articleCount] %}
                    {{this.render('../_single-article.twig', {
                        article: articles[articleCount], 
                        position: articleCount + 1, 
                        imageSize: {width:640, height:400},
                        site:site,
                        containerClass: 'home-feature-sm home-feature-mobile'
                    }) | raw}}
                    {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
                {% endif %}
                <div class="row u-margin-top-30">
                    {% for i in 0..2 if articles[articleCount] %}
                        <div class="col-sm-3 col-xs-9">
                            {{this.render('../_single-article.twig', {
                                article: articles[articleCount], 
                                imageSize: {width:300},
                                site:site,
                                containerClass: 'card-sm card-sm-tablet card-sm-mobile'
                            }) | raw}}
                            {% set articleCount = (dev) ? 0 : articleCount + 1 %}
                                <hr class="divide visible-xs-block"> 
                            </div>
                                                       
                    {% endfor %}
                </div>

                <div class="row u-margin-top-30 u-mobile-no-margin-top">
                    <div class="col-sm-4 col-xs-9">
                        {% for i in 0..1 if articles[articleCount] %}
                                {% set cardClassOne = ['feature-side feature-side-tablet ','card-sm-wide card-sm-wide-tablet '] %}
                                {{this.render('../_single-article.twig', {
                                    article: articles[articleCount], 
                                    imageSize: {width:300},
                                    site:site,
                                    containerClass: cardClassOne[i] ~ 'card-sm-mobile'
                                }) | raw}}
                                {% set articleCount = (dev) ? 0 : articleCount + 1 %}
                                <hr class="divide visible-xs-block"> 
                                {% if i < 1 %}
                                <hr class="divide10 space-only hidden-xs">
                                {% endif %}                                  
                        {% endfor %}
                    </div>
                    <div class="col-sm-5 col-xs-9">
                        {% for i in 0..2 if articles[articleCount] %}
                                {{this.render('../_single-article.twig', {
                                    article: articles[articleCount], 
                                    imageSize: {width:300},
                                    site:site,
                                    containerClass: 'feature-side feature-side-tablet card-sm-mobile'
                                }) | raw}}
                                {% set articleCount = (dev) ? 0 : articleCount + 1 %}
                                {% if i < 2 %}
                                <hr class="divide18 hidden-xs">
                                {% endif %} 
                                <hr class="divide visible-xs-block">                            
                        {% endfor %}
                    </div>
                </div>
            </div>


            <div class="col-sm-9 col-md-3">
                <hr class="divide15 visible-sm-block space-only">

                <div class="row three-cols">
                    {% for i in 0..2 if articles[articleCount] %}
                        <div class="col-md-2 col-sm-1">
                            {{this.render('../_single-article.twig', {
                                article: articles[articleCount], 
                                imageSize: {width:300},
                                site:site,
                                containerClass: 'card-sm-wide card-sm-wide-tablet card-sm-mobile'
                            }) | raw}}
                            {% set articleCount = (dev) ? 0 : articleCount + 1 %} 
                            {% if i == 2 %}                                
                                </div>
                                <hr class="divide visible-xs-block"> 
                            {% else %}
                                    <hr class="divide10 space-only hidden-xs"> 
                                    <hr class="divide visible-xs-block">
                                </div>
                            {% endif %}                                                
                    {% endfor %}
                </div>

                <div class="ad-square {{ site }} u-margin-top-30 u-mobile-no-margin-top">
                     <div id='{{ ad }}' class='advert'></div>
                </div>
            </div>

        </div>
    </div>
</section>