{% set desktopCount = 0 %}
{% set tabletCount  = 0 %}
{% set mobileCount  = 0 %}

<section class="row">
    <div class="col-md-9 col-sm-9 section-header">
        <p><a class="{{site}}" href="{{link}}">View All</a></p>
        <div class="hk">
            <h2>{{title}}</h2>
            <p></p>
        </div>
    </div>



<!-- desktop -->
    <div class="visible-md-block visible-lg-block">
        {% set opinionClass = ["col-md-2", "col-md-2", "col-md-2", "col-md-3"] %}

        {% for i in 0..3 if articles[desktopCount] %}
            {% set finalClass = (i == 3) ? 'final' : '' %}
            <div class="{{opinionClass[i]}}">

                {{this.render('../_single-article.twig', {
                    article:        articles[desktopCount], 
                    imageSuppress:  true,
                    containerClass: 'card-opinion card-opinion-tablet card-opinion-mobile ' ~ finalClass
                }) | raw}}
                {% set desktopCount = (dev) ? 0 : desktopCount + 1 %}

                <hr class="divide visible-xs-block">

            </div>
        {% endfor %}
    </div>




<!-- tablet -->
    <div class="visible-sm-block">
        {% for i in 0..2 if articles[tabletCount] %}
            {% set finalClass = (i == 2) ? 'final' : '' %}
            <div class="col-sm-3">

                {{this.render('../_single-article.twig', {
                    article:        articles[tabletCount], 
                    imageSuppress:  true,
                    containerClass: 'card-opinion card-opinion-tablet card-opinion-mobile ' ~ finalClass
                }) | raw}}
                {% set tabletCount = (dev) ? 0 : tabletCount + 1 %}

                <hr class="divide visible-xs-block">

            </div>
        {% endfor %}
    </div>
<!-- mobile -->
    <div class="visible-xs-block">
        {% set opinionClass = ["col-md-2", "col-md-2", "col-md-2", "col-md-3"] %}

        {% for i in 0..3 if articles[mobileCount] %}
            {% set finalClass = (i == 0) ? 'final' : '' %}
            <div class="{{opinionClass[i]}}">

                {{this.render('../_single-article.twig', {
                    article:        articles[mobileCount], 
                    imageSuppress:  true,
                    containerClass: 'card-opinion card-opinion-tablet card-opinion-mobile ' ~ finalClass
                }) | raw}}
                {% set mobileCount = (dev) ? 0 : mobileCount + 1 %}

                <hr class="divide visible-xs-block">

            </div>
        {% endfor %}
    </div>

</section>