{% set articleCount = 0 %}
    
<section class="row">
    <div class="col-sm-9 section-header">
        <p><a href="{{link}}">View All</a></p>
        <div class="hk">
            <h2>{{ title }}</h2>
            <p></p>
        </div>
    </div>

    <div>

        {# Card 1 #}
        <div class="col-md-4 col-sm-6">
            {% if articles[articleCount] %}
                {{this.render('../_single-article.twig', {
                    article:        articles[articleCount], 
                    imageSize:      {width:409, height:530},
                    site:           site,
                    position:       articleCount,
                    containerClass: 'home-feature-thin home-feature-thin-tablet home-feature-thin-mobile'
                }) | raw}}
                {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
            {% endif %}
            <hr class="divide visible-xs-block space-only">        
        </div>


        {# Card 2,3 #}

        <div class="col-md-2 col-sm-3">
            {% set cardspace = ['', 'row-space'] %}
            {% for i in 0..1 if articles[articleCount] %}

                {{this.render('../_single-article.twig', {
                    article:        articles[articleCount], 
                    imageSize:      {width:195},
                    site:           site,
                    position:       articleCount,
                    containerClass: 'card-sm card-sm-tablet card-sm-mobile ' ~ cardspace[i]
                }) | raw}}
                {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
                {% if i == 0 %}<hr class="divide visible-xs-block"> {% endif %}

            {% endfor %}

        </div>


        <hr class="divide visible-xs-block">


        <div class="col-md-3 col-sm-9">

            <div class="row">
                <hr
                <div class="ad-square col-md-9 col-sm-4">
                    <hr class="divide10 visible-sm-block space-only">
                    <div id='{{ ad }}' class='advert'></div>
                </div>
                
                
                    <hr class="divide visible-xs-block">
                    <hr class="divide10 visible-md-block visible-lg-block space-only col-md-6">
                



                {# Card 4 #}
                    {% if articles[articleCount] %}
                       
                        {{this.render('../_single-article.twig', {
                            article:        articles[articleCount], 
                            imageSize:      {width:300},
                            position:       articleCount,
                            site:           site,
                            containerClass: 'col-md-9 col-sm-5 card-sm-wide card-sm-wide-tablet card-sm-mobile'
                        }) | raw}}
                        {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
                    
                            <hr class="divide visible-xs-block">
                    {% endif %}
            </div>
        </div>
    </div>    

    <div class="col-md-9 col-sm-9">
        <div class="row u-margin-top-30 u-mobile-no-margin-top">
            
            
            
            {# Card 5 #}
            <div class="col-sm-4 col-xs-9">
                {% if articles[articleCount] %}
                    {{this.render('../_single-article.twig', {
                        article         : articles[articleCount], 
                        imageSize       : {width:414, height:255},
                        site            : site,
                        position        : articleCount,
                        containerClass  : 'home-feature-xs home-feature-tablet home-feature-mobile'
                    }) | raw}}
                    {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
                {% endif %}

               <hr class="divide visible-xs-block">
            </div>
            

            {# Card 6 #}
            <div class="col-md-2 col-sm-5 col-xs-9">
                {% if articles[articleCount] %}
                    {{this.render('../_single-article.twig', {
                        article:        articles[articleCount], 
                        imageSize:      {width:195},
                        site:           site,
                        position:       articleCount,
                        containerClass: 'card-sm feature-card-tablet card-sm-mobile'
                    }) | raw}}
                    {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
                    <hr class="divide visible-xs-block visible-sm-block">
                {% endif %}
            </div>



            {# Card 7 #}
            <div class="col-md-3 col-xs-9">
         
                {% if articles[articleCount] %}
                    {{this.render('../_single-article.twig', {
                        article:        articles[articleCount], 
                        imageSize:      {width:300},
                        site:           site,
                        position:       articleCount,
                        containerClass: 'card-sm-wide feature-card-tablet card-sm-mobile'
                    }) | raw}}
                    {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
                    
                   <hr class="divide visible-xs-block">
                {% endif %}
            </div>
        </div>
    </div>



    <div class="col-md-9 col-sm-9 u-margin-top-30 u-mobile-no-margin-top">
        <div class="row">

            {# Cards 8,9,10,11,12,13 #}
            {% for i in 0..5 if articles[articleCount] %}
                {% set theDivider = [' divideright',' divideright','',' divideright',' divideright',''] %}
                <div class="col-sm-3 col-xs-9">
                    {{this.render('../_single-article.twig', {
                        article:        articles[articleCount], 
                        imageSize:      {width:80, height:90},
                        site:           site,
                        position:       articleCount,
                        containerClass: 'feature-side feature-side-tablet card-sm-mobile' ~ theDivider[i]
                    }) | raw}}
                    {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
                    {% if i == 5 %}
                        <div class="row">
                            <hr class="divide visible-xs-block">
                        </div>
                    {% else %}
                            <hr class="divide visible-xs-block">
                            <hr class="divide15 hidden-xs space-only">
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>
</section>