{% set articleCount = (dev) ? articleCount : 0 %}

<section class="row">
    <div class="col-sm-9 section-header">
        <p><a href="{{articles.link}}">View All</a></p>
        <div class="hk">
            <h2>{{ title }}</h2>
            <p></p>
        </div>
    </div>

    {% if articles[articleCount] %}
            {{this.render('../_single-article.twig', {
            article: articles[articleCount], 
            imageSize: {width:300},
            site: site,
            containerClass: 'col-sm-3 col-md-2 card-sm card-sm-tablet card-sm-mobile'
        }) | raw}}
                <hr class="divide visible-xs-block" style="margin-left:15px;margin-right:15px;">
        {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
        {% endif %}

        {% if articles[articleCount] %}
            {{this.render('../_single-article.twig', {
            article: articles[articleCount], 
            imageSize: {width:300},
            site: site,
            containerClass: 'col-sm-2 card-sm card-sm-tablet card-sm-mobile'
        }) | raw}}
                <hr class="divide visible-xs-block" style="margin-left:15px;margin-right:15px;">
        {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
        {% endif %}

        {% if articles[articleCount] %}
            {{this.render('../_single-article.twig', {
            article: articles[articleCount], 
            imageSize: {width:300},
            containerClass: 'col-md-2 card-sm card-sm-tablet card-sm-mobile hidden-sm'
        }) | raw}}
                <hr class="divide visible-xs-block" style="margin-left:15px;margin-right:15px;">
        {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
        {% endif %}

    <div class="col-sm-3">
        <div class="ad-square">
            <div id='{{ ad }}' class='advert'></div>
        </div>
    </div>
</section>