{% set headermenu = _Menu.get({'menuType': 'header'}) %}
{% set site       = networkData.title | lower | split(" ")[0]%}



<header id="masthead" class="site-header container-fluid">

    <div id="mainHeader" class="site-header-main header__navigation showOnScroll">
        
        <div class="header-top">

            <div class="container">


                <div class="navigation-logo {{site}}">
                    <a  class="navbar-brand {{site}}" 
                        href="{{networkData.defaultBlogUrl}}" 
                        rel="Home" 
                        tabindex="-1" 
                        title="Home"
                        style="background-image:url({{networkData.templatePath}}/static/images/{{site}}-logo.svg?v=2)">
                    </a>
                </div>


                <nav class="sb-custom-menu menu-bar" id="menu-mobile">
                    <a href="#" class="mobileSearchIcon visible-xs-block visible-sm-block"></a>
                    <a href="#" class="menu-hamburger"></a>

                    <div class="menuContainer">
                        <ul id="menu-primary-menu" class="menu primary-menu">
                            <li class="menu-item-search visible-xs-block visible-sm-block">
                                <fieldset class="searchPanel">
                                    <form method="get" action="{{networkData.defaultBlogUrl}}/search">
                                        <label for="header-search" class="assistive-text sr-only">Search</label>
                                        <input type="text" class="field" name="s" id="header-search" placeholder="Search" required="">
                                        <button class="submit search-icon-mobile {{site}}" type="submit" id="mobileSearchButton"></button>
                                    </form>
                                </fieldset>  
                            </li>  


                            {% for parentItem in headermenu %}

                               {% set activeClass = (parentItem.link == _AppHelper.getServerUrl()) ? 'active' : ''%}
                               {% set externalClass = (parentItem.isExternal) ? 'external-link' : '' %}

                               <li>
                                    <a {% if "blogs" not in (parentItem.link |raw) and "more" not in (parentItem.link |raw) %}  
                                                href="{{parentItem.link | raw}}"
                                        {% endif %} 
                                        
                                        class="{{activeClass}} {{externalClass}} {{site}}" 
                                        
                                        {% if parentItem.target != "" %} 
                                            target="{{parentItem.target}}"
                                        {% endif %} 
                                            
                                            style="cursor:pointer;">

                                        {% if parentItem.label != "" %}
                                            {{parentItem.label}}
                                        {% elseif parentItem.blogTitle != "" %}
                                            {{parentItem.blogTitle}}
                                        {% elseif parentItem.pageTitle != "" %}
                                            {{parentItem.pageTitle}}
                                        {% endif %}
                                    </a>

                                     {% if parentItem.children is defined and parentItem.children | length > 0 %}
                                        <span class="list-arrow"></span>

                                        <ul class="sub-menu">
                                            {% for childItem in parentItem.children %}
                                                {% set externalClass = (childItem.isExternal) ? 'external-link' : '' %}
                                                <li class="{{site}}">
                                                    <a class="{{externalClass}}" href="{{childItem.link |raw}}" {% if childItem.target != "" %}target="{{childItem.target}}"{% endif %}>
                                                     {{ ((childItem.label is empty) ? ((childItem.pageTitle is empty) ? childItem.blogTitle : childItem.pageTitle) : childItem.label)}}
                                                    </a>
                                                </li>
                                           {% endfor %}
                                        </ul>
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </nav>
            </div><!-- .container-->  
        </div>

        {% set visibility = '' %}
        <!-- for dairy, only show the header-bottom bar above mobile -->
        {% if 'dairy' in (networkData.title | lower) %}
        {%   set visibility = ' visible-md-block visible-lg-block' %}
        {% endif %}



        <div class="header-bottom {{ visibility }} {{ site }}">

            {% if paymeter == true %}
                {% set loginPath = 'https://syncaccess-mmg-sn.syncronex.com/mmg/sn/Account/LogOn?op=signin&returnurl=' ~ networkData.defaultBlogUrl %}
                {% set logoutPath = 'https://syncaccess-mmg-sn.syncronex.com/mmg/sn/Account/LogOn?op=signout&returnurl=' ~ networkData.defaultBlogUrl ~ '/auth/logoff' %}

                {% set signUpPath = 'https://syncaccess-mmg-sn.syncronex.com/mmg/sn/Account/Register?returnurl=' ~ networkData.defaultBlogUrl %}
            
                {% if not _User.isGuest() %}
                    {% set user = _User.getUser() %}

                    <ul class="auth-links">
                        <li><a href="{{ logoutPath }}">LOG OUT</a></li>
                        <li><p href="#" class="user__login" id="profile">
                          {{ (user.firstname ~" "~ user.lastname) | truncate(15) | title}}
                        </p></li>
                    </ul> 
                    
                {% else %}
                    <ul class="auth-links">              
                        <li><a href="{{ loginPath }}">LOG IN</a></li>
                    </ul>
                {% endif %}
            {% endif %}

            <ul class="auth-links visible-md-block visible-lg-block">
                <li id="menu-item-search" class="menu-item-search">
                    <fieldset class="searchPanel">
                        <form method="get" id="searchform" action="{{networkData.defaultBlogUrl}}/search">
                            <label for="header-search" class="assistive-text sr-only">Search</label>
                            <input type="text" class="field" name="s" id="header-search" placeholder="Search" required="">
                            <button class="submit {{site}}" type="submit" id="searchsubmit"></button>
                        </form>
                    </fieldset>  

                    <a href="#" class="search-icon" id="searchOpen"><span class="icon-search icon"></span><span class="sr-only">Expand search</span></a>
                </li>  
            </ul>            
        </div>
        
        



        <div id="foldaway-panel" class="site-branding-bottom-foldaway row" >
            {# desktop foldaway #}
            <div class="header-top visible-md-block visible-lg-block">

                <div class="container">

                    <div class="navigation-logo {{site}}">
                        <a  class="navbar-brand {{site}}" 
                            href="{{networkData.defaultBlogUrl}}" 
                            rel="Home" 
                            tabindex="-1" 
                            title="Home"
                            style="background-image:url({{networkData.templatePath}}/static/images/{{site}}-logo.svg?v=2)">
                        </a>
                    </div>

                    <nav class="sb-custom-menu menu-bar" id="menu-mobile">
                        <div class="menuContainer">
                            <ul id="menu-primary-menu" class="menu primary-menu foldaway-menu">
                                   
                                   {% for parentItem in headermenu  %}

                                   {% set activeClass = (parentItem.link == _AppHelper.getServerUrl()) ? 'active' : ''%}
                                   {% set externalClass = (parentItem.isExternal) ? 'external-link' : '' %}

                                   <li>
                                        <a href="{{parentItem.link |raw}}" class="{{activeClass}} {{externalClass}} {{site}}" {% if parentItem.target != "" %}target="{{parentItem.target}}"{% endif %}>
                                            {% if parentItem.label != "" %}
                                                {{parentItem.label}}
                                            {% elseif parentItem.blogTitle != "" %}
                                                {{parentItem.blogTitle}}
                                            {% elseif parentItem.pageTitle != "" %}
                                                {{parentItem.pageTitle}}
                                            {% endif %}
                                        </a>

                                         {% if parentItem.children is defined and parentItem.children | length > 0 %}
                                            <span class="list-arrow"></span>

                                            <ul class="sub-menu">
                                                {% for childItem in parentItem.children %}
                                                    {% set externalClass = (childItem.isExternal) ? 'external-link' : '' %}
                                                    <li class="{{site}}">
                                                        <a class="{{externalClass}} {{site}}" href="{{childItem.link |raw}}" {% if childItem.target != "" %}target="{{childItem.target}}"{% endif %}>
                                                         {{ ((childItem.label is empty) ? ((childItem.pageTitle is empty) ? childItem.blogTitle : childItem.pageTitle) : childItem.label)}}
                                                        </a>
                                                    </li>
                                               {% endfor %}
                                            </ul>
                                        {% endif %}
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </nav>
                </div><!-- .container-->  
            </div>






            {# tablet foldaway #}
            <div class="header-top visible-sm-block">

                <div class="container">

                    <div class="navigation-logo {{site}}">
                        <a  class="navbar-brand {{site}}" 
                            href="{{networkData.defaultBlogUrl}}" 
                            rel="Home" 
                            tabindex="-1" 
                            title="Home"
                            style="background-image:url({{networkData.templatePath}}/static/images/{{site}}-logo.svg?v=2)">
                        </a>
                    </div>

                    <nav class="sb-custom-menu menu-bar" id="menu-mobile">
                        <a href="#" class="mobileSearchIcon visible-xs-block visible-sm-block"></a>
                        <a href="#" class="menu-hamburger"></a>

                        <div class="menuContainer">
                            <ul id="menu-primary-menu" class="menu primary-menu">
                                <li class="menu-item-search visible-xs-block visible-sm-block">
                                    <fieldset class="searchPanel">
                                        <form method="get" action="{{networkData.defaultBlogUrl}}/search">
                                            <label for="header-search" class="assistive-text sr-only">Search</label>
                                            <input type="text" class="field" name="s" id="header-search" placeholder="Search" required="">
                                            <button class="submit search-icon-mobile {{site}}" type="submit" id="mobileSearchButton"></button>
                                        </form>
                                    </fieldset>  
                                </li>    
                                                         
                                {% for parentItem in headermenu  %}

                                   {% set activeClass = (parentItem.link == _AppHelper.getServerUrl()) ? 'active' : ''%}
                                   {% set externalClass = (parentItem.isExternal) ? 'external-link' : '' %}

                                   <li>
                                        <a href="{{parentItem.link |raw}}" class="{{activeClass}} {{externalClass}} {{site}}" {% if parentItem.target != "" %}target="{{parentItem.target}}"{% endif %}>
                                            {% if parentItem.label != "" %}
                                                {{parentItem.label}}
                                            {% elseif parentItem.blogTitle != "" %}
                                                {{parentItem.blogTitle}}
                                            {% elseif parentItem.pageTitle != "" %}
                                                {{parentItem.pageTitle}}
                                            {% endif %}
                                        </a>

                                         {% if parentItem.children is defined and parentItem.children | length > 0 %}
                                            <span class="list-arrow"></span>

                                            <ul class="sub-menu">
                                                {% for childItem in parentItem.children %}
                                                    {% set externalClass = (childItem.isExternal) ? 'external-link' : '' %}
                                                    <li class="{{site}}">
                                                        <a class="{{externalClass}}" href="{{childItem.link |raw}}" {% if childItem.target != "" %}target="{{childItem.target}}"{% endif %}>
                                                         {{ ((childItem.label is empty) ? ((childItem.pageTitle is empty) ? childItem.blogTitle : childItem.pageTitle) : childItem.label)}}
                                                        </a>
                                                    </li>
                                               {% endfor %}
                                            </ul>
                                        {% endif %}
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </nav>
                </div><!-- .container-->  
            </div>            


            <div class="header-bottom {{ visibility }} {{site}}">
                {% if paymeter == true %}

                    {% set loginPath  = 'https://syncaccess-mmg-sn.syncronex.com/mmg/sn/Account/LogOn?op=signin&returnurl=' ~ networkData.defaultBlogUrl %}
                    {% set logoutPath = 'https://syncaccess-mmg-sn.syncronex.com/mmg/sn/Account/LogOn?op=signout&returnurl=' ~ networkData.defaultBlogUrl ~ '/auth/logoff' %}
                    {% set signUpPath = 'https://syncaccess-mmg-sn.syncronex.com/mmg/sn/Account/Register?returnurl=' ~ networkData.defaultBlogUrl %}
                
                    {% if not _User.isGuest() %}
                        <ul class="auth-links">
                            <li><a href="{{ logoutPath }}">LOG OUT</a></li>
                        </ul>                    
                    {% else %}
                        <ul class="auth-links">              
                            <li><a href="{{ loginPath }}">LOG IN</a></li>
                        </ul>
                    {% endif %}
                {% endif %}            

                <ul class="auth-links visible-md-block visible-lg-block">
                    <li id="menu-item-search" class="menu-item-search">
                        <fieldset class="searchPanel">
                            <form method="get" id="searchform" action="{{networkData.defaultBlogUrl}}/search">
                                <label for="header-search" class="assistive-text sr-only">Search</label>
                                <input type="text" class="field" name="s" id="header-search" placeholder="Search" required="">
                                <button class="submit {{site}}" type="submit" id="searchsubmit"></button>
                            </form>
                        </fieldset>  

                        <a href="#" class="search-icon" id="searchOpen"><span class="icon-search icon"></span><span class="sr-only">Expand search</span></a>
                    </li>  
                </ul>   

            </div>
        </div> <!-- #foldaway-panel -->






    </div><!-- .site-header-main -->
</header>

