<footer class="site-footer">
    <div class="container">        

        <div class="col-xs-9 col-md-2 col-sm-2">
            {{ this.render('header-logo.twig', {
                networkData: networkData,
            }) | raw }}
        </div>

        <div class="visible-xs-block col-xs-9">
            <hr class="divide15 space-only">
        </div>

            <div class="col-xs-9 col-md-7 col-sm-7">

                <ul class="menu">
                    {% set menuItems = blog.blogFooterMenu %}
                    {% for i in 0..2 if menuItems[i] %}

                       {% set activeClass = (menuItems[i].link == _AppHelper.getServerUrl()) ? 'active' : ''%}
                       {% set externalClass = (menuItems[i].isExternal) ? 'external-link' : '' %}

                       <li>
                            <a href="{{menuItems[i].link |raw}}" class="{{activeClass}} {{externalClass}}" {% if menuItems[i].target != "" %}target="{{menuItems[i].target}}"{% endif %}>
                                {% if menuItems[i].label != "" %}
                                    {{menuItems[i].label}}
                                {% elseif menuItems[i].blogTitle != "" %}
                                    {{menuItems[i].blogTitle}}
                                {% elseif menuItems[i].pageTitle != "" %}
                                    {{menuItems[i].pageTitle}}
                                {% endif %}
                            </a>
                        </li>
                    {% endfor %}

                    </li>
                </ul>

                <ul id="" class="menu padded">
                    {% for i in 3..5 if menuItems[i] %}
                       <li>
                            <a href="{{menuItems[i].link |raw}}" class="{{activeClass}} {{externalClass}}" {% if menuItems[i].target != "" %}target="{{menuItems[i].target}}"{% endif %}>
                                {% if menuItems[i].label != "" %}
                                    {{menuItems[i].label}}
                                {% elseif menuItems[i].blogTitle != "" %}
                                    {{menuItems[i].blogTitle}}
                                {% elseif menuItems[i].pageTitle != "" %}
                                    {{menuItems[i].pageTitle}}
                                {% endif %}
                            </a>
                        </li>
                   {% endfor %}
                </ul>

                {% if menuItems | length > 6 %}
                    <ul id="" class="menu padded">
                        {% for i in 6..8 if menuItems[i] %}
                           <li>
                                <a href="{{menuItems[i].link |raw}}" class="{{activeClass}} {{externalClass}}" {% if menuItems[i].target != "" %}target="{{menuItems[i].target}}"{% endif %}>
                                    {% if menuItems[i].label != "" %}
                                        {{menuItems[i].label}}
                                    {% elseif menuItems[i].blogTitle != "" %}
                                        {{menuItems[i].blogTitle}}
                                    {% elseif menuItems[i].pageTitle != "" %}
                                        {{menuItems[i].pageTitle}}
                                    {% endif %}
                                </a>
                            </li>
                       {% endfor %}
                    </ul>
                {% endif %}          

                <ul id="" class="menu padded">

                    {% for i in 9..9 if menuItems[i] %}
                       <li>
                            <a href="{{menuItems[i].link |raw}}" class="{{activeClass}} {{externalClass}}" {% if menuItems[i].target != "" %}target="{{menuItems[i].target}}"{% endif %}>
                                {% if menuItems[i].label != "" %}
                                    {{menuItems[i].label}}
                                {% elseif menuItems[i].blogTitle != "" %}
                                    {{menuItems[i].blogTitle}}
                                {% elseif menuItems[i].pageTitle != "" %}
                                    {{menuItems[i].pageTitle}}
                                {% endif %}
                            </a>
                        </li>
                   {% endfor %}

                    <li><a href="/contact-us" class="{{activeClass}} {{externalClass}}">CONTACT US</a></li>
                    <li><a href="/about-us" class="{{activeClass}} {{externalClass}}">ABOUT US </a></li>
                </ul>
                <ul id="" class="menu policy">
                    <li><a href="/general-use" class="{{activeClass}} {{externalClass}}">General use policy</a></li>
                    <li><a href="/privacy-policy" class="{{activeClass}} {{externalClass}}">Privacy policy</a></li>
                </ul>


            </div>

            <div class="col-xs-9 publish">
                <a href="https://publish.aap.com.au">POWERED BY AAP PUBLISH</a>1
                <p>&#169; McPherson Media Group 2017</p>
            </div>


        </div><!--row-->

    </div><!-- .container-->

    
</footer>

<div class="ad-sticky hidden-md hidden-lg" style="bottom: 0;left: 0;position: fixed;z-index: 99;width: 100%;background: #eee;">    <div id="newAdSlot" style="margin:10px auto 5px auto;"></div>
    <script>loadNextAd()</script>
</div>
